{# JSON/NDJSON preview fragment. See csv.html partial for why the stylesheet
   link is included. #}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fourcat-new.css') }}">
<div class="preview-content json-preview">
{% if truncated %}
<p class="warning-text">Note: only the first {{ "{:,}".format(truncated) }} of {{ "{:,}".format(dataset.num_rows) }} total items of this dataset are shown in this preview (~{{ ((truncated / dataset.num_rows) * 100)|round(0)|int }}%)</p>
{% endif %}
<pre>{{ json|safe }}</pre>
</div>
