/* 

See https://github.com/digitalmethodsinitiative/4cat/wiki/Exploring-and-annotating-datasets for information on how to add custom CSS.
 
 */

@font-face {
    font-family: 'IBM Plex Sans';
    src: url("../fonts/IBMPlexSans-Regular.ttf")
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    src: url("../fonts/IBMPlexSans-SemiBold.ttf")
}

body {
	background-color: #265273;
}

#metadata {
	color: white;
}

.content article {
	font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    word-break: break-word;
}

.content .posts li header {
	text-decoration: none;
	border: none;
	color: #858585;
	font-size: 14px;
}

.content .posts li {
	display: table;
	min-height: auto;
	min-width: auto;
	margin-left: 10px;
	border-radius: 5px;
	background-color: white;
}

.content .posts li.op {
	color: black;
}

.content .posts li.op .subject {
	display: block;
	font-size: 16px;
	color: black;
	font-weight: bold;
	margin-top: 10px;
}

.content .posts li.op .subject:after {
	display: none;
}

.content .posts li.op .subject_url {
	
}

.content .posts li .post-image {
	
}

.posts li .post-annotations {
	border-radius: 5px;
	background-color: #f1f8fd;
	color: #474747;
}

footer p {
	color: white;
}