.explorer-content {
	background-color: white;
	padding-top: 30px;
}

.items .item {
	font-family: Arial, sans-serif;
	font-size: 15px;
	width: 580px;
	margin: 0 auto;
	background-color: white;
	list-style-type: none;
	border: 1px solid #efefef;
	border-radius: 10px;
	min-height: 50px;
	margin-bottom: 20px;
}

.items .item .item-table {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.items .item .item-table-row {
	display: table-row;
}

.items .item .profile-picture {
	display: table-cell;
	width: 11%;
	vertical-align: top;
}

.items .item .profile-picture img {
	border-radius: 100%;
}

.items .item .item-content {
	display: table-cell;
	width: 93%;
}

.items .item header {
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.items .item header a {
	color: black;
}

.items .item .item-content {
	display: inline-block;
}

.items .item .media-container {
	margin-top: 10px;
	width: 100%;
}

.items .item .media-container img {
	width: 100%;
	border-radius: 15px;
	border: 1px solid #e1e7ea;
}

.metrics {
	margin-top: 20px;
}

.time, .metrics, .atname, .external-url a {
	color: #7a8a97;
}

.items .item .metrics {
	display: flex;
	justify-content: space-between;
}

span.hashtag {
	color: rgb(29, 155, 240);
}

.item .quote-item {
	padding: 15px 20px 15px 20px;
	border: 1px solid #efefef;
	border-radius: 10px;
	margin-top: 5px;
}


/** --------------------- *
     Annotation item elements
  * --------------------- */
.item-annotations {
    background-color: rgb(29, 155, 240);
    margin-top: 10px;
    color: white;
    border-radius: 15px;
}

.item-annotation {
    padding: 15px;
}

.item-annotation > .annotation-label {
    display: inline-block;
    text-align: right;
    width: 150px;
    margin-right: 5px;
    line-height: 1.6em;
    position: relative;
    word-break: break-all;
}

.item-annotation > .annotation-label, .item-annotation a {
	color: white;
}

.item-annotation.checkbox > .item-annotation-options {
    display: inline-block;
}

.item-annotation-options {
    display: inline-block;
    vertical-align: top;
}

.item-annotation-options > input {
    display: inline-block;
}

textarea.item-annotation-input {
	width: 60%;
}