# various temporary or downloaded files
*.pyc
*.pid
*.log
*.log.*
*.out
*.csv
*.png
*.gif
*.webm
*.db
*.lock
*.stderr
*.stdout
*.git-*
.DS_Store

# actual files that are part of 4CAT but should not be included
.current-version
config.py
deploy.sh
module_cache.pb
webtool/fourcat/js/jquery-csv-master/
webtool/fourcat/static/data/word_embeddings/
*.session
data/
webtool/fourcat/static/boards.json
webtool/pages/reject-template.md
stats.json
news.json
ANNOUNCEMENT.md

# build artefacts
startup/
build/
dist/
fourcat.egg-info/
webtool/venv/
.4cat_env/
.vscode*
.idea
.env/
*.ipynb

# do not ignore interface images
!webtool/static/img/*.png
!webtool/static/img/*.gif
!webtool/static/img/*.jpg
!webtool/static/img/favicon/*.ico
!webtool/static/img/flags/*.png
!common/assets/github-screenshots/*.png

# data files
results
snapshots
sql-queries.txt
cheat-sheet.txt
helper-scripts/threads.p
keys/
images/
sphinx-3.3.1/
sphinx/
