# various temporary or downloaded files
*.pyc
*.pid
*.log
*.csv
*.jpg
*.png
*.gif
*.webm
*.db
*.lock
*.stderr
*.stdout
*.git-*

# do not ignore interface images
!webtool/static/*.png
!webtool/static/*.gif
!webtool/static/*.jpg
!webtool/static/*.ico

# actual files that are part of 4CAT but should not be included
config.py
deploy.sh
backend/extras/sphinx.conf
webtool/venv/
webtool/fourcat/js/jquery-csv-master/.gitattributes
webtool/fourcat/js/jquery-csv-master/.gitignore
webtool/fourcat/js/jquery-csv-master/
webtool/fourcat/static/data/word_embeddings/w2v_model_all-chan-test.model
webtool/fourcat/static/data/word_embeddings/w2v_model_all-yt-rightwing-transcripts.model
webtool/fourcat/static/data/word_embeddings/
fourcat.egg-info/
data/
4cat.log.1
webtool/fourcat/static/boards.json
stats.json
startup/
build/
dist/
