# various temporary or downloaded files
*.pyc
*.pid
*.log
*.csv
*.jpg
*.png
*.gif
*.webm
*.db
*.lock
*.stderr
*.stdout
*.git-*

# actual files that are part of 4CAT but should not be included
config.py
deploy.sh