services:
  db:
    container_name: 4cat_db
    image: postgres:${POSTGRES_TAG}
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST_AUTH_METHOD=${POSTGRES_HOST_AUTH_METHOD}
    volumes:
      # - ./data/postgres/:/var/lib/postgresql/data/
      - 4cat_db:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: 4cat
    build:
      context: .
      dockerfile: docker/Dockerfile_slim
    container_name: 4cat_backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      # - ./data/datasets/:/usr/src/app/data/
      # - ./data/config/:/usr/src/app/config/
      # - ./data/logs/:/usr/src/app/logs/
      - 4cat_data:/usr/src/app/data/
      - 4cat_config:/usr/src/app/config/
      - 4cat_logs:/usr/src/app/logs/
    entrypoint: docker/docker-entrypoint.sh

  frontend:
    image: 4cat
    container_name: 4cat_frontend
    env_file:
      - .env
    depends_on:
      - db
      - backend
    ports:
      - ${SERVER_BIND_ADDRESS}:${PUBLIC_PORT}:5000
      - ${TELEGRAM_PORT}:443
    volumes:
      # - ./data/datasets/:/usr/src/app/data/
      # - ./data/config/:/usr/src/app/config/
      # - ./data/logs/:/usr/src/app/logs/
      - 4cat_data:/usr/src/app/data/
      - 4cat_config:/usr/src/app/config/
      - 4cat_logs:/usr/src/app/logs/
    command: ["docker/wait-for-backend.sh"]

volumes:
  4cat_db:
    name: ${DOCKER_DB_VOL}
  4cat_data:
    name: ${DOCKER_DATA_VOL}
  4cat_config:
    name: ${DOCKER_CONFIG_VOL}
  4cat_logs:
    name: ${DOCKER_LOGS_VOL}
