version: '3.6'

services:
  db:
    container_name: db
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST_AUTH_METHOD=${POSTGRES_HOST_AUTH_METHOD}
    volumes:
      - 4cat_db:/var/lib/postgresql/data/

  backend:
    image: 4cat
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: 4cat_backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - ${PUBLIC_API_PORT}:4444
    volumes:
      - 4cat_data:/usr/src/app/data/
      - 4cat_share:/usr/src/app/docker/shared/
    entrypoint: docker/docker-entrypoint.sh

  frontend:
    image: 4cat
    container_name: 4cat_frontend
    depends_on:
      - db
      - backend
    ports:
      - ${TELEGRAM_PORT}:443
      - ${PUBLIC_PORT}:5000
    volumes:
      - 4cat_data:/usr/src/app/data/
      - 4cat_share:/usr/src/app/docker/shared/
    entrypoint: gunicorn --worker-tmp-dir /dev/shm --workers=2 --threads=4 --worker-class=gthread --reload --bind 0.0.0.0:5000 webtool:app

volumes:
  4cat_db: {}
  4cat_data: {}
  4cat_share: {}
