# This docker-compose_public_ip.yml is specifically for quickly setting up
# 4CAT on a server and hosting AT THE IP address. I.e. http://1.2.3.4
# It was made to quickly deploy on SURF's research cloud
# https://www.surf.nl/en/research-it

# The issue this "solves" is allowing 4CAT to be deployed on an unknown
# IP address which is only provided by SURF after 4CAT deployment.

version: '3.6'

services:
  db:
    container_name: 4cat_db
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST_AUTH_METHOD=${POSTGRES_HOST_AUTH_METHOD}
    volumes:
      - 4cat_db:/var/lib/postgresql/data/

  backend:
    image: digitalmethodsinitiative/4cat:latest
    container_name: 4cat_backend
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - ${PUBLIC_API_PORT}:4444
    volumes:
      - 4cat_data:/usr/src/app/data/
      - 4cat_share:/usr/src/app/config/
      - 4cat_logs:/usr/src/app/logs/
    # The -p sets your SERVER_NAME to your public IP
    entrypoint: docker/docker-entrypoint.sh -p

  frontend:
    image: digitalmethodsinitiative/4cat:latest
    container_name: 4cat_frontend
    restart: always
    depends_on:
      - db
      - backend
    ports:
      - ${TELEGRAM_PORT}:443
      - ${PUBLIC_PORT}:5000
    volumes:
      - 4cat_data:/usr/src/app/data/
      - 4cat_share:/usr/src/app/config/
      - 4cat_logs:/usr/src/app/logs/
    command: ["docker/wait-for-backend.sh", "gunicorn", "--worker-tmp-dir", "/dev/shm", "--workers", "2", "--threads", "4", "--worker-class", "gthread", "--access-logfile", "/usr/src/app/logs/access_gunicorn.log", "--log-level", "info", "--bind", "0.0.0.0:5000", "webtool:app"]

volumes:
  4cat_db: {}
  4cat_data: {}
  4cat_share: {}
  4cat_logs: {}
