<div class="item-table">
	<div class="item-table-row">
		<div class="profile-picture">
			{% if not pseudonymised %}
			<img src="{{ item.get('author_avatar') }}">
			{% else %}
			<span title="Pseudonymous author" class="author"><i class="fa fa-user-secret tooltip-trigger"></i></span>
			{% endif %}
		</div>
		<!-- item content-->
		<div class="item-content">
			<!-- item header -->
			<header>
				<!-- Author name -->
				{% if pseudonymised %}
					<span title="Pseudonymous author" class="author">
					<i class="fa fa-user-secret tooltip-trigger"></i>
				{% else %}
					<span title="Author" class="author">
					<strong>{{ item.get("author") }}</strong> {{ item.get("author_full" )}}
				{% endif %}
				</span>
				<!-- item time -->
				<span title="Date" class="datetime">{{ item.get("timestamp") }}</span>
				<!--  -->
				<div title="Music" class="music"><i class="fa-solid fa-music"></i> {{ item.get("music_name") }} </div>
				
			</header>

			<!-- item body -->
			<span class="body">{{ item.body | social_mediafy(datasource="tiktok") | safe }}</span>
			
			<!-- Video thumbnail item -->
			<div class="item-media">
                {% if item.id in media_files %}
                    {% for media_file in media_files[item.id] %}
                        {% set filename = media_file[1] %}
                        {% set file_ext = filename.split(".")[-1].lower() %}
                        {% set dataset_key = media_file[0] %}
                        {% if file_ext == "mp4" %}
                            {% include 'explorer/media.html' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="no-media">
                    <i class="fa-solid fa-video-slash"></i> Use the <a href="/results/{{ dataset.key }}/#processor-list-item-video-downloader-tiktok">Download TikTok videos</a> processor to display videos here. If links are expired, run <a href="/results/{{ dataset.key }}/#processor-list-item-tiktok-update-filter">Recollect TikTok data</a> first.
                    </div>
                {% endif %}
			</div>
			
		</div>

		<!-- Metrics: views, likes, shares, comments -->
		<div class="metrics">
			{% if item.get("plays") %}
			<span class="views">
				<i class="fa-solid fa-eye"></i> {{ item["plays"] | numberify }}
			</span>
			{% endif %}
			{% if item.get("likes") %}
			<span class="likes">
				<i class="fa-solid fa-heart"></i> {{ item["likes"] | numberify }}
			</span>
			{% endif %}
			{% if item.get("shares") %}
			<span class="shares">
				<i class="fa-solid fa-share"></i> {{ item["shares"] | numberify }}
			</span>
			{% endif %}
			{% if item.get("comments") %}
			<span class="comments">
				<i class="fa-solid fa-comment"></i> {{ item["comments"] | numberify }}
			</span>
			{% endif %}
			<!-- Possible external link, if not pseudonymised -->
			{% if item.get("tiktok_url") and pseudonymised %}
			<span class="external-url deactivated" title="External URLs unavailable for pseudonymised datasets"><i class="fas fa-external-link-alt"></i></span>
			{% elif item.get("tiktok_url") and not pseudonymised %}
			<a href="{{ item['tiktok_url'] }}" target="_blank"><span class="external-url" title="Go to original item"><i class="fas fa-external-link-alt"></i></span></a>
			{% endif %}
		</div>
	</div>
</div>


