{% extends "layout.html" %}

{% block title %}Access tokens{% endblock %}
{% block body_class %}plain-page token-page{% endblock %}

{% block body %}
    <article>
        <section>
            <h2><span>Access tokens</span></h2>
            <p>{{ __tool_name }} has an API, which is documented with an OpenAPI-compatible specification
                <a href="{{ url_for('openapi_overview') }}">here</a>. Some API endpoints require authentication. You can generate an
                access token through which to authenticate yourself on this page. Alternatively, tokens may be requested
                programmatically via the <code>/api/request-token/</code> endpoint, when requested with a currently
                logged-in
                session.</p>

            {% if not tokens %}
                <form action="{{ url_for('request_token') }}" method="GET" class="wide">
                    <p>You currently have no active access token(s). Request one:</p>
                    <div class="form-element form-footer">
                        <input type="hidden" name="forward" value="yes">
                        <button>Request token</button>
                    </div>
                </form>
            {% else %}
                <table class="token-list">
                    <tr>
                        <th>Token</th>
                        <th>Calls so far</th>
                        <th>Expiration</th>
                    </tr>
                    {% for token in tokens %}
                        <tr>
                            <td><code>{{ token.token }}</code></td>
                            <td>{{ token.calls }}</td>
                            <td>{{ token.expires|datetime }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <p>Tokens can be passed to API calls in two ways; via a <code>GET</code> parameter, <code>access-token</code>:</p>
            <p><code>/api/endpoint?access-token=[token]</code></p>
            <p>Alternatively, you can pass it as a request header, <code>Authentication</code>:</p>
            <p><code>headers = {"Authentication": "[access-token]"}</code></p>
        </section>
    </article>
{% endblock %}
