<!-- <option value='all'>All</option>
<option value='united_states'>United States</option>
<option value='united_kingdom'>United Kingdom</option>
<option value='canada'>Canada</option> -->
<!-- <option value='australia'>Australia</option>
<option value='germany'>Germany</option> -->
<option value='NL'>Netherlands</option>
<!-- <option value='russian_federation'>Russian Federation</option>
<option value='finland'>Finland</option>
<option value='france'>France</option>
<option value='brazil'>Brazil</option>
<option value='romania'>Romania</option>
<option value='poland'>Poland</option>
<option value='sweden'>Sweden</option>
<option value='norway'>Norway</option>
<option value='pirate'>Pirate</option>
<option value='unknown'>Unknown</option>
<option value='nazi'>Nazi</option>
<option value='new_zealand'>New Zealand</option>
<option value='spain'>Spain</option>
<option value='ireland'>Ireland</option>
<option value='confederate'>Confederate</option>
<option value='fascist'>Fascist</option>
<option value='anarcho-capitalist'>Anarcho-Capitalist</option>
<option value='italy'>Italy</option>
<option value='slovenia'>Slovenia</option>
<option value='european'>European</option>
<option value='kekistani'>Kekistani</option>
<option value='serbia'>Serbia</option>
<option value='india'>India</option>
<option value='denmark'>Denmark</option>
<option value='gadsden'>Gadsden</option>
<option value='mexico'>Mexico</option>
<option value='croatia'>Croatia</option>
<option value='greece'>Greece</option>
<option value='japan'>Japan</option>
<option value='deus_vult'>DEUS VULT</option>
<option value='commie'>Commie</option>
<option value='bulgaria'>Bulgaria</option>
<option value='argentina'>Argentina</option>
<option value='tree_hugger'>Tree Hugger</option>
<option value='israel'>Israel</option>
<option value='belgium'>Belgium</option>
<option value='austria'>Austria</option>
<option value='anarchist'>Anarchist</option>
<option value='white_supremacist'>White Supremacist</option>
<option value='hungary'>Hungary</option>
<option value='switzerland'>Switzerland</option>
<option value='portugal'>Portugal</option>
<option value='democrat'>Democrat</option>
<option value='lithuania'>Lithuania</option>
<option value='black_lives_matter'>Black Lives Matter</option>
<option value='republican'>Republican</option>
<option value='czech_republic'>Czech Republic</option>
<option value='united_nations'>United Nations</option>
<option value='lgbt'>LGBT</option>
<option value='estonia'>Estonia</option>
<option value='uruguay'>Uruguay</option>
<option value='muslim'>Muslim</option>
<option value='south_africa'>South Africa</option>
<option value='latvia'>Latvia</option>
<option value='hippie'>Hippie</option>
<option value='national_bolshevik'>National Bolshevik</option>
<option value='slovakia'>Slovakia</option>
<option value='jihadi'>Jihadi</option>
<option value='catalonia'>Catalonia</option>
<option value='macedonia'>Macedonia</option>
<option value='vietnam'>Vietnam</option>
<option value='chile'>Chile</option>
<option value='ukraine'>Ukraine</option>
<option value='philippines'>Philippines</option>
<option value='saudi_arabia'>Saudi Arabia</option>
<option value='south_korea'>South Korea</option>
<option value='dominican_republic'>Dominican Republic</option>
<option value='algeria'>Algeria</option>
<option value='singapore'>Singapore</option>
<option value='malaysia'>Malaysia</option>
<option value='iceland'>Iceland</option>
<option value='bosnia_and_herzegovina'>Bosnia and Herzegovina</option>
<option value='jordan'>Jordan</option>
<option value='thailand'>Thailand</option>
<option value='hong_kong'>Hong Kong</option>
<option value='cyprus'>Cyprus</option>
<option value='peru'>Peru</option>
<option value='puerto_rico'>Puerto Rico</option>
<option value='lebanon'>Lebanon</option>
<option value='pakistan'>Pakistan</option>
<option value='colombia'>Colombia</option>
<option value='iraq'>Iraq</option>
<option value='costa_rica'>Costa Rica</option>
<option value='bangladesh'>Bangladesh</option>
<option value='georgia'>Georgia</option>
<option value='luxembourg'>Luxembourg</option>
<option value='egypt'>Egypt</option>
<option value='taiwan'>Taiwan</option>
<option value='montenegro'>Montenegro</option>
<option value='albania'>Albania</option>
<option value='venezuela'>Venezuela</option>
<option value='united_arab_emirates'>United Arab Emirates</option>
<option value='nepal'>Nepal</option>
<option value='turkey'>Turkey</option>
<option value='nigeria'>Nigeria</option>
<option value='moldova'>Moldova</option>
<option value='panama'>Panama</option>
<option value='belize'>Belize</option>
<option value='tunisia'>Tunisia</option>
<option value='trinidad_and_tobago'>Trinidad and Tobago</option>
<option value='isle_of_man'>Isle of Man</option>
<option value='kyrgyzstan'>Kyrgyzstan</option>
<option value='guatemala'>Guatemala</option>
<option value='indonesia'>Indonesia</option>
<option value='bermuda'>Bermuda</option>
<option value='botswana'>Botswana</option>
<option value='bolivia'>Bolivia</option>
<option value='paraguay'>Paraguay</option>
<option value='mauritius'>Mauritius</option>
<option value='china'>China</option>
<option value='kenya'>Kenya</option>
<option value='kuwait'>Kuwait</option>
<option value='europe'>Europe</option>
<option value='malawi'>Malawi</option>
<option value='belarus'>Belarus</option>
<option value='mongolia'>Mongolia</option>
<option value='ecuador'>Ecuador</option>
<option value='monaco'>Monaco</option>
<option value='afghanistan'>Afghanistan</option>
<option value='aland'>Aland</option>
<option value='saint_vincent_and_the_grenadines'>Saint Vincent and the Grenadines</option>
<option value='curaçao'>Curaçao</option>
<option value='cuba'>Cuba</option>
<option value='mauritania'>Mauritania</option>
<option value='kazakhstan'>Kazakhstan</option>
<option value='armenia'>Armenia</option>
<option value='guernsey'>Guernsey</option>
<option value='bahamas'>Bahamas</option>
<option value='jersey'>Jersey</option>
<option value='aruba'>Aruba</option>
<option value='el_salvador'>El Salvador</option>
<option value='sri_lanka'>Sri Lanka</option>
<option value='honduras'>Honduras</option>
<option value='malta'>Malta</option>
<option value='new_caledonia'>New Caledonia</option>
<option value='faroe_islands'>Faroe Islands</option>
<option value='cambodia'>Cambodia</option>
<option value='morocco'>Morocco</option>
<option value='angola'>Angola</option>
<option value='bhutan'>Bhutan</option>
<option value='fiji_islands'>Fiji Islands</option>
<option value='qatar'>Qatar</option>
<option value='uganda'>Uganda</option>
<option value='réunion'>Réunion</option>
<option value='cayman_islands'>Cayman Islands</option>
<option value='cameroon'>Cameroon</option>
<option value='barbados'>Barbados</option>
<option value='liechtenstein'>Liechtenstein</option>
<option value='azerbaijan'>Azerbaijan</option>
<option value='jamaica'>Jamaica</option>
<option value='libya'>Libya</option>
<option value='u.s._virgin_islands'>U.S. Virgin Islands</option>
<option value='guam'>Guam</option>
<option value='ethiopia'>Ethiopia</option>
<option value='iran'>Iran</option>
<option value='mozambique'>Mozambique</option>
<option value='seychelles'>Seychelles</option>
<option value='myanmar'>Myanmar</option>
<option value='andorra'>Andorra</option>
<option value='djibouti'>Djibouti</option>
<option value='macao'>Macao</option>
<option value='tanzania'>Tanzania</option>
<option value='palestine'>Palestine</option> -->