{% extends "layout.html" %}

{% block body_class %}plain-page frontpage {{ body_class }}{% endblock %}

{% block body %}
    <article class="with-aside">
        <section>
            <h2><span>What is {{ __tool_name }}?</span></h2>
            <p>{{ __tool_name }} is a software suite for capture and analysis of thread-based platforms, created and run
                by
                <a href="https://oilab.eu">OILab</a> at the University of Amsterdam as part of the ERC-funded
                <a href="https://www.odycceus.eu">ODYCCEUS</a> project.</p>
            <p>It is currently under development. At this time, you can use it to <a
                    href="/create-dataset/">create datasets</a> for multiple online social platforms. We welcome feedback: mail us at
                <a href="mailto:4cat@oilab.eu">4cat@oilab.eu</a>.</p>
            <h2><span>News and updates</span></h2>
            <ol class="news">
                {% if news %}
                {% for item in news %}
                <li>
                    <time>{{ item.time }}</time>
                    {{ item.text|markdown|safe }}
                </li>
                {% endfor %}
                {% else %}
                <li>You can add news for your 4CAT instance in <code>news.json</code> in the 4CAT root folder.</li>
                {% endif %}
            </ol>
        </section>

        <aside>
            <h2><span>Available data sources</span></h2>
            <p>The following data sources and boards are currently available for analysis:</p>
            <ul class="datasource-list">
                {% if stats %}
                    {% for datasource in datasources %}{% if datasource != "overall" %}
                        <li>
                            {{ stats[datasource]["name"] if "name" in stats[datasource] else datasource|capitalize }}
                            {% if "boards" in datasources[datasource] and datasources[datasource]["boards"] != "*" and datasources[datasource]["boards"] != ["*"] %}
                                <ul>
                                    {% for board in datasources[datasource]["boards"]|sort %}
                                        <li>
                                            {{ board }}
                                            {% if datasource in stats and board in stats[datasource]["boards"] %}
                                            ({{ stats[datasource]["boards"][board]["posts"]|numberify }} posts
                                            from {{ stats[datasource]["boards"][board]["first"]|datetime('%d %b %Y') }} to {{ stats[datasource]["boards"][board]["last"]|datetime('%d %b %Y'
                                            )
                                            }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}{% endfor %}
                {% else %}
                    {% for datasource in datasources %}
                        {% if "boards" in datasources[datasource] and datasources[datasource]["boards"] %}
                            <li>
                                {{ datasources[datasource].name if "name" in datasources[datasource] else datasource }}
                                <ul>
                                    {% for board in datasources[datasource]["boards"] %}
                                        <li>{{ board }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </aside>
    </article>
{% endblock %}