{% extends "layout.html" %}

{% block body_class %}plain-page frontpage {{ body_class }}{% endblock %}

{% block body %}
    <article>
        <section>
            <div>
                <h2><span>What is 4CAT?</span></h2>
                <p>4CAT is a software suite for capture and analysis of thread-based platforms, created and run by
                    <a href="https://oilab.eu">OILab</a> at the University of Amsterdam as part of the ERC-funded
                    <a href="https://www.odycceus.eu">ODYCCEUS</a> project.</p>
                <p>It is currently under development. At this time, you can use it to <a href="/tool/">query</a> select
                    boards of 4chan and 8chan. We welcome feedback: mail us at
                    <a href="mailto:4cat@oilab.eu">4cat@oilab.eu</a>.</p>
            </div>

            <div>
                <h2><span>Updates</span></h2>
                <ol>
                    <li><time>2 May 2019</time> Reddit is now available as a platform for data capture. We use the
                        <a href="https://pushshift.io">Pushshift</a> API as a dat source for this.</li>
                    <li><time>6 Feb 2019</time> Result pages now include a preview of the posts found, so you can get a
                        quick impression of what your query returned.</li>
                    <li><time>29 Jan 2019</time> We've upgraded our server hardware and rebuilt the search indexes; the
                        full corpus of posts is now once again available.</li>
                    <li><time>18 Jan 2019</time> Added 8chan as a data source. The boards <code>pol</code>,
                        <code>leftypol</code>, <code>v</code> and <code>brit</code> will be scraped.</li>
                    <li><time>11 Jan 2019</time> Added the <code>lgbt</code> board to the 4chan scraper.</li>
                </ol>
            </div>
        </section>

        <aside>
            <div>
                <h2><span>Available platforms</span></h2>
                <p>The following platforms and boards are currently available for analysis:</p>
                <ul class="platform-list">
            {% if stats %}
                {% for platform in stats %}{% if platform != "overall" %}
                    <li>
                        {{ platform }} ({{ stats[platform]["posts"]|numberify }} posts)
                        <ul>
                            <li>since {{ stats[platform]["first"]|datetime('%-d %b %Y') }}</li>
                        </ul>
                    </li>
                {% endif %}{% endfor %}
            {% else %}
                    {% for platform in boards %}
                        {% if "boards" in boards[platform] and boards[platform]["boards"] %}
                            <li>
                                {{ platform }}
                                <ul>
                                {% for board in boards[platform]["boards"] %}
                                    <li>{{ board }}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
            {% endif %}
                </ul>
            </div>
        </aside>
    </article>
{% endblock %}