<!DOCTYPE html>
<head>
	<title>{% block title %}{{ __tool_name_long }}{% endblock %} &bull; {{ __tool_name }}</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flags.css')}}">
        <link href="{{ url_for("static", filename="fontawesome/css/fontawesome.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="fontawesome/css/regular.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="fontawesome/css/solid.css") }}" rel="stylesheet">
        <link href="{{ url_for("static", filename="fontawesome/css/brands.css") }}" rel="stylesheet">

	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/svg-pan-zoom.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/fourcat.js')}}"></script>

	<!-- favicons -->
	<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon/favicon.ico')}}">
	<meta name="msapplication-TileColor" content="#485ba6">
	<meta name="msapplication-config" content="static/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- no tracking plz -->
	<meta name="robots" content="noindex">

	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="{% block body_class%}{% endblock %} style-{{ "default"|config_override("STYLE") }}" data-url-root="{{ url_for("show_frontpage") }}">
	<h1><span><a href="{{ url_for('show_frontpage') }}">{% block site_header %}{{ __tool_name_long }}{% endblock %}</a></span></h1>
	<nav class="main-nav">
		<ul>
			<li><a href="{{ url_for('show_index') }}">Create dataset</a></li>
			<li><a href="{{ url_for('show_results') }}">Past results</a></li>
			<li><a href="{{ url_for('show_frontpage') }}">About</a></li>
                        <li><a href="{{ url_for('show_page', page='faq') }}"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
            {% if current_user.is_authenticated and not current_user.is_special() %}
                <li><a href="{{ url_for('show_access_tokens') }}">API Access</a></li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_admin() %}
                <li><a href="{{ url_for('admin_frontpage') }}">Control Panel</a></li>
            {% endif %}
		</ul>
    {% if __announcement %}
        <div class="site-announcement">{{ __announcement|markdown|safe }}</div>
    {% endif %}
	</nav>

	{% block body %}
		<p>Welcome.</p>
	{% endblock %}

	<footer class="fixed-footer">
	<nav>
		<ul class="flat">
		{% if current_user.is_authenticated %}
			<li>Logged in {% if not current_user.is_special() %} as {{ current_user.get_name() }} (<a href="{{ url_for('logout') }}">Log out</a>){% else %} via {{ current_user.get_name() }}{% endif %}</li>
		{% endif %}
		  <li><a href="{{ url_for('show_page', page='citing') }}">How to cite</a></li>
		  <li><a href="{{ url_for('show_page', page='issues') }}">Report issues</a></li>
		  <li><a href="https://www.oilab.eu">Open Intelligence Lab</a>, 2018 &ndash; {{ __datenow.year }}</li>
		</ul>
	</nav>
	</footer>
</body>
