<!DOCTYPE html>
<head>
	<title>{% block title %}4CAT: Capture and Analysis Toolkit{% endblock %} &bull; 4CAT</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
{% if "default"|config_override("STYLE") == "corporate" %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/penelope.css')}}">
{% endif %}
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/fourcat.js')}}"></script>

	<!-- favicons -->
	<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon/favicon.ico')}}">
	<meta name="msapplication-TileColor" content="#485ba6">
	<meta name="msapplication-config" content="static/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="{% block body_class%}{% endblock %} style-{{ "default"|config_override("STYLE") }}">
	<h1><span><a href="/">{% block site_header %}4CAT: Capture and Analysis Toolkit{% endblock %}</a></span></h1>
	<nav class="main-nav">
		<ul>
			<li><a href="/tool/">Query</a></li>
			<li><a href="/results/">Past results</a></li>
			<li><a href="/overview/">Statistics</a></li>
			<li><a href="/">About</a></li>
			<li><a href="/page/faq/">FAQ</a></li>
            {% if current_user.is_authenticated and not current_user.is_special() %}
                <li><a href="/access-tokens">API Access</a></li>
            {% endif %}
		</ul>
	</nav>
	{% block body %}
		<p>Welcome.</p>
	{% endblock %}

	<footer class="fixed-footer">
	<nav>
		<ul class="flat">
		{% if current_user.is_authenticated %}
			<li>Logged in {% if not current_user.is_special() %} as {{ current_user.get_name() }} (<a href="/logout">Log out</a>){% else %} via {{ current_user.get_name() }}{% endif %}</li>
		{% endif %}
		  <li><a href="/page/citing">How to cite</a></li>
		  <li><a href="https://www.oilab.eu">Open Intelligence Lab</a>, 2018</li>
		</ul>
	</nav>
	</footer>
</body>