{% set navigation = namespace(current="") %}{% block breadcrumbs %}{% endblock %}{% block subbreadcrumbs %}{% endblock %}
<!DOCTYPE html>
<head>
	<title>{% block title %}{{ __user_config("4cat.name_long") }}{% endblock %} &bull; {{ __user_config("4cat.name") }}</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flags.css')}}">
    <link href="{{ url_for("static", filename="fontawesome/css/fontawesome.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="fontawesome/css/regular.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="fontawesome/css/solid.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="fontawesome/css/brands.css") }}" rel="stylesheet">

	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/svg-pan-zoom.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/fourcat.js')}}"></script>

	<!-- favicons -->
	<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon/favicon.ico')}}">
	<meta name="msapplication-TileColor" content="#485ba6">
	<meta name="msapplication-config" content="static/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- no tracking plz -->
	<meta name="robots" content="noindex">

	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="{% block body_class%}{% endblock %} style-{{ "default"|config_override("STYLE") }}" data-url-root="{{ url_for("show_frontpage") }}">
	<h1>
        <img src="{{ url_for("static", filename="img/4cat-heads.svg") }}">
        <span><a href="{{ url_for('show_frontpage') }}">{% block site_header %}{{ __user_config("4cat.name_long") }}{% endblock %}</a></span>
    </h1>
	<nav class="main-nav">
		<ul>
            {% if __user_config("privileges.can_create_dataset") %}
			    <li{% if navigation.current == "create-dataset" %} class="current"{% endif %}><a href="{{ url_for('create_dataset') }}">Create dataset</a></li>
            {% endif %}
			<li{% if navigation.current == "dataset" %} class="current"{% endif %}><a href="{{ url_for('show_results') }}">Datasets</a></li>
            <li{% if navigation.current == "datasources" %} class="current"{% endif %}><a href="{{ url_for('data_overview') }}">Data sources</a></li>
            {% if current_user.is_authenticated and not current_user.is_special and __user_config("privileges.can_create_api_token") %}
                <li{% if navigation.current == "api-access" %} class="current"{% endif %}><a href="{{ url_for('show_access_tokens') }}">API Access</a></li>
            {% endif %}
            {% if __user_cp_access %}
                <li{% if navigation.current == "control-panel" %} class="current"{% endif %}><a href="{{ url_for('admin_frontpage') }}">Control Panel</a></li>
            {% endif %}
            <li{% if navigation.current == "about" %} class="current"{% endif %}><a href="{{ url_for('show_about') }}">About</a></li>
            {% for page in __user_config("ui.nav_pages") %}
            <li{% if navigation.current == page %} class="current"{% endif %}>
                <a href="{{ url_for("show_page", page=page) }}">{% if page == "faq" %}<abbr title="Frequently Asked Questions">FAQ</abbr>{% else %}{{ page|title }}{% endif %}</a>
            </li>
            {% endfor %}
		</ul>
    {% block subnavigation %}
    {% endblock %}
    {% for notification in __notifications %}
        <div class="site-announcement">
            {{ notification.notification|markdown|safe }}
            {% if notification.allow_dismiss %}
                <a href="{{ url_for("dismiss_notification", notification_id=notification.id) }}"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Dismiss notification</span></a>
            {% endif %}
        </div>
    {% endfor %}
	</nav>

    {% block pre_body %}
    {% endblock %}

	{% block body %}
		<p>Welcome.</p>
	{% endblock %}

	<footer class="fixed-footer">
	<nav>
		<ul class="flat">
		{% if current_user.is_authenticated %}
			<li>Logged in {% if not current_user.is_special %} as {{ current_user.get_name() }} (<a href="{{ url_for('logout') }}">Log out</a>){% else %} via {{ current_user.get_name() }}{% endif %}</li>
		{% endif %}
		  <li><a href="{{ url_for('show_page', page='citing') }}">How to cite</a></li>
		  <li><a href="{{ url_for('show_page', page='issues') }}">Report issues</a></li>
          <li><abbr title="Version">v</abbr>{{ __version }}</li>
		  <li><a href="https://www.oilab.eu">OILab</a>, 2018 &ndash; {{ __datenow.year }}</li>
		</ul>
	</nav>
	</footer>
</body>
