{% extends "layout.html" %}

{% block title %}Overview{% endblock %}
{% block body_class %}plain-page markdown-page {{ body_class }}{% endblock %}

{% block body %}
    <article>
        {% for graph in graphs %}
            <h2><span>{{ graphs[graph].title }}</span></h2>
            <label class="graph-select">
                Board:
                <select class="graph-nav" name="board-{{ graph }}">
                    {% for board in graphs[graph].data %}
                        <option value="{{ board }}" data-times='{{ graphs[graph].times[board]|json|safe }}' data-values='{{ graphs[graph].data[board]|json|safe }}'>{{ board|replace('-', '/') }}</option>
                    {% endfor %}
                </select>
            </label>
            <div id="graph-{{ graph }}" class="{{ graphs[graph].type }}"></div>
        {% endfor %}
    </article>

    <script src="/static/js/highcharts-7/highcharts.js"></script>
    <script src="/static/js/highcharts-7/modules/sankey.js"></script>
    <script src="/static/js/highcharts-7/modules/exporting.js"></script>
    <script src="/static/js/graphs.js"></script>
{% endblock %}