            <li>
                <form action="/results/{{ query.key }}/postprocessors/queue/{{ processor.type }}/" method="POST">
                    <div class="postprocessor-description">
                        <em>{{ processor.name }}</em>
                        {% if inline %}
                        <button class="tooltip-trigger" aria-controls="tooltip-postprocessor-{{ item.id }}-{{ processor.type }}" aria-label="Post-processor details">?</button>
                        <p role="tooltip" id="tooltip-postprocessor-{{ item.id }}-{{ processor.type }}">
                        {% else %}:
                        {% endif %}
                        {{ processor.description }}
                        {% if processor.description[-1] != "." %}.{% endif %}
                        Output: {{ processor.extension }} file.{% if inline %}
                        </p>{% endif %}
                    </div>
                    <div class="queue-button-wrap {% if is_postprocessor_running %}hidden{% endif %}">
                        <button class="control-postprocessor">Queue</button>
                    </div>
                    {% if processor.further and part == "main" %}
                        <div class="postprocessor-tree">
                            <!-- <button class="link-like" aria-controls="postprocessor-tree-{{ processor.type }}">Show further analysis options.</button> -->
                            <span>Subsequent analyses available:</span>
                            <ul id="postprocessor-tree-{{ processor.type }}" aria-expanded="true">
                                {% for postprocessor in processor.further %}
                                    {% include "postprocessor-tree.html" %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if processor.options %}
                        <fieldset class="postprocessor-options">
                            {% for option in processor.options %}
                                {% include "postprocessor-option.html" %}
                            {% endfor %}
                        </fieldset>
                    {% endif %}
                </form>
            </li>