{% if query.num_rows > 0 %}
<section class="result-preview">
    <h3 class="blocktitle section-header"><span>Preview</span></h3>
    {% if query.num_rows > 25 %}
    <p class="glued result-warning">Preview is limited to 25 items - download the results to see all {{ query.num_rows }} posts</p>
    {% endif %}
    <ol>
    {% for post in preview %}
        <li id="post-{{ post.id }}">
            <p class="byline"><span class="author">{{ post.id }}/{{ post.author }}</span> at <time>{{ post.timestamp }}</time> in <a class="thread" href="{{ url_for('openapi_overview') }}/{{ query.parameters.datasource }}/{{ query.parameters.board }}/thread/{{ post.thread_id }}.json?format=html#post-{{ post.id }}">{{ post.thread_id }}</a></span></p>
            <div class="body">
                <p>{{ post.body|replace("\n", "<br>\n")|safe }}</p>
            </div>
        </li>
    {% endfor %}
    </ol>
    {% if query.num_rows > 25 %}
    <p class="glued result-warning">Preview is limited to 25 items - download the results to see all {{ query.num_rows }} posts</p>
    {% endif %}
</section>
{% endif %}
