{% set option_settings = processor.get_options(dataset, current_user)[option] %}
<div class="processor-option-wrap" style="display: flex; flex-wrap: wrap; margin: 0.25em;">
    <label class="option-type-{{ option_settings.type }}">
        {% if option_settings.type == "toggle" %}
            <input type="checkbox" name="option-{{ option }}"{% if option_settings.default %} checked="checked"{% endif %}>
        {% endif %}
        {{ option_settings.help }}
    </label>

    {% if option_settings.type == "string" %}
        <input{% if option_settings.min or option_settings.max %} class="numeric"{% endif %} name="option-{{ option }}" value="{{ option_settings.default }}">
    {% elif option_settings.type == "choice" %}
        <select name="option-{{ option }}">
        {% for choice in option_settings.options %}
            <option value="{{ choice }}"{% if choice == option_settings.default %} selected="selected"{% endif %}>{{ option_settings.options[choice] }}</option>
        {% endfor %}
        </select>
    {% elif option_settings.type == "multi" %}
        <div class="multichoice-wrapper" style="flex-basis: 100%;">
            <select name="option-{{ option }}" multiple="multiple">
            {% for choice in option_settings.options %}
                <option value="{{ choice }}"{% if choice in option_settings.default %} selected="selected"{% endif %}>{{ option_settings.options[choice] }}</option>
            {% endfor %}
            </select>
        </div>
    {% elif option_settings.type == "multi_select" %}
        <div class="multi-select-wrapper">
            <select name="option-{{ option }}" multiple="multiple">
            {% for choice in option_settings.options %}
                <option value="{{ choice }}"{% if choice in option_settings.default %} selected="selected"{% endif %}>{{ option_settings.options[choice] }}</option>
            {% endfor %}
            </select>
        </div>
    {% elif option_settings.type == "daterange" %}
        <div class="daterange-wrapper">
            <input name="option-{{ option }}-min_proxy" id="forminput-{{ option }}" class="input-time" type="date"
                   placeholder="dd-mm-yyyy"> to
            <input name="option-{{ option }}-max_proxy" class="input-time" type="date"
                   placeholder="dd-mm-yyyy"> <span class="red"></span>

            <input name="option-{{ option }}-min" type="hidden" value="-1">
            <input name="option-{{ option }}-max" type="hidden" value="-1">
        </div>
    {% endif %}
    {% if "tooltip" in option_settings %}
        {% set pid = uniqid() %}
        <button class="tooltip-trigger" aria-controls="tooltip-option-{{ pid }}" aria-label="Post-processor option details">?</button>
    	<p role="tooltip" id="tooltip-option-{{ pid }}">
            {{ option_settings.tooltip }}
        </p>
    {% endif %}
</div>
