{% set settings = processor.get_options()[option] %}
<div class="processor-option-wrap">
    <label class="option-type-{{ settings.type }}">
        {% if settings.type == "toggle" %}
            <input type="checkbox" name="option-{{ option }}"{% if settings.default %} checked="checked"{% endif %}>
        {% endif %}
        {{ settings.help }}
    </label>

    {% if settings.type == "string" %}
        <input{% if settings.min or settings.max %} class="numeric"{% endif %} name="option-{{ option }}" value="{{ settings.default }}">
    {% elif settings.type == "choice" %}
        <select name="option-{{ option }}">
        {% for choice in settings.options %}
            <option value="{{ choice }}"{% if choice == settings.default %} selected="selected"{% endif %}>{{ settings.options[choice] }}</option>
        {% endfor %}
        </select>
    {% elif settings.type == "multi" %}
        <div class="multichoice-wrapper">
            <select name="option-{{ option }}" multiple="multiple">
            {% for choice in settings.options %}
                <option value="{{ choice }}"{% if choice in settings.default %} selected="selected"{% endif %}>{{ settings.options[choice] }}</option>
            {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if "tooltip" in settings %}
        {% set pid = uniqid() %}
        <button class="tooltip-trigger" aria-controls="tooltip-option-{{ pid }}" aria-label="Post-processor option details">?</button>
    	<p role="tooltip" id="tooltip-option-{{ pid }}">
            {{ settings.tooltip }}
        </p>
    {% endif %}
</div>