<li{% if inline %} class="inline"{% endif %}>
    <form action="{{ url_for('show_results') }}/{{ dataset.key }}/processors/queue/{{ processor.type }}/" data-async-action="{{ url_for('queue_processor') }}" method="POST" class="processor-child-wrapper child-wrapper">

    {# The button for this processor #}
    {% set processor_options = processor.get_options(dataset, current_user) %}
    <div class="button-wrap processor-result-indicator">
        <button class="processor-queue-button{% if processor_options %} toggle-button{% endif %} {{processor.type}}-button" {% if processor_options %}aria-controls="processor-options-{{ dataset.key }}-{{ processor.type }}"{% endif %}>
            <span class="headline">
                <i class="fa fa-{% if processor_options %}cog{% else %}play{% endif %}" aria-hidden="true"></i>
            </span>
            <span class="byline">
                {% if processor_options %}Options{% else %}Run{% endif %}
            </span>
            <span class="queue-notice">
            </span>
        </button>
    </div>

    {# Processor header, showing title and description #}
    <div class="processor-header">
        <header>
            <h4>{{ processor.title }}</h4>
            
            {% if processor.references %}
            <span>
                <ul>
                    <li>
                        {% set ref_name = processor.title %}{% set ref_refs = processor.references %}{% set ref_id = processor.type %}{% include "processor-references.html" %}
                    </li>
                </ul>
            </span>
            {% endif %}

            {# 'Allows for' area to preview further analysis #}
            {% set processors_available = processor.get_available_processors(processor) %}
            {% if processors_available and processor not in processors_available %}
            <span>
                <ul>
                    <li>
                    {% include "processor-processors-available.html" %}
                    </li>
                </ul>
            </span>
            {% endif %}

            {% if not inline %}
                <p>{{ processor.description }}</p>
            {% endif %}
            {% if inline %}
                <button class="property-badge tooltip-trigger" aria-controls="tooltip-processor-{{ dataset.key }}-{{ processor.type }}" aria-label="Post-processor details">?</button>
                <p role="tooltip" id="tooltip-processor-{{ dataset.key }}-{{ processor.type }}">{{ processor.description }}</p>
            {% endif %}
        </header>

        <input type="hidden" name="key" value="{{ dataset.key }}">
        <input type="hidden" name="processor" value="{{ processor.type }}">

        {# Processor configuration #}
        {% if processor_options %}
        <div class="processor-options-wrap" aria-expanded="false" id="processor-options-{{ dataset.key }}-{{ processor.type }}">
            <fieldset class="processor-options">
                {% for option in processor_options %}
                    {% include "processor-option.html" %}
                {% endfor %}
            </fieldset>
        </div>
        {% endif %}
    </div>


    </form>
</li>
