            <li>
                <form action="/results/{{ dataset.key }}/processors/queue/{{ processor.id }}/" method="POST">
                    <div class="processor-description">
                        <em>{{ processor.name }}</em>
                        {% if inline %}
                        <button class="tooltip-trigger" aria-controls="tooltip-processor-{{ item.id }}-{{ processor.id }}" aria-label="Post-processor details">?</button>
                        <p role="tooltip" id="tooltip-processor-{{ item.id }}-{{ processor.id }}">
                        {% else %}:
                        {% endif %}
                        {{ processor.description }}
                        {% if processor.description[-1] != "." %}.{% endif %}
                        Output: <code>{{ processor.extension }}</code> file.{% if inline %}
                        </p>{% endif %}
                    </div>
                    <div class="queue-button-wrap {% if is_processor_running %}hidden{% endif %}">
                        <button class="control-processor">Queue</button>
                    </div>
                    <div class="processor-drilldown">
                    {% if processor.options %}
                        <fieldset class="processor-options">
                            <h4>Options</h4>
                            <div class="options-wrapper">
                            {% for option in processor.options %}
                                {% include "processor-option.html" %}
                            {% endfor %}
                            </div>
                        </fieldset>
                    {% endif %}
                    {% if processor.further and part == "main" %}
                        <div class="processor-tree">
                            <ul id="processor-tree-{{ processor.id }}" aria-expanded="true">
                                {% for processor in processor.further %}
                                    {% include "processor-tree.html" %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    </div>
                </form>
            </li>