{% extends "layout.html" %}

{% block title %}Create query{% endblock %}
{% block body_class %}webtool{% endblock %}

{% block body %}
		<div class='container-fluid'>
			<div class='row'>
                <form id="query-form" action="/api/queue-query/" method="POST" class='col-lg-9 topdiv'>
                    <fieldset id="whole-form">
                        <div id='panel'>
                            <div id='filterpanel'>
                                <div id='buttonselections'>
                                    <span>
                                        <span> Results are limited to 5 million rows. You can use <a href="/page/query-syntax/">advanced query syntax</a>.</span>
                                    </span>
                                </div>
                                <div id='filterinputs'>

                                    <!-- DATA SOURCE AND BOARD FILTERBOX -->
                                    <div class='filter-container'>
                                        <div class='filter-box'>
                                            <div class='filter-label'>
                                                <span>Data source:</span>
                                            </div>
                                            <div class='filter-parameters'>
                                                <select name="datasource" id='datasource-select'>
                                                    {% for datasource in boards %}
                                                        <option value="{{ datasource }}">{{ datasource }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class='filter-box'>
                                            <div class='filter-label'>
                                                <span>Board:</span>
                                            </div>
                                            <div class='filter-parameters' id='board-filter'>
                                                <input id="board-select" name="board" value="pol" placeholder="pol">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- POST BODY FILTERBOX -->
                                    <div class='filter-container'>
                                        <div class='filter-box'>
                                            <div class='filter-label'>
                                                <span>Post body:</span>
                                                </div>
                                            <div class='filter-parameters'>
                                                <input name="body_query" id='body-input' type='text' maxlength='200'>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- OP SUBJECT FILTERBOX -->
                                    <div class='filter-container'>
                                        <div class='filter-box'>
                                            <div class='filter-label'>
                                                <span>OP subject:</span>
                                            </div>
                                            <div class='filter-parameters'>
                                                <input name="subject_query" id='subject-input' type='text' maxlength='200'>
                                            </div>
                                        </div>

                                        <!-- URL FILTERBOX -->
                                        <div class='filter-box' id='control-url'>
                                            <div class='filter-label'>
                                                <span>OP URL:</span>
                                            </div>
                                            <div class='filter-parameters'>
                                                <input name="url_query" id='url_input' type='text' maxlength='5000'>
                                            </div>
                                        </div>

                                        <div class='filter-box' id="control-full-threads">
                                            <div class='filter-label'>
                                                <label for='check-full-thread'>Return full threads:</label>
                                            </div>
                                            <div class='filter-parameters'>
                                                <input name="full_thread" type='checkbox' id='check-full-thread'> (warning: slow!)
                                            </div>
                                        </div>
                                    </div>

                                    <!-- DENSE THREADS FILTERBOX -->
                                    <div class='filter-container' id="control-dense-threads">
                                        <div class='filter-box'>
                                            <div class='filter-label' id='dense-threads-filterlabel'>
                                                <input name="dense_threads" type='checkbox' id='check-dense-threads' class='input-dense' disabled>
                                                <label for='check-dense-threads'><span class='density-keyword'>keyword</span>-dense threads:</label>
                                            </div>
                                            <div class='filter-parameters'>
                                                <ul>
                                                    <li>
                                                        <label for='dense-percentage'><span class='density-keyword'>keyword</span> must appear in at least <input name="dense_percentage" id='dense-percentage' class='input-dense input-number' type='number' value='15' min='10' max='100' disabled> % of posts,</label>
                                                    </li>
                                                    <li>
                                                         <label for='dense-length'>min. thread length is <input name="dense_length" id='dense-length' class='input-dense input-number' type='number' value='30' min='10' disabled> posts</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- RANDOM SAMPLE FILTERBOX -->
                                    <div class='filter-container' id="control-random-sample">
                                        <div class='filter-box'>
                                            <div class='filter-label'>
                                                <input name='random_sample' type='checkbox' id='check-random-sample' class='random-sample'>
                                                <label for='check-random-sample'> Random post sample:</label>
                                            </div>
                                            <div class='filter-parameters'>
                                                <input name='random_amount' id='random-sample-amount' class='input-number' type='number' value='5000' min='1' max='5000000' disabled>
                                                <label for='random-sample-amount'> posts (works with date range)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- COUNTRY FILTERBOX -->
                                    <div class='filter-container' id='filter-container-country-flag'>
                                        <div class='filter-box'>
                                            <div class='filter-label'>
                                                <input name='country_check' type='checkbox' id='check-country-flag' class='country_flag'>
                                                <label for='check-country-flag'> Country flag posts:</label>
                                            </div>
                                            <div class='filter-parameters'>
                                                <ul>
                                                    <li>
                                                        <select name='country_flag' id='country_flag' class='dropdown' disabled>
                                                        {% include "country-flags.html" %}
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <input name='check_dense_country' type='checkbox' id='check-dense-country'>
                                                        <label for='check-dense-country'><span class='country-density-keyword'>Get full threads where country flag appears in at least</span> <input name="dense_country_percentage" id='dense-country-percentage' class='input-dense input-number' type='number' value='50' min='35' max='100'> % of posts</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- DATE RANGE FILTERBOX -->
                                    <div class='filter-container'>
                                        <div class='filter-box' id='filter_time'>
                                            <div class='filter-label'>
                                                <input name='use_date' type='checkbox' id='check-time'>
                                                <label for='check-time'>Date range:</label>
                                            </div>
                                            <div class='filter-parameters'>
                                                <input name='min_date' id='input-min-time' class='input-time' type='date' placeholder='dd-mm-yyyy' disabled='disabled'> to
                                                <input name='max_date' id='input-max-time' class='input-time' type='date' placeholder='dd-mm-yyyy' disabled='disabled'> <span class='red'></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button class='btn_filterbutton' id='btn_go'>Go</button>
                                    
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
				<div class='col-lg-3 topdiv'>
					<div id='submitpanel'>
						<div id='submitpaneltitle'>
							<div class='pagetitle'>
								<span id='submitheader'>RESULTS</span>
							</div>
						</div>
						<div id='submitform'>
                            <p>Results are listed in this panel. A results <a href="/results/">overview</a> is also available.</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-lg-12' id='resultsdiv'>
					<div id='resultsheader'>
						<div class='pagetitle'>
							<span id='resultsheadertext'>QUERY STATUS</span>
						</div>
					</div>
					<div id='results'>
                        <div id="query_status">
                            <div class="queue_message">
                                <span id="circle"></span>
                                <span id="queue_string">Search queue is empty</span>
                            </div>
                            <div class="status_message">
                                <span class="message">Waiting for input</span><span class="dots"></span>
                            </div>
						    <div class='loader'>
							    <span>Working... Large queries may take up to ~20 minutes.<img src='../static/img/hourglass.gif'></span>
						    </div>
                        </div>
                    </div>
                </div>
                <div id='post-preview'>
                    <!-- Post previews are added here after querying --> 
                </div>
			</div>
		</div>
	</div>
{% endblock %}