{% if settings.type == "divider" %}
        </fieldset>
        {% set fieldset.open = False %}
    {% elif settings.type == "info" %}
        <p class="form-intro">{{ settings.help|markdown|safe }}</p>
    {% else %}
        <div class="form-element{% if settings.cache %} cacheable{% endif %}"{% if settings.board_specific %} data-board-specific="{{ settings.board_specific|join('-') }}"{% endif %}>
            <label for="forminput-{{ option }}">{{ settings.help }}</label>
            <div{% if settings.type == "toggle" %} class="with-tail"{% endif %}>
        {% if settings.type == "toggle" %}
            <input name="option-{{ option }}" id="forminput-{{ option }}" type="checkbox" {% if settings.default %} checked{% endif %}>
            {% if "tooltip" in settings %}<p class="option-help">{{ settings.tooltip }}</p>{% endif %}
        {% elif settings.type == "file" %}
            <input name="option-{{ option }}" id="forminput-{{ option }}" type="file">
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
        {% elif settings.type == "string" %}
            <input name="option-{{ option }}" id="forminput-{{ option }}"{% if settings.min %} min="{{ settings.min }}"{% endif %}{% if settings.max %} max="{{ settings.max }}"{% endif %} type="{% if settings.min or settings.max %}number{% else %}text{% endif %}" value="{{ settings.default }}">
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
        {% elif settings.type == "date" %}
            <input name="option-{{ option }}_proxy" id="forminput-{{ option }}" type="date" value="{{ settings.default }}">
            <input name="option-{{ option }}" type="hidden" value="-1">
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
        {% elif settings.type == "daterange" %}
            <div class="daterange-wrapper">
                <input name="option-{{ option }}-min_proxy" id="forminput-{{ option }}" class="input-time" type="date"
                       placeholder="dd-mm-yyyy"> to
                <input name="option-{{ option }}-max_proxy" class="input-time" type="date"
                       placeholder="dd-mm-yyyy"> <span class="red"></span>

                <input name="option-{{ option }}-min" type="hidden" value="-1">
                <input name="option-{{ option }}-max" type="hidden" value="-1">
            </div>
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
        {% elif settings.type in ("json", "textarea") %}
            <textarea name="option-{{ option }}" id="forminput-{{ option }}"
                      placeholder="{{ settings.tooltip }}">{{ settings.default }}</textarea>
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
        {% elif settings.type == "choice" %}
            <select name="option-{{ option }}" id="forminput-{{ option }}">
            {% for value, label in settings.options.items() %}
                <option value="{{ value }}"{% if value == settings.default %} selected{% endif %}>{{ label }}</option>
            {% endfor %}
            </select>
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
        {% elif settings.type == "multi" %}
            <div class="multichoice-wrapper">
                <select name="option-{{ option }}" id="forminput-{{ option }}" multiple="multiple">
            {% for choice in settings.options %}
                    <option value="{{ choice }}"{% if choice in settings.default %} selected="selected"{% endif %}>{{ settings.options[choice] }}</option>
            {% endfor %}
                </select>
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
    	        <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
            </div>
        {% elif settings.type == "multi_select" %}
            <div class="multi-select-wrapper">
                <select name="option-{{ option }}" id="forminput-{{ option }}" multiple="multiple">
                {% for choice in settings.options %}
                    <option value="{{ choice }}"{% if choice in settings.default %} selected="selected"{% endif %}>{{ settings.options[choice] }}</option>
                {% endfor %}
                </select>
            {% if "tooltip" in settings %}
                <button class="tooltip-trigger" aria-controls="tooltip-option-{{ option }}" aria-label="Extended help for option">?</button>
                <p role="tooltip" id="tooltip-option-{{ option }}">
                    {{ settings.tooltip }}
                </p>
            {% endif %}
            </div>
        {% elif settings.type == "hue" %}
                <div>
                    {% set hue_id = uniqid() %}
                    <input type="range" min="0" max="360" step="1" name="option-{{ option }}" id="forminput-{{ option }}"
                           class="hue-picker" value="{{ settings.default }}" data-saturation="{% if settings.saturation %}{{ settings.saturation }}{% else %}77{% endif %}"
                           data-value="{% if settings.value %}{{ settings.value }}{% else %}46{% endif %}" data-update-background="#colour-example-{{ hue_id }}">
                    <span class="colour-example" id="colour-example-{{ hue_id }}"></span>
                </div>
        {% elif settings.type == "datasources" %}
            <div class="datasource-toggle-form">
                <input name="option-{{ option }}" type="hidden" value="{{ datasources_config|list|join(",") }}">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Data source</th>
                            <th>Expiration <button class="tooltip-trigger" aria-controls="tooltip-setting-timeout" aria-label="Extended help for option">?</button></th>
                            <th>Opt-out? <button class="tooltip-trigger" aria-controls="tooltip-setting-optout" aria-label="Extended help for option">?</button></th>
                        </tr>
                        <tr class="table-controls">
                            <td><input type="checkbox" class="copy-from d-enabled"></td>
                            <td class="italic">(change all)</td>
                            <td><input type="text" class="copy-from d-timeout"></td>
                            <td><input type="checkbox" class="copy-from d-optout"></td>
                        </tr>
                    </thead>
                    <tbody>
            {% for datasource, datasource_config in datasources_config.items() %}
                        <tr{% if expire_override and datasource in expire_override %} class="is-changed d-ignore tooltip-trigger" aria-controls="tooltip-setting-changed"{% endif %}>
                            <td>
                                <input class="copy-to d-enabled" type="checkbox" name="option-{{ option }}-enable-{{ datasource }}" id="forminput-{{ option }}-{{ datasource }}"{% if datasource_config.enabled %} checked{% endif %}>
                            </td>
                            <td>
                                <label for="forminput-{{ option }}-{{ datasource }}">{{ datasource_config.name }}</label>
                            </td>
                            <td>
                                <input class="copy-to d-timeout" type="text" name="option-{{ option }}-timeout-{{ datasource }}" value="{{ datasource_config.expires.timeout }}">
                            </td>
                            <td>
                                <input class="copy-to d-optout" type="checkbox" name="option-{{ option }}-optout-{{ datasource }}"{% if datasource_config.expires.allow_optout %} checked{% endif %}>
                            </td>
                        </tr>
            {% endfor %}
                    </tbody>
                </table>
                <p role="tooltip" class="multiple" id="tooltip-setting-timeout" aria-hidden="true">In seconds; time after which datasets are automatically deleted. 0 or empty for no expiration. WARNING: after changing, newly eligible datasets will be deleted immediately!</p>
                <p role="tooltip" class="multiple" id="tooltip-setting-optout" aria-hidden="true">Can users opt out of expiration? Overrides global setting.</p>
            </div>
        {% endif %}
            </div>
        </div>
{% endif %}