@font-face {
    font-family: "Open Sans";
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
}

* {
	font-size: 15px;
	line-height: 1.4;
}

.explorer-content {
	background-image: linear-gradient(#6ca587, #c4d18b);
	padding-top: 5px;
	padding-bottom: 20px;
}

.explorer-content ol li {
	padding: 1px;
	background: none;
}

.items .item {
	font-family: "Open Sans", Arial;
	display: block;
	position: relative;
	max-width: 580px;
	list-style-type: none;
	margin: 0 auto;
}

.items .item .item-container.new-group {
	margin-top: 6px;
}

/* Profile picture  */
.items .item .profile-picture-container {
	display: inline-block;
	width: 60px;
	vertical-align: top;
}

.profile-picture {
	background-image: linear-gradient(#389ed5, #59c8e2);
	border-radius: 100%;
	width: 50px;
    height: 50px;
    line-height: 53px;
    float: left;
    text-align: center;
}

.profile-picture .initials {
    color: white;
    font-size: 23px;
    width: 100%;
    height: 100%;
}

/* item content */
.items .item .item-content {
	display: inline-block;
	max-width: 80%;
	list-style-type: none;
	background-color: white;
	border-radius: 5px 20px 20px 5px;
	padding: 12px 17px;
	z-index: -1;
	overflow: hidden;
}

.items .item .item-content.new-group {
	border-radius: 0px 20px 20px 5px;
}

.items .item h1 {
	background-color: transparent;
	color: black;
	text-align: left;
	font-weight: bold;
}

.bubble-left {
	position: relative;
	margin-right: -5px;
	float: right;
	z-index: 0;
}

.author, .author a, .author a:hover {
	margin-bottom: 5px;
	color: #2984cd;
	font-weight: bold;
	text-decoration: none;
}

.items .item .body {
	display: inline;
	padding-top: 5px;
	padding-bottom: 5px;
}

.items .item .body a {
	color: #2984cd;
}

.items .item .reply_to {
	height: 20px;
	padding: 5px;
	margin-bottom: 2px;
	background-color: #e4f1f9;
	border-left: 4px solid #2e96d2;
	border-radius: 5px;
}

/* Media carousel */
.carousel-wrapper {
    position: relative;
	margin: -12px -17px 10px;
	overflow: hidden; /* Ensures large media doesn't spill out */
}

.new-group carousel-wrapper {
	margin: 0 -17px 10px;
}

.carousel-slide {
    display: none; /* Hide all slides by default */
    width: 100%;
}

.carousel-slide.active {
    display: block; /* Show the active slide */
}

/* Carousel Navigation Buttons */
.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    z-index: 10;
}

.carousel-btn.prev {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.carousel-btn.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.items .media-wrapper .media-bullets {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
    z-index: 10;
}

.items .media-wrapper .media-bullets .dot {
    height: 6px;
    width: 6px;
    margin: 0 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.items .media-wrapper .media-bullets .dot.active {
    background-color: rgba(255, 255, 255, 1);
}

.items .media-wrapper video, .items .media-wrapper img {
    width: 100%;
}

.item-content .media-wrapper .no-media {
	padding: 20px;
	color: var(--gray-darker);
	background-color: var(--gray);
}

.item-content .media-wrapper .no-media a {
	color: var(--gray-darker);
	text-decoration: none;
	font-weight: bold;
}

/* Emoji reaction counts */
.reactions {
	margin-top: 3px;
	margin-bottom: 3px;
}

.reaction {
	display: inline-block;
	color: #168acd;
	background-color: #e8f5fc;
	font-weight: bold;
	border-radius: 15px;
	margin-top: 1px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 16px;
	vertical-align: middle;
}

.reaction .reaction-count {
	padding-left: 4px;
	font-size: 14px;
}

/* TOD on the bottom of the item */
.metrics {
	display: inline-block;
	padding-left: 10px;
	float: right;
}

.metrics span {
	font-size: 14px;
	padding-left: 3px;
	color: #a0acb6;
}

/* External url button */

.external-url i {
	color: #168acd;
}

/* Day indicator between items  */
.day {
	margin: 15px;
	text-align: center;
	color: white;
}

.day span {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0,0,0,.3);
	border-radius: 20px;
}

/** --------------------- *
     Annotation item elements
  * --------------------- */
.item-annotations {
	background-image: linear-gradient(#389ed5, #59c8e2);
    color: white;
    border-radius: 5px 20px 20px 5px;
    margin-left: 63px;
}

.item-annotation {
    padding: 15px;
}

.item-annotation > .annotation-label {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    min-width: 150px;
    margin-right: 5px;
    line-height: 1.6em;
    overflow-x: hidden;
}

.item-annotation.checkbox > .item-annotation-options {
    display: inline-block;
}

.item-annotation-options {
    display: inline-block;
    vertical-align: top;
}

.item-annotation-options > input {
    display: inline-block;
}