<!-- We need to access the previous items's info to show the feed data correctly
	i.e. to group multiple messages by the same user and show days only once -->

	{% set day = item.unix_timestamp | datetime(fmt="%d %B", wrap=False)  %}
	{% set prev_item = items[item_index - 1] if item_index > 0 else {} %}
	{% set new_day = day if not prev_item or prev_item.get("unix_timestamp", 0) | datetime(fmt="%d %B", wrap=False) != day else False %}
	{% set new_author = True if not prev_item or prev_item.author != item.author else False %}

	{% if new_day %}
	<div class="day">
		<span>{{ new_day }}</span>
	</div>
	{% endif %}

	<div class="item-container{% if new_author or new_day %} new-group{% endif %}">
		<div class="profile-picture-container">
		{% if new_author or new_day %}
			<div class="profile-picture">
				<span class="initials">
				{% set author = item.author_username if not item.author_name else item.author_name %}
				{% if not pseudonymised and author %}
					<!-- Initials -->
					{% for name in author.split()[:2] %}{{ name[0] }}{% endfor %}
				{% else %}
					<span title="Pseudonymous author"><i class="fa fa-user-secret"></i></span>
				{% endif %}
				</span>
			</div>
			<!-- Bubble icon -->
			<span class="bubble-left">
				<svg width="9px" height="20px" viewBox="0 0 9 20">
					<g fill="none">
						<path class="background" fill="#ffffff" d="M8,1 L9,1 L9,20 L8,20 L8,18 C7.807,15.161 7.124,12.233 5.950,9.218 C5.046,6.893 3.504,4.733 1.325,2.738 L1.325,2.738 C0.917,2.365 0.89,1.732 1.263,1.325 C1.452,1.118 1.72,1 2,1 L8,1 Z"></path>
						<path class="border_1x" fill="#ffffff" d="M9,1 L2,1 C1.72,1 1.452,1.118 1.263,1.325 C0.89,1.732 0.917,2.365 1.325,2.738 C3.504,4.733 5.046,6.893 5.95,9.218 C7.124,12.233 7.807,15.161 8,18 L8,20 L9,20 L9,1 Z M2,0 L9,0 L9,20 L7,20 L7,20 L7.002,18.068 C6.816,15.333 6.156,12.504 5.018,9.58 C4.172,7.406 2.72,5.371 0.649,3.475 C-0.165,2.729 -0.221,1.464 0.525,0.649 C0.904,0.236 1.439,0 2,0 Z"></path>
						<path class="border_2x" d="M9,1 L2,1 C1.72,1 1.452,1.118 1.263,1.325 C0.89,1.732 0.917,2.365 1.325,2.738 C3.504,4.733 5.046,6.893 5.95,9.218 C7.124,12.233 7.807,15.161 8,18 L8,20 L9,20 L9,1 Z M2,0.5 L9,0.5 L9,20 L7.5,20 L7.5,20 L7.501,18.034 C7.312,15.247 6.64,12.369 5.484,9.399 C4.609,7.15 3.112,5.052 0.987,3.106 C0.376,2.547 0.334,1.598 0.894,0.987 C1.178,0.677 1.579,0.5 2,0.5 Z"></path>
						<path class="border_3x" d="M9,1 L2,1 C1.72,1 1.452,1.118 1.263,1.325 C0.89,1.732 0.917,2.365 1.325,2.738 C3.504,4.733 5.046,6.893 5.95,9.218 C7.124,12.233 7.807,15.161 8,18 L8,20 L9,20 L9,1 Z M2,0.667 L9,0.667 L9,20 L7.667,20 L7.667,20 L7.668,18.023 C7.477,15.218 6.802,12.324 5.64,9.338 C4.755,7.064 3.243,4.946 1.1,2.983 C0.557,2.486 0.52,1.643 1.017,1.1 C1.269,0.824 1.626,0.667 2,0.667 Z"></path>
					</g>
				</svg>
			</span>
		</div>
		<div class="item-content {% if new_author or new_day %}new-group{% endif %}">
			<div class="author">
			{% if not pseudonymised %}
				<a href="https://t.me/{{ author }}" target="_blank">{{ author }}</a>
			{% else %}
				<span title="Pseudonymous author" class="author"><i class="fa fa-user-secret tooltip-trigger"></i></span>
			{% endif %}
			</div>
		{% else %}
		</div>
		<div class="item-content {% if new_author or new_day %}new-group{% endif %}">
		{% endif %}
			{% if item.attachment_type %}
			<div class="media-container">
				<!-- Media item -->
				<a href="https://t.me/{{ item.chat }}/{{ item.id.split('-')[-1] }}" target="_blank"><img src="{{ url_for('static', filename='img/go-to-media.jpg') }}">
				</a>
			</div>
			{% endif %}
			<div class="body">
				{% if item.reply_to %}
					<div class="reply_to">{% if not pseudonymised %}<a href="https://t.me/{{ item.chat }}/{{ item.reply_to }}" target="_blank">{% endif %}#{{ item.reply_to }}{% if not pseudonymised %}</a>{% endif %}</div>
				{% endif %}
				{{ item.body | markdown | social_mediafy(datasource="telegram") | safe }}
			</div>

			{% if item.reactions %}
			<div class="reactions">
				{% set reactions = item.reactions|string_counter(emoji=True) %}
				{% for reaction, count in reactions.items() %}
					<span class="reaction">{{ reaction }}<span class="reaction-count">{{ count }}</span></span>
				{% endfor %}
			</div>
			{% endif %}
			<div class="metrics">
				{% if item.views %}<span class="views"><i class="fas fa-eye"></i> {{ item.views|numberify }}</span>{% endif %}
				{% if item.forwards %}<span class="forwards"><i class="fas fa-share"></i> {{ item.forwards|numberify }}</span>{% endif %}
				<span class="time">
				{{ item.unix_timestamp | datetime(fmt="%H:%M", wrap=False) }} UTC
				</span>
				{% if item.unix_timestamp_edited %}
				<span class="time-edited">
				| edited {{ item.unix_timestamp_edited | datetime(fmt="%H:%M", wrap=False) }} UTC
				</span>
				{% endif %}
				{% if not pseudonymised %}
				<span class="external-url" title="Go to original message"><a href="https://t.me/{{ item.chat }}/{{ item.id.split('-')[-1] }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></span>
				{% endif %}
			</div>
		</div>
	</div>