<!-- <div id="annotations-editor" class="saved">
<span class="helper"></span> -->
<!-- <p id="notice"><em>Note: Changing input types will overwrite existing annotations for the field</em></p> -->
<!-- <span id="annotation-fields"></span> -->
<div id="annotation-fields-editor-controls">
    <ol id="annotation-field-settings" class="ui-sortable">
	{% if annotation_fields %}
        {% for field in annotation_fields %}
            {% set annotation_field = annotation_fields[field] %}
            {% if not annotation_field.editable == True %}
                {% set annotation_type = annotation_field["type"] %}
                {% set label = annotation_field["label"] %}
                <li class="annotation-field" id="field-{{ field }}">
                    <i class="fa fa-fw fa-sort handle" aria-hidden="true"></i>
                    <span class="annotation-field-input">
                        <input type="text" class="annotation-field-label" name="annotation-field-label" placeholder="Label" value="{{ label }}">
                    </span>
                    {% if not annotation_field.editable == False %}
                        <span>
                            <select name="annotation-field-type" class="annotation-field-type">
                                <option class="annotation-field-option" value="text" {% if annotation_type == "text" %}selected{% endif %}>Text</option>
                                <option class="annotation-field-option" value="textarea" {% if annotation_type == "textarea" %}selected{% endif %}>Text (large)</option>
                                <option class="annotation-field-option" value="dropdown" {% if annotation_type == "dropdown" %}selected{% endif %}>Single choice</option>
                                <option class="annotation-field-option" value="checkbox" {% if annotation_type == "checkbox" %}selected{% endif %}>Multiple choice</option>
                            </select>
                        </span>
                        <span class="option-fields">
                        {% if annotation_type == "dropdown" or annotation_type == "checkbox" %}

                            {% for option_id, option_label in annotation_fields[field]["options"].items() %}
                                <span class="option-field">
                                <input type="text"  placeholder="Option" id="option-{{ option_id }}" value="{{ option_label }}">
                                <a class="button-like-small delete-option-field"><i class="fas fa-trash"></i></a>
                                </span>
                            {% endfor %}
                            <span class="option-field">
                                <input type="text" id="option-{{ range(1, 100000000) | random }}" placeholder="New option" value="">
                        {% endif %}
                        </span>
                    {% endif %}
                    {% if annotation_field.from_dataset %}
                        {% set from_dataset = from_datasets[annotation_field.from_dataset] %}
                        <div class="dataset-annotation-field">
                        <h4>{{ from_dataset.get_own_processor().title }} </h4>
                        <button class="tooltip-trigger" aria-controls="tooltip-dataset-annotation-field-{{ from_dataset.key }}" aria-label="Dataset annotation field">?</button>
                        <p role="tooltip" id="tooltip-dataset-annotation-field-{{ from_dataset.key }}">
                            This annotation field was generated by a processor.
                        </p>
                        {% set item = from_dataset %}
                        {% include 'components/result-parameters.html' %}
                        </div>
                    {% endif %}
                    </span>
                    <a class="button-like-small delete-input"><i class="fas fa-trash"></i></a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ol>
    <div id="edit-annotation-fields">
        <a class="button-like-small" id="new-annotation-field"><i class="fas fa-plus"></i> New field</a>
        <a class="button-like-small" id="apply-annotation-fields"><i class="fa-solid fa-check"></i> Apply</a>
        <br><span class="hidden" id="input-warning"></span>
    </div>
</div>
