<!-- <div id="annotations-editor" class="saved">
<span class="helper"></span> -->
<!-- <p id="notice"><em>Note: Changing input types will overwrite existing annotations for the field</em></p> -->
<!-- <span id="annotation-fields"></span> -->
<div id="annotation-fields-editor-controls">
	<div>
		<dd>
			<em>Label</em>
			<button class="tooltip-trigger" aria-controls="tooltip-annotation-editor-label">?</button>
			<p role="tooltip" id="tooltip-annotation-editor-label" aria-hidden="true">The label of the annotation field. Can't be the same as an already existing column.</p>
		</dd>
	</div>
	<div>
		<dd>
			<em>Input type</em>
			<button class="tooltip-trigger" aria-controls="tooltip-annotation-editor-type">?</button>
			<p role="tooltip" id="tooltip-annotation-editor-type" aria-hidden="true">The type of annotation field. Available types
			include a text field, a large text field, checkboxes, and a dropdown menu.</p>
		</dd>
	</div>
	<div>
		<dd>
			<em>Options</em>
			<button class="tooltip-trigger" aria-controls="tooltip-annotation-editor-options">?</button>
			<p role="tooltip" id="tooltip-annotation-editor-options" aria-hidden="true">Available options for checkbox and dropdown fields.</p>
		</dd>
	</div>

	{% if annotation_fields %}
        {% for field in annotation_fields %}
            {% set annotation_field = annotation_fields[field] %}
            {% include "explorer/annotation-field.html" %}
        {% endfor %}
    {% endif %}

	<div id="edit-annotation-fields">
		<dd>
			<a class="button-like-small" id="new-annotation-field"><i class="fas fa-plus"></i> New field</a>
			<a class="button-like-small disabled" id="apply-annotation-fields"><i class="fa-solid fa-check"></i> Apply</a>
			<br><span class="hidden" id="input-warning"></span>
		</dd>
	</div>
</div>