{% extends "layout.html" %}

{% block title %}Datasets &amp; previous results{% endblock %}
{% block body_class %}result-list plain-page{% endblock %}
{% block breadcrumbs %}{% set navigation.current = "dataset" %}{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/explorer.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flags.css')}}">

<script type="text/javascript" src="{{url_for('static', filename='js/explorer.js')}}"></script>

<!-- Possible annotation fields -->
<script type="text/javascript">
var annotation_fields = {% if annotation_fields %}{{ annotation_fields | safe }}{% else %}""{% endif %}
</script>

<!-- Include datasource-specific css if it exists -->
{% if custom_css %}
	<style>
		{{ custom_css | safe }}"
	</style>
{% endif %}

{% include "explorer/controls.html" %}

{% if not thread %}
	{% include "explorer/annotations.html" %}
{% endif %}

<div class="content">
	{% include "explorer/nav-pages.html" %}
	<ol class="posts" id="explorer-posts">
	{% for post in posts %}
		{% include "explorer/post.html" %}
	{% endfor %}
	</ol>
	{% include "explorer/nav-pages.html" %}
</div>

{% endblock %}