{% extends "layout.html" %}

{% block title %}Datasets &amp; previous results{% endblock %}
{% block body_class %}result-list plain-page{% endblock %}
{% block breadcrumbs %}{% set navigation.current = "dataset" %}{% endblock %}

{% block body %}


<script type="text/javascript" src="{{url_for('static', filename='js/explorer.js')}}"></script>

<!-- Possible annotation fields -->
<script type="text/javascript">
var annotation_fields = {% if annotation_fields %}{{ annotation_fields | safe }}{% else %}""{% endif %}
</script>


{% set key = dataset.data.key %}

{% include "explorer/controls.html" %}

{% include "explorer/pagination.html" %}

<!-- CSS: Use generic template, data source preset, or custom -->
{% if "css" in datasource_config %}
	{% if datasource_config.css == "preset" %}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/explorer/')}}{{ datasource}}.css">
	{% elif datasource_config.css == "custom" %}
		<style>{{ datasource_config.custom_css | safe }}</style>
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/explorer/default.css')}}">
	{% endif %}
{% endif %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flags.css')}}">

<div class="content">
	<ol class="posts" id="explorer-posts">
	{% for post in posts %}
		{% include "explorer/post.html" %}
	{% endfor %}
	</ol>
</div>

{% include "explorer/pagination.html" %}

{% endblock %}