{% extends "layout.html" %}

{% block title %}Explorer: {{ dataset.get_label() }} • 4CAT{% endblock %}
{% block breadcrumbs %}{% set navigation.current = "explorer" %}{% endblock %}

{% block body %}

<!-- Custom JavaScript for Explorer-specific functions -->
<script type="text/javascript" src="{{url_for('static', filename='js/explorer.js')}}"></script>

<!-- Load some variables for which we need Jinja2 -->
<script type="text/javascript">

// Annotation fields
var annotation_fields = {% if annotation_fields %}{{ annotation_fields | safe }}{% else %}""{% endif %}

// We're getting the dataset column names to make sure that
// new annotation fields cannot overwrite these.
var original_columns = {{ dataset.get_columns() | safe }}
for (a in annotation_fields) {
	let annotation_label = annotation_fields[a]["label"]
	if (original_columns.includes(annotation_label)) {
		i = original_columns.indexOf(annotation_label)
		original_columns.splice(i, 1)
	}
}

</script>

    <span id="current-username" style="display: none">{{ current_user.get_name() }}</span>

<!-- Don't show certain data if the dataset is pseudonymised -->
{% set pseudonymised = True if dataset.parameters and dataset.parameters.get('pseudonymise', False) %}

{% set key = dataset.data.key %}

<!-- Control toolbox, with annotation editor -->
{% include "explorer/controls.html" %}

<!-- Page numbers -->
{% include "explorer/pagination.html" %}

<!-- CSS: Use generic or data source-specific template. -->
<!-- Use a nested class so the style is only applied to posts. -->
<style type="text/css">
.explorer-content-container {
	{{ posts_css | safe }}
}
</style>

<!-- Flags for chan posts -->
{% if datasource == '4chan' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flags.css')}}">
{% endif %}

<!-- The actual dataset posts -->
<div class="explorer-content-container">
	<div class="explorer-content">
		<ol class="posts" id="explorer-posts">
		{% for post in posts %}
			{% set post_index = loop.index - 1 %}
			{% include "explorer/post.html" %}
		{% endfor %}
		</ol>
	</div>
</div>

{% include "explorer/pagination.html" %}

{% endblock %}