<div class="post-annotations">
	
	{% if annotation_fields %}
		{% if annotations and post.id in annotations %}
			{% set post_annotations = annotations[post.id] %}
		{% endif %}

		{% for field in annotation_fields %}

            {% set type = annotation_fields[field]["type"] %}
			{% set label = annotation_fields[field]["label"] %}

            {# Loop through annotations for this post and
            retrieve the data from the one matching this annotation field #}
            {% set an = namespace(an={}) %}
			{% for post_annotation in post_annotations %}
				{% if post_annotation.field_id == field %}
                    {% set an.an = post_annotation %}
    			{% endif %}
            {% endfor %}
            {% set annotation = an.an %}
			<div class="post-annotation field-{{ field }} type-{{ type }} item-id-{{ post.id }}">
                <label class="annotation-label">{{ label }}</label>
			{% if type == 'text' %}
				<input type="text" class="post-annotation-input text-{{ field }}" value="{{ annotation.value }}">

			{% elif type == 'textarea' %}
				<textarea class="post-annotation-input textarea-{{ field }}">{{ annotation.value }}</textarea>

			{% elif type == 'dropdown' %}
				<select class="post-annotation-options select-{{ type }}" id="{{ field }}">
				<option class='post-annotation-input' value=''></option>

				{% for option_id, option_label in annotation_fields[field]["options"].items() %}
					<option class="post-annotation-input option-{{ option_id }}" id="option-{{ option_id }}" value="{{ option_label }}" {% if option_label == annotation.value %}selected{% endif %}>{{ option_label }}</option>
				{% endfor %}
				</select>

			{% elif type == 'checkbox' %}
				<div class='post-annotation-options checkboxes-{{ field }}'>
				{% for option_id, option_label in annotation_fields[field]["options"].items() %}
					{% set checked = "checked" if option_label in annotation.value else "" %}

					<input type='checkbox' class='post-annotation-input option-{{ option_id }}' id='option-{{ post.id }}-{{ option_id }}' value='{{ option_label }}' {{ checked }}><label for='option-{{ post.id }}-{{ option_id }}'>{{ option_label }}</label>
				{% endfor %}
				</div>
			{% endif %}

            {# Tooltip with metadata on the annotation #}
            {% if annotation.author or annotation.author_original or annotation.timestamp or annotation.metadata %}
                <button class="tooltip-trigger" aria-controls="tooltip-annotation-metadata-{{ post.id }}-{{ annotation.field_id }}">?</button>
                <p role="tooltip" id="tooltip-annotation-metadata-{{ post.id }}-{{ annotation.field_id }}" aria-hidden="true">
                {% if annotation.author_original %}
                    <span class="tooltip-line">Created by {% if annotation.by_processor %} processor{% endif %} {% if annotation.author_original %}<strong>{{ annotation.author_original }}</strong>{% endif %}
                    {% if annotation.timestamp_created %}
                        on <span class="timestamp-created timestamp-to-convert">{{ annotation.timestamp_created }}</span>
                    {% endif %}</span>
                {% endif %}
                {% if annotation.author != annotation.author_original or annotation.timestamp != annotation.timestamp_created %}
                    <span class="tooltip-line">Edited by{% if annotation.by_processor %} processor{% endif %} {% if annotation.author %}<strong><span class="annotation-author">{{ annotation.author }}</span></strong>{% endif %}{% if annotation.timestamp %} on <span class="timestamp-edited timestamp-to-convert">{{ annotation.timestamp }}</span>{% endif %}
                {% endif %}</span>
                {# Extra stuff we may want to display #}
                {% if annotation.metadata %}
                    {% set metadata = annotation.metadata | fromjson %}
                    {% if metadata.get("processor-parameters") %}
                        <span class="tooltip-line">
                        {% for parameter in metadata["processor-parameters"] %}
                            <span class="property-badge"><i class="fa fa-check" aria-hidden="true"></i> {{ parameter }}</span>
                        {% endfor %}
                        </span>
                    {% endif %}
                </p>
                {% endif %}
            {% endif %}

            {# Store some invisible data here to we can retrieve in with JS #}
            <div class="annotation-data" style="display: none">
                <span class="epoch-timestamp-edited">{{ annotation.timestamp }}</span>
                <span class="annotation-author">{{ annotation.author }}</span>
            </div>

			</div>
		{% endfor %}
	{% endif %}
</div>