<section class="result-list">
    <nav>
        <ul class="button-container">
            <li><a href="{{ url_for("trigger_restart") }}" class="button-like"><i class="fa fa-power-off" aria-hidden="true"></i> Restart or Upgrade</a></li>
            <li><a href="{{ url_for("toggle_datasources") }}" class="button-like"><i class="fa fa-cloud" aria-hidden="true"></i> Data source settings</a></li>
            <li><a href="{{ url_for("update_settings") }}" class="button-like"><i class="fa fa-cog" aria-hidden="true"></i> General settings</a></li>
        </ul>
    </nav>
</section>