{% extends "controlpanel/layout.html" %}

{% block title %}Data source settings{% endblock %}
{% block body_class %}plain-page frontpage admin {{ body_class }}{% endblock %}
{% block subbreadcrumbs %}{% set navigation.sub = "datasources" %}{% endblock %}

{% block body %}
    <article class="small">
        <section>
            <h2><span>Data source settings</span></h2>
            <p>Data sources enabled below will be offered to people on the 'Create Dataset' page. Additionally, people
                can upload datasets for these by for example exporting them with
                <a href="https://github.com/digitalmethodsinitiative/zeeschuimer">Zeeschuimer</a> to this 4CAT
                instance.</p>

            <p>Some data sources offer further settings which may be configured in the
                <a href="{{ url_for('update_settings') }}">Settings panel</a>.</p>

            <form action="{{ url_for('toggle_datasources') }}" method="POST" class="wide datasource-toggle-form">
                {% for notice in flashes %}
                    <p class="form-notice">{{ notice|safe }}</p>
                {% endfor %}

                {% for datasource, info in datasources.items() %}
                    <fieldset>
                        <div class="form-element wide">
                            <label>
                                <input type="checkbox" name="enable-{{ datasource }}"{% if info.enabled %}
                                       checked{% endif %} aria-controls="config-{{ datasource }}" class="toggle-button">
                                {{ info.name }}
                            </label>
                        </div>
                        <div id="config-{{ datasource }}"
                             aria-expanded="{% if info.enabled %}true{% else %}false{% endif %}">
                            <div class="form-element">
                                <label for="expire-{{ datasource }}">Expire datasets</label>
                                <div>
                                    <input type="text" name="expire-{{ datasource }}" id="expire-{{ datasource }}"
                                            {% if info.expires and info.expires.timeout %}
                                           value="{{ info.expires.timeout }}"{% endif %}>
                                    <button class="tooltip-trigger button-like"
                                            aria-controls="tooltip-expire-{{ datasource }}">?
                                    </button>
                                    <p role="tooltip" id="tooltip-expire-{{ datasource }}">Datasets created with this
                                        data source are deleted after this many seconds. Leave empty or at '0' for no
                                        expiration (4CAT-wide settings may still apply).</p>
                                </div>
                            </div>
                            <div class="form-element">
                                <label for="optout-{{ datasource }}">Allow opt-out?</label>
                                <div>
                                    <input type="checkbox" name="optout-{{ datasource }}" id="optout-{{ datasource }}"
                                            {% if info.expires and info.expires.allow_optout %} checked{% endif %}>
                                    <button class="tooltip-trigger button-like"
                                            aria-controls="tooltip-optout-{{ datasource }}">?
                                    </button>
                                    <p role="tooltip" id="tooltip-optout-{{ datasource }}">Allow users to opt-out of
                                        automatic dataset deletion for this data source. Overrides 4CAT-wide
                                        settings.</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                {% endfor %}
                <div class="submit-container">
                    <button>
                        <i class="fa fa-save" aria-hidden="true"></i> Save
                    </button>
                </div>
            </form>
        </section>
    </article>
{% endblock %}
