{% extends "layout.html" %}

{% block title %}Control Panel{% endblock %}
{% block body_class %}plain-page frontpage admin {{ body_class }}{% endblock %}

{% block body %}
    <article class="with-aside">
        {% include "controlpanel/users.html" %}

        <aside>
            <h2><span>Active workers</span></h2>
            <div class="content-container" data-source="{{ url_for('get_worker_status') }}" data-interval="5">
                <p class="content-placeholder">Loading worker status...</p>
            </div>

            <h2><span>Worker queue</span></h2>
            <div class="content-container" data-source="{{ url_for('get_queue_status') }}" data-interval="5">
                <p class="content-placeholder">Loading worker status...</p>
            </div>
        </aside>
    </article>
{% endblock %}
