{% extends "controlpanel/layout.html" %}

{% block title %}Job Queue{% endblock %}
{% block body_class %}plain-page admin {{ body_class }}{% endblock %}
{% block subbreadcrumbs %}{% set navigation.sub = "jobs" %}{% endblock %}

{% block body %}
    <article class="with-aside">
        <section class="result-list">
            <h2><span>Jobs</span></h2>
            <div class="user-panel">
                {% for notice in flashes %}
                    <p class="form-notice">{{ notice|safe }}</p>
                {% endfor %}
                <p>Note: cancelling a job will interrupt a running worker. Jobs can only be cancelled properly if the
                    4CAT backend is running.</p>
                <table class="fullwidth user-table cp-table">
                    <colgroup>
                        <col class="id">
                        <col class="job-type">
                        <col class="status">
                        <col class="actions" style="width: 1%;">
                    </colgroup>
                    <tr>
                        <th>ID</th>
                        <th>Worker Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% for job in jobs %}
                        <tr>
                            <td>
                                <div class="job-id">
                                    {{ job.data["id"] }}
                                </div>
                            </td>
                            <td>
                                <div class="job-type">
                                    {% if job.data["jobtype"] in workers and workers[job.data["jobtype"]].title %}
                                        <span title="{{ job.data["jobtype"] }}">{{ workers[job.data["jobtype"]].title }}</span>
                                    {% else %}
                                        {{ job.data["jobtype"] }}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="job-status">
                                    {% if job.is_finished %}
                                        Finished
                                    {% elif job.is_claimed %}
                                        Claimed since {{ (now - job.data.timestamp_lastclaimed)|timify }}
                                    {% elif job.data.interval > 0 and (job.data.timestamp_after > now or (job.data.interval + job.data.timestamp_lastclaimed) > now) %}
                                        Scheduled (interval; next in {{ (([(job.data.timestamp_lastclaimed + job.data.interval), job.data.timestamp_after]|max) - now)|timify }})
                                    {% elif job.data.timestamp_after > now %}
                                        Scheduled (in {{ (job.data.timestamp_after - now)|timify }})
                                    {% else %}
                                        Queued since {{ (now - [job.data.timestamp, job.data.timestamp_lastclaimed]|max)|timify }}
                                    {% endif %}
                                </div>
                            </td>
                            <td class="actions">
                                <!-- Could add other types e.g. (clean-temp-files, check-for-updates, datasource-metrics, expire-datasets) -->
                                {% if job.data["jobtype"] not in ("api") %} 
                                    <form class="inline" action="{{ url_for("admin.delete_job") }}" method="POST">
                                        <input type="hidden" name="job_id" value="{{ job.data["id"] }}">
                                        <input type="hidden" name="redirect_to_page" value="true">
                                        <button class="confirm-first"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Delete job</span>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if not jobs %}
                        <tr>
                            <td colspan="5">No jobs found.</td>
                        </tr>
                    {% endif %}
                </table>

                {% include "components/pagination.html" %}
            </div>
        </section>
        <aside>
            <h2><span>Manage</span></h2>
            
            <nav class="user-controls">
                <hr>
                <form action="{{ url_for("admin.list_jobs") }}" method="GET">
                    <input aria-label="Job Type filter" placeholder="Search by job type" name="name"
                           value="{{ filter.jobtype }}" list="all-jobs">

                    <button><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </form>
                <datalist id="all-jobs">
                    {% for job_type in all_jobs %}
                        <option>{{ job_type }}</option>{% endfor %}
                </datalist>
                {% if filter.jobtype %}
                    <hr>
                    <form action="{{ url_for("admin.list_users") }}" method="GET">
                        <button><i class="fa fa-times" aria-hidden="true"></i> Clear filter</button>
                    </form>
                {% endif %}
            </nav>
        </aside>
    </article>
{% endblock %}