{% extends "controlpanel/layout.html" %}

{% block title %}4CAT logs{% endblock %}
{% block body_class %}plain-page frontpage admin {{ body_class }}{% endblock %}
{% block subbreadcrumbs %}{% set navigation.sub = "logs" %}{% endblock %}

{% block body %}
    <article class="small">
        <section>
            <h2><span>Backend log</span></h2>
            <p>Displaying last 250 lines of the log file.</p>
            <pre id="upgrade-log" class="content-container" data-source="{{ url_for("get_log", logfile="backend") }}" data-interval="3">
                Loading log file...
            </pre>
        </section>

        <section>
            <h2><span>stderr of backend daemon</span></h2>
            <pre id="upgrade-log" class="content-container" data-source="{{ url_for("get_log", logfile="stderr") }}" data-interval="3">
                Loading log file...
            </pre>
        </section>
    </article>
{% endblock %}
