<section class="result-list">
    <h2><span>Users</span></h2>
    <div class="user-panel">
        <nav class="view-controls block">
            <form action="{{ url_for("admin_frontpage") }}" method="GET">
                <ul>
                    <li><a href="{{ url_for("manipulate_user", mode="create") }}" class="button-like"><i class="fa fa-user-plus" aria-hidden="true"></i> Create user</a></li>
                    <li><input aria-label="User filter" placeholder="Filter users..." name="filter"
                               value="{{ filter.filter }}"></li>
                </ul>
                <button>Filter</button>
            </form>
        </nav>
        {% for notice in flashes %}
            <p class="form-notice">{{ notice|safe }}</p>
        {% endfor %}
        <table class="fullwidth user-table">
            <colgroup>
                <col class="name">
                <col class="actions">
            </colgroup>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}
                        {% if user.is_admin %}
                        <span class="tooltip-trigger" aria-controls="tooltip-user-admin">
                            <i class="fa fa-user-shield" aria-hidden="true"></i>
                            <span class="sr-only"> (Admin user)</span>
                        </span>
                        {% endif %}
                        {% if user.is_deactivated %}
                        <i class="fa fa-ban tooltip-trigger" aria-hidden="true" aria-controls="tooltip-user-deactivates"></i>
                        <span class="sr-only"> (Deactivated user)</span>
                        {% endif %}
                        {% if not user.password and user.name not in ("anonymous", "autologin") %}
                        <i class="fas fa-user-clock tooltip-trigger" aria-hidden="true" aria-controls="tooltip-user-registration"></i>
                        <span class="sr-only"> (User has not completed registration)</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.name not in ("anonymous", "autologin") %}
                            <a class="button-like" href="{{ url_for("manipulate_user", mode="edit") }}?name={{ user.name }}"><i
                                    class="fa fa-edit" aria-hidden="true"></i><span class="sr-only">Edit user</span></a>
                            <a class="button-like" href="{{ url_for("delete_user") }}?name={{ user.name }}"><i
                                    class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Delete user</span></a>
                        {% endif %}
                            <a class="button-like tooltip-trigger" aria-controls="tooltip-user-datasets" href="{{ url_for("show_results") }}?user={{ user.name }}"><i
                                    class="fa fa-database" aria-hidden="true"></i><span class="sr-only">View datasets for user</span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include "components/pagination.html" %}

        <p role="tooltip" class="multiple" id="tooltip-user-admin" aria-hidden="true">Admin user</p>
        <p role="tooltip" class="multiple" id="tooltip-user-datasets" aria-hidden="true">View datasets for user</p>
        <p role="tooltip" class="multiple" id="tooltip-user-deactivated" aria-hidden="true">User is deactivated and can no longer use this 4CAT instance</p>
        <p role="tooltip" class="multiple" id="tooltip-user-registration" aria-hidden="true">User has not yet completed registration by setting a password</p>
    </div>
</section>