{% extends "controlpanel/layout.html" %}

{% block title %}{% if mode == "edit" %}Edit user '{{ user.name }}'{% else %}Create user{% endif %}{% endblock %}
{% block body_class %}plain-page frontpage admin {{ body_class }}{% endblock %}
{% block subbreadcrumbs %}{% set navigation.sub = "user" %}{% endblock %}

{% block body %}
    <article class="small">
    {% if mode == "edit" %}
        <section>
            <h2><span>{{ user.name }}</span></h2>
            <nav>
                <ul class="button-container">
                    <li><a class="button-like"
                           href="{{ url_for("show_results") }}?user={{ user.name }}&amp;depth=all"><i
                            class="fa fa-database" aria-hidden="true"></i> View datasets</a></li>
                    <li>
                        <form class="inline" action="{{ url_for("delete_user") }}" method="POST">
                            <input type="hidden" name="name" value="{{ user.name }}">
                            <button class="confirm-first"><i class="fa fa-times" aria-hidden="true"></i> Delete user
                            </button>
                        </form>
                    </li>
                    {% if not user.password %}
                        <li><a href="{{ url_for("reset_password") }}?token={{ user.register_token }}"
                               class="button-like"><i class="fa fa-link" aria-hidden="true"></i> Password (re)set
                            link</a></li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for("add_user") }}?force=1&amp;format=html&amp;email={{ user.name }}"
                           class="button-like confirm-first tooltip-trigger" aria-controls="tooltip-resend-mail"
                           aria-label="Warning: this resets the user's password & re-generates their reset token">
                            <i class="fa fa-envelope" aria-hidden="true"></i> Send password link
                        </a>
                        <p role="tooltip" id="tooltip-resend-mail">Warning: this resets the user's password &
                            re-generates their reset token</p>
                    </li>

                {% if __user_config("privileges.admin.can_manage_settings") %}
                    <li><a href="{{ url_for("manipulate_settings") }}?tag=user:{{ user.name }}"
                               class="button-like"><i class="fa fa-user-gear" aria-hidden="true"></i> User settings</a></li>
                {% endif %}
                </ul>
            </nav>
        </section>
    {% endif %}
        <section>
            <h2><span>{% if mode == "edit" %}Edit user '{{ user.name }}'{% else %}Create user{% endif %}</span></h2>
            {% if mode != "edit" %}
            <p>If you do not enter a password, after creating the account, a link will be generated through which the
                password may be set by the user.</p>
            {% elif not user.password %}
                <p><i class="fa fa-warning" aria-hidden="true"></i> This user has not yet completed their registration and set a password.</p>
            {% endif %}

            <form action="{{ url_for('manipulate_user', mode=mode) }}{% if mode == "edit" %}?name={{ user.name }}{% endif %}" method="POST" class="wide">
                {% for notice in flashes %}
                    <p class="form-notice">{{ notice|safe }}</p>
                {% endfor %}
                <div class="form-element{% if "name" in incomplete %} missing{% endif %}">
                    <label for="user-name">Name (e-mail)</label>
                    <input type="text" name="name" id="user-name" value="{{ user.name }}">
                </div>
                <div class="form-element{% if "tags" in incomplete %} missing{% endif %}">
                    <label for="user-tags">Tags</label>
                    <div>
                    <input type="text" id="user-tags" name="tags" value="{{ ", ".join(user.tags|fromjson) }}">
                    <button class="tooltip-trigger" aria-controls="tooltip-tags-label" aria-label="Extended help for option">?</button>
                    <p role="tooltip" id="tooltip-tags-label" class="force-width">Tags can be used to override 4CAT settings, for example to allow certain features only for certain users. Case-insensitive. Separate with commas.</p>
                        </div>
                </div>
                {% if mode != "edit" %}
                <div class="form-element{% if "password" in incomplete %} missing{% endif %}">
                    <label for="user-password">Password</label>
                    <input type="password" id="user-password" name="password">
                </div>
                {% endif %}
                <div class="form-element">
                    <label for="user-deactivated">Is deactivated?</label>
                    <input type="checkbox"{% if user.is_deactivated %} checked="checked"{% endif %} id="user-deactivated" name="is_deactivated">
                </div>
                <div class="form-element">
                    <label for="user-autodelete">Delete after</label>
                    <div>
                        <input type="text" placeholder="YYYY-MM-DD hh:mm" {% if user.get_value and user.get_value("delete-after") %} value="{{ user.get_value("delete-after")|datetime("%Y-%m-%d %H:%M", wrap=False) }}"{% endif %} id="user-autodelete" name="autodelete">
                        <button class="tooltip-trigger" aria-controls="tooltip-autodelete-label" aria-label="Extended help for option">?</button>
                        <p role="tooltip" id="tooltip-autodelete-label" class="force-width">Automatically delete the user at this time. They will see a warning in the interface starting one week before.</div>
                    </div>
                </div>
                <div class="form-element">
                    <label for="user-notes">Notes</label>
                    <div>
                        <textarea name="notes" id="user-notes">{% if user.get_value %}{{ user.get_value("notes", "") }}{% endif %}</textarea>
                        <button class="tooltip-trigger" aria-controls="tooltip-notes-label" aria-label="Extended help for option">?</button>
                        <p role="tooltip" id="tooltip-notes-label" class="force-width">Notes for this user. This is for your own convenience and not used by 4CAT.</div>
                    </div>
                </div>
                <div class="submit-container">
                    <input type="hidden" name="current-name" value="{{ user.name }}">
                    <button>
                        {% if mode == "edit" %}
                            <i class="fa fa-save" aria-hidden="true"></i> Save
                        {% else %}
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Create
                        {% endif %}
                    </button>
                </div>
            </form>
            <footer class="banner">{% if user.timestamp_created %}User created on {{  user.timestamp_created|datetime|safe }}{% else %}User known since time immemorial{% endif %}.</footer>
        </section>
    </article>
{% endblock %}
