{% extends "layout.html" %}

{% block title %}Edit user '{{ user.name }}'{% endblock %}
{% block body_class %}plain-page frontpage admin {{ body_class }}{% endblock %}

{% block body %}
    <article class="small">
        <section>
            <h2><span>Edit user '{{ user.name }}'</span></h2>

            <form action="{{ url_for('edit_user') }}" method="POST" class="wide">
                {% for notice in flashes %}
                    <p class="form-notice">{{ notice }}</p>
                {% endfor %}
                <div class="form-element{% if "name" in incomplete %} missing{% endif %}">
                    <label for="user-name">Name (e-mail)</label>
                    <input type="text" name="name" id="user-name" value="{{ user.name }}">
                </div>
                <div class="form-element">
                    <label for="user-admin">Is admin?</label>
                    <input type="radio"{% if user.is_admin %} checked="checked"{% endif %} id="user-admin" name="is_admin">
                </div>
                <div class="form-element{% if "userdata" in incomplete %} missing{% endif %}">
                    <label for="user-userdata">User data (JSON)</label>
                    <textarea rows="10" cols="50" id="user-userdata" name="userdata" data-validate-format="json" class="code">{{ user.userdata }}</textarea>
                </div>
                <div class="submit-container">
                    <input type="hidden" name="current-name" value="{{ user.name }}">
                    <button><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                </div>
            </form>
        </section>
    </article>
{% endblock %}
