<html>
<head>
	<title>4CAT</title>
	<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">
	<script type=text/javascript src="{{url_for('static', filename='jquery.js')}}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/fourcat.js')}}"></script>
	<meta charset="UTF-8">
</head>
<body>

	<div class="header"><a href="/submissions"><button id='backbutton'>To the forum</button></a><div class="pagetitle"><span>4CAT</span></div></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-9 topdiv">
				<div id="panel">
					<div id="filterpanel">
						<div id='buttonselections'>
							<span>Currently queries data from /pol/ from November 2013 onwards.</span>
							<!-- <input name='platformselect' type='radio' class='platformselect' id="radio_selectfb">-->
						</div>
						<div id='filterinputs'>
							<div class="filterrow">
								<div class='filter-box'>
									<span>Board:</span>
									<select>
										<option>/pol/</option>
									</select>
								</div>
								<div class='filter-box'>
									<span>Post body:</span>
									<input id="body_input" type="text" name="dataselected"  maxlength="200">
								</div>
								<div class='filter-box'>
									<span>OP subject:</span>
									<input id="subject_input" type="text" name="dataselected"  maxlength="200">
									<input type='checkbox' id='check-full-thread'></input>
									<label for="check-full-thread"> Return full thread data</label>
								</div>
								<!-- Include trends histogram -->
								<!-- <input type='checkbox' id='check_frequency'></input> --> 
							</div>

							<div class="filterrow" id='filter_time'>
								<input type='checkbox' id='check_time'></input> <span>From</span>
								<input id="input_min_date" type="date" name="mintimeinput" disabled="disabled"> to
								<input id="input_max_date" type="date" name="maxtimeinput" disabled="disabled">
							</div>
							<button class="btn_filterbutton" id="btn_go">Go</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 topdiv">
				<div id='submitpanel'>
					<div id="submitpaneltitle">
						<div class="pagetitle">
							<span id="submitheader">RESULTS</span>
						</div>
					</div>
					<div id="submitform">
						<p>Full data files will be returned in this panel</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12" id="resultsdiv">
				<div id="resultsheader">
					<div class="pagetitle">
						<span id='resultsheadertext'>DATA PREVIEW</span>
					</div>
				</div>
				<div id="imagenavigationdiv" class='inactive'>
					<span id='imagenavigation'>
						<button id="btn_previmg" class="imgbutton">Previous image</button>
						<span id="imgnotification"></span>
						<button id="btn_nextimg" class="imgbutton">Next image</button>
					</span>
				</div>
				<div id="results">
					<div class="loader">
						<span>Working... Uncompleted tasks time out and fail after 10 minutes<img src='static/hourglass.gif'></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Footer-->
<footer class="page-footer">
	<!--Copyright-->
	<div class="footer-copyright">
		<div class="container-fluid">
			© 2018 Copyright: <a href="http://www.oilab.eu" target="_blank">Open Intelligence Lab</a>

		</div>
	</div>
	<!--/.Copyright-->

</footer>
<!--/.Footer-->

</body>
</html>