<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DVW monadology</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/penelope.css')}}">
	<script type="text/javascript" src="{{url_for('static',filename='jquery.js')}}"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/penelope.js')}}"></script>

</head>

<body>

<script type="text/javascript">

$(function(){

	//console.log(obj_json)

	var svg = d3.select("svg"),
	width = +svg.attr("width"),
	height = +svg.attr("height"),
	color = d3.scaleOrdinal(d3.schemeCategory10);

	//name these global
	var node
	var link
	var simulation
	var arr_addednodes
	var g
	var nodes
	var links
	var queryword
	var modelname

	simulation = d3.forceSimulation(nodes)
	.force("charge", d3.forceManyBody().strength(-100))
	.force("link", d3.forceLink(links).distance(90))
	.force("x", d3.forceX())
	.force("y", d3.forceY())
	.alphaTarget(1)
	.on("tick", ticked);

	
	function initialiseGraph(json_object){
		queryword = json_object['nodes'][0]['name']
		modelname = $('#modelselect').val()
		console.log(queryword)

		nodes = []
		links = []

		for (var key in json_object){
			if (json_object.hasOwnProperty(key)) {
				if (key == 'nodes'){
					for (x in json_object[key]){
						if (json_object[key].hasOwnProperty(x)){
							console.log(json_object[key][x])
							nodes.push({id: (json_object[key][x]['name'])})
						}
					}
				}
				if (key == 'links'){
					for (i in json_object[key]){
						if (json_object[key].hasOwnProperty(i)){
							console.log(json_object[key][i])
							links.push({source: (json_object[key][i]['source']), target: (json_object[key][i]['target']), weight: parseInt(json_object['links'][i]['weight'] * 10)})
						}
					}
				}
			}
		}

		//store already present nodes in array
		var names = json_object['nodes']
		arr_addednodes = []
		for (x in names){
			arr_addednodes.push(names[x]['name'])
		}

		g = svg.append("g")
		.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
		.attr("id","network");
		link = g.append("g")
		.attr("stroke", "#000")
		.attr("stroke-width", 1.5)
		.selectAll(".link");
		node = g.append("g")
		.attr("stroke", "#fff")
		.attr("stroke-width", 1.5)
		.selectAll(".node");

		restart();

		// add classes to node to style differently for nodes per platform
		var arr_newnodes = arr_addednodes
		for (var i = 0; i < arr_newnodes.length; i++) {
			console.log(modelname)
			if (modelname.substring(0,2) == 'yt'){
				$('#node-' + arr_newnodes[i]).addClass('yt-node')
			}
			else if (modelname.substring(0,4) == 'chan'){
				$('#node-' + arr_newnodes[i]).addClass('chan-node')
			}
		}
		arr_newnodes = []

		$('#' + queryword).addClass('clicked')
	}

	var json_initial = JSON.parse('{{inputs | safe}}');
	initialiseGraph(json_initial);
	console.log(nodes)
	console.log(links)


	function restart() {
		// this function is called each time a change in the network occurs
		node = node.data(nodes, function(d) { return d.id;});
		node.exit().remove();
		node = node
		  .enter()
		  .append('text')
		  .text(function (d) { return d.id; })
		  .attr('id', function(d) { return ('node-' + d.id); })
		  .merge(node)

		// Apply the general update pattern to the links.
		link = link.data(links, function(d) { return d.source.id + '-' + d.target.id; });
		link.exit().remove();
		link = link
		  .enter()
		  .append('line')
		  .merge(link);

		// Update and restart the simulation.
		simulation.nodes(nodes);
		simulation.force("link").links(links);
		simulation.alpha(1).restart();
	}

	function ticked() {
		//this function updates the x and y positions of the nodes and links
		node.attr("x", function(d) { return d.x; })
		.attr("y", function(d) { return d.y; })

		link.attr("x1", function(d) { return d.source.x; })
		.attr("y1", function(d) { return d.source.y; })
		.attr("x2", function(d) { return d.target.x; })
		.attr("y2", function(d) { return d.target.y; });
	}

	//non-D3 functions
	function createNetwork(word, modelname, newgraph=false, appendgraph=false){
		
		$.ajax({
			dataType: "text",
			url: '/w2v/' + modelname + '/' + word,
			success: function(response) {
				if (response == 'Word not in vocabulary'){
					$('#alertbox').html(response)
				}
				else{
					var sims = JSON.parse(response);

				//if a new graph needs to be made, reset variables and destroy the g element
				if(newgraph){
					console.log('Making fresh network for ' + word)
					nodes = []
					links = []
					arr_addednodes = []
					node = ''
					link = ''
					g = ''
					$('#network').remove()

					initialiseGraph(sims)
				}
				else{

					//set the source of the clicked node, i.e. the index of the node labels array
					var index_source
					var link_weight

					//z is used to skip the first node - for when a present node is clicked
					var z = 0

					if (appendgraph){
						console.log('Appending network for ' + word)
						index_source = (arr_addednodes.length)
						z = 1
					}
					else{
						console.log('Restarting network for ' + word)
						index_source = arr_addednodes.indexOf(word)
					}

					console.log('Index for ' + word)
					console.log(index_source)
					var arr_newnodes = [] 
					arr_newnodes.push(word)
					//add new nodes and links
					for (var key in sims){
						if (sims.hasOwnProperty(key)) {
							//add nodes to array
							if (key == 'nodes'){
								//loop through new nearest neighbours
								for (x in sims[key]){
									if (sims[key].hasOwnProperty(x)){
										console.log(sims['nodes'][x]['name'])
										arr_newnodes.push(sims['nodes'][x]['name'])
										//skip the first returned node, as it is the same as the clicked node
										//check whether nodes already exist - else just update the link
										if (arr_addednodes.includes(sims['nodes'][x]['name'])){
											console.log('node already added')
											if  (x > 0){
												console.log('Creating link')
												links.push({source: (index_source), target: (arr_addednodes.indexOf(sims['nodes'][x]['name'])), weight: parseInt(sims['links'][(x - 1)]['weight'] * 10)})
											}
											//console.log(sims[key][x]['name'])
										}
										//if node does not already exist, add it
										else {
											//console.log(sims[key][x]['name'])
											nodes.push({id: (sims['nodes'][x]['name'])})
											arr_addednodes.push(sims['nodes'][x]['name'])
											link_weight = sims['nodes'][x]['name']
											//source = clicked node, i.e. index_source
											//target = last added node to arr_addednode
											var target_source = arr_addednodes.length - 1
											if(appendgraph == false){
												links.push({source: (index_source), target: (target_source), weight: parseInt(sims['links'][(x - 1)]['weight'] * 10)})
											}
											else{
												//skip the first link, since there are eleven nodes and ten links with a new graph
												if(x == 0){
													console.log(x)
												}
												else{
													console.log(x)
													links.push({source: (index_source), target: (target_source), weight: parseInt(sims['links'][(x - 1)]['weight'] * 10)})
												}
											}

										}
									}
								}
							}
						}
					}
					console.log('Nodes:')
					console.log(nodes)
					console.log('Links:')
					console.log(links)
					restart()
					$('#node-' + word).addClass('clicked')

					// add classes to node to style differently for nodes per platform
					for (var i = 0; i < arr_newnodes.length; i++) {
						console.log(modelname)
						if (modelname.substring(0,2) == 'yt'){
							$('#node-' + arr_newnodes[i]).addClass('yt-node')
						}
						else if (modelname.substring(0,4) == 'chan'){
							$('#node-' + arr_newnodes[i]).addClass('chan-node')
						}
					}
					arr_newnodes = []
					document.getElementById("alerts").innerHTML = ''
				}
			}
		},
		error: function(error) {
			console.log('error')
			console.log(error);
		}
	});

		restart();
	}

	$('svg').on('click', 'text', function() {
		var nodename = this.innerHTML
		$('#alerts').html('')
		$(this).addClass('clicked')
		modelname = $('#modelselect').val()
		console.log(nodename)
		document.getElementById("alerts").innerHTML = 'Loading...'
		createNetwork(nodename, modelname)
	});

	//create a fresh network with a string. Calls 'createNetwork' which calls 'initialiseNetwork'
	$('#restart').on('click', function(){
		var inputword = $('#querystring').val()
		modelname = $('#modelselect').val()
		document.getElementById("alerts").innerHTML = 'Loading...'
		createNetwork(inputword, modelname, newgraph=true, appendgraph=false)
	});

	$('#append').on('click', function(){
		var inputword = $('#querystring').val()
		if(arr_addednodes.includes(inputword)){
			document.getElementById("alerts").innerHTML = 'Node already added'
		}
		else{
			document.getElementById("alerts").innerHTML = 'Loading...'
			modelname = $('#modelselect').val()
			createNetwork(inputword, modelname, newgraph=false, appendgraph=true)
		}
	});
});

</script>

<div id="maindiv">

<div id='pagetitle'><!-- <img src="{{url_for('static', filename='img/chanlogo.png')}}"> --><h1>Deep Vernacular Web monadology</h1>
</div>
<p>How can one explore a subculture without generalising the arcane particulars that embody the 'sub' in 'subculture'?</p>
<p>Following <a href='https://hal-sciencespo.archives-ouvertes.fr/file/index/docid/1053567/filename/bjos1428.pdf' target='_blank'>Latour et al (2012)</a>, one could do so by digitally navigating 'monads' in associative networks as a construction of a whole without leaving the particulars.</p>
<p>The network below is an attempt at offering such a network. It shows the ten nearest neigbours per word using word2vec models of all posts on /pol/ per month or transcripts of right-wing YouTube videos.</p>
<p>Click the words to expand the network, or use the input below to add new data.</p>
<p><span class='yt-indicator'>Youtube node</span> - <span class='chan-indicator'>4chan node</span></p>
<!-- the network -->
<svg width="700" height="600"></svg>


<div id="controlpanel">
<select id='modelselect'>
	<option platform='yt' value='yt-rightwing-transcripts'>YouTube - right-wing video transcripts</option>
	<option platform='chan' value='chan-test'>4chan/pol/ - Test model</option>
	<option platform='chan' value='chan-10-2015'>4chan/pol/ - October 2015</option>
	<option platform='chan' value='chan-10-2016'>4chan/pol/ - October 2016</option>
	<option platform='chan' value='chan-10-2017'>4chan/pol/ - October 2017</option>
</select>
<input type="text" name="querystring" id="querystring" placeholder="Type a word to append">
<button id='append'>Append</button>
<button id='restart'>Restart</button>

<div id="alertbox"></div>
<p id="alerts"></p>
</div>

<p><strong>Data:</strong> <a href="https://archive.4plebs.org" target="_blank">archive.4plebs.org</a></p>
<p><strong>Made by:</strong> <a href="https://salhagen.nl" target="_blank">Sal Hagen</a></p>
<p><strong>More:</strong> <a href="https://oilab.eu" target="_blank">OILab.eu</a></p>
</div>

</body>