<div class='submission presentation sticky other'>
	<span class="btn_expand"> + </span>
	<span class="span_theme">other</span>
	<span class="span_meme">other</span>
	<span class="span_posttitle">On studying the ephemerality of 4chan</span> <!--title of post-->
	<span class="span_username"> by Memewario</span>
	<div class="fullpost" style="display: none;">
		<div class="div_notes">
			<p>Philips, Beyer and Coleman “When it comes to 4chan and Anonymous, none of us can step in the same river twice. [...] Taking the time to map—to accurately map—the repeated, fractured, reconfiguring mobilizations emerging from anonymous and pseudo-anonymous spaces online allows us to understand where we are and how we got here.”</p> 
		</div>
	</div>
</div>