<html>
<head>
	<meta charset="UTF-8">
	<title>OILab RMA presentation</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
	<script type="text/javascript" src="{{url_for('static',filename='jquery.js')}}"></script>
</head>
<body>

<script type="text/javascript">
var jsonfile = ('{{inputs|tojson}}')
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/submitsuccess.js')}}"></script>

<div class="header"><a href="/"><button id='backbutton'>To the research tool</button></a><div class="pagetitle"><span>RMA seminar 28-09-2018</span></div></div>
<div class='notificationheader'>

	<h1>Go to <span class="url"> www.oilab.nl:5000</span> to open slides on your on device</h1>

</div>
<div id='notifications'><span class="entryindicator"></span><span class='soundnotification'>X</span></div>
<div class="container-fluid">
	<div class="row">
		<div class='col-lg-9 submitscreen'>
			<div id='filterresults'>
			<button id='btn_submissions'>Front page</button>
			<div class="pagetitle"><span>Theme:</span></div>
			<select id="themeselect">
				<option class="selectoption"value='all' selected>All</option>
				<option class="selectoption"value='othertheme'>Other</option>
				<option class="selectoption"value='trumpism'>Trumpism</option>
				<option class="selectoption"value='conspiracy'>Conspiracy</option>
				<option class="selectoption"value='antileft'>Anti-left</option>
				<option class="selectoption"value='lgbtphobe'>LGBT-phobe</option>
				<option class="selectoption"value='antiislam'>Anti-islam</option>
				<option class="selectoption"value='misogyny'>Misogyny</option>
				<option class="selectoption"value='antiusa'>Anti-USA</option>
				<option class="selectoption"value='racialism'>Racialism</option>
				<option class="selectoption"value='eunationalism'>European nationalism</option>
				<option class="selectoption"value='antisemitism'>Antisemitism</option>
				<option class="selectoption"value='nazism'>Nazism</option>
				<option class="selectoption"value='historical'>Historical</option>
				<option class="selectoption"value='christian'>Christian imagery</option>
				<option class="selectoption"value='egyptian'>Egyptian imagery</option>
				<option class="selectoption"value='nordic'>Nordic</option>
				<option class="selectoption"value='esoteric'>Esoteric imagery</option>
				<option class="selectoption"value='vaporwave'>Vaporwave</option>
				<option class="selectoption"value='multimeme'>Multi-meme</option>
			</select>
			<div class="pagetitle"><span>Meme:</span></div>
			<select id="memeselect">
				<option class="selectoption" value='all' selected>All</option>
				<option class="selectoption" value='othermeme'>Other</option>
				<option class="selectoption" value='stats'>Statistics/graphs</option>
				<option class="selectoption" value='doge'>Comics</option>
				<option class="selectoption" value='screencaps'>Screencaptures</option>
				<option class="selectoption" value='comics'>Maps</option>
				<option class="selectoption" value='flags'>Flags</option>
				<option class="selectoption" value='pepe'>Pepe the Frog</option>
				<option class="selectoption" value='happymerchant'>Le Happy Merchant</option>
				<option class="selectoption" value='feelsguy'>Feels guy</option>
				<option class="selectoption" value='thinkingemoji'>Thinking emoji</option>
				<option class="selectoption" value='picardia'>Picardia</option>
				<option class="selectoption" value='amerimutt'> Amerimutt</option>
				<option class="selectoption" value='spurdo'>Spurdo</option>
				<option class="selectoption" value='biggrin'>Biggrin</option>
				<option class="selectoption" value='anime'>Anime/hentai</option>
				<option class="selectoption" value='historicalphotos'>Historical photos</option>
				<option class="selectoption" value='quotes'>Quotation images</option>
				<option class="selectoption" value='flags'>Flags</option>
			</select>
			<button id='btn_adminposts'>Admin posts</button>
			</div>
			<div class="submissions">
<!-- 				<div class='submission sticky'>
					<span class="btn_expand"> + </span>
					<span class="span_theme">mememagick</span>
					<span class="span_posttitle">qweqwe</span>
					<span class="span_username"> by Rooot</span>

					<div class="fullpost" style="display: none;">
						<div class="div_notes">
							<p>Sticky post</p>
						</div>
						<img src="https://scontent.xx.fbcdn.net/v/t31.0-8/27355534_1908181275877503_5235075060127726605_o.jpg?oh=521cce95c978c432c4ef013ed8c112bc&amp;oe=5ADE0163">
						<p>Testing a sticky post</p>
						<p>81</p>
					</div>
				</div> -->
<!-- 				<div class='submission presentation sticky' id='post1'>
					<span class="btn_expand"> + </span>
					<span class="span_theme">mememagick</span>
					<span class="span_posttitle">Presentation slide</span>
					<span class="span_username"> by Memewario</span>

					<div class="fullpost" style="display: none;">
						<div class="div_notes">
							<p>Sticky post</p>
						</div>
						<img src="https://scontent.xx.fbcdn.net/v/t31.0-8/27355534_1908181275877503_5235075060127726605_o.jpg?oh=521cce95c978c432c4ef013ed8c112bc&amp;oe=5ADE0163">
						<p>Testing a sticky post</p>
						<p>81</p>
					</div>
				</div> -->
				<div class='submission presentation sticky other' id='post2'>
					<span class="btn_expand"> + </span>
					<span class="span_posttitle">Presentation on Pizzagate by Marc Tuters</span> <!--title of post-->
					<span class="span_username"> </span>
					<div class="fullpost" style="display: none;">
						<div class="div_notes">
							<p><a href="http://journal.media-culture.org.au/index.php/mcjournal/article/view/1422">Based on this paper</a>
							</p> 
						</div>
					</div>
				</div>
				<div class='submission presentation sticky other' id='post2'>
					<span class="btn_expand"> + </span>
					<span class="span_posttitle">How did we get started?</span> <!--title of post-->
					<span class="span_username"> the origins</span>
					<div class="fullpost" style="display: none;">
						<div class="div_notes">
							<p>
								<ul>
									<li>Contemplating on an AR arts project during the NMTRS “The Stack”
									</li>
									<li><a href="Winter school ‘17 project with The_Donald">Winter school ‘17 project on The_Donald</a></li>
									<li>Fake News Data sprint ‘17
										<ul><li><a href="</ul>">Weird pages via FB like networks</li></a></ul>
									</li>
									<li>
										Niche Internet subcultures became a topic for internship Sal
										<ul><li>Resulted in a <a href="https://networkcultures.org/longform/2017/11/15/polandball-is-of-reddit-how-rpolandball-transcends-memes-through-carefully-curated-geopolitical-satire/">paper on 'Polandball'</a></li></ul>
									</li>
									<li>From that moment, OILab gradually started coming together through various datasprints</li>
								</ul>

							</p> 
						</div>
					</div>
				</div>
				<div class='submission presentation sticky other' id='post2'>
					<span class="btn_expand"> + </span>
					<span class="span_posttitle">Work we've done</span> <!--title of post-->
					<span class="span_username"> since 2017</span>
					<div class="fullpost" style="display: none;">
						<div class="div_notes">
							<p>
								<ul>
									<li>
										<a href="Winter school ‘17 project with The_Donald">Winter school ‘17 project on The_Donald</a>
									</li>
									<li>
										The Field Guide to Fake news - <a href="https://fakenews.publicdatalab.org/">Memes a purveyors of fake news</a>
									</li>
									<li>Summer school 2017 projects
										<ul>
											<li>
												<a href="https://wiki.digitalmethods.net/Dmi/AltRightOpenIntelligenceInitiative">Week 1</a>
											</li>
											<li>
												<a href="https://wiki.digitalmethods.net/Dmi/AltRightOpenIntelligenceInitiative">Week 2</a>
											</li>
											<li>
												<a href="http://salhagen.nl/projectmemes/4chan-wikipedia">4chan/Wikipedia</a>
											</li>
										</ul>
									</li>
									<li>
										Then took form as blog posts on oilab.eu, like <a href="https://oilab.eu/from-vaporwave-to-penisbearcats-facebooks-vernacular-meme-neighbourhoods/">this one</a>
									</li>
									<li>Tool work
										<ul>
											<li>4CAT - 4chan capturing and analysis tool</li>
										</ul>
									</li>
									<li><a href="https://oilab.eu/arktos-reformulations-of-far-right-ideas/">Goodreads and Arktos</a> (got some unwanted attention - research ethics...)</li>
									<li>Winter School 2018 projects
										<ul>
											<li>
												<a href="https://oilab.eu/4chanpol-image-walls-memes/">Memes</a> & <a href="https://oilab.eu/4chanpol-image-walls-themes/">Themes</a>
											</li>
											<li>
												<a href="https://oilab.eu/freedom-and-taboos-in-the-international-chanosphere/">International far-right and chanosphere</a>
											</li>
											<li>
												<a href="http://journal.media-culture.org.au/index.php/mcjournal/article/view/1422">The origins of Pizzagate</a>
											</li>
											<li>
												Winter school research on <a href="https://decorrespondent.nl/7938/de-zaak-pizzagate-of-hoe-nepnieuws-en-complottheorieen-hun-weg-vinden-naar-een-breed-publiek/386556786-1c0b5a60">Pizzagate</a> and <a href="https://decorrespondent.nl/8275/dit-betekenen-de-belangrijkste-memes-die-door-extremisten-worden-gebruikt/402967675-9cb17685">Themes & Memes</a> in De Correspondent
											</li>
										</ul>
									</li>
									<li>
										<a href="https://oilab.eu/recap-meme-war-lab-transmediale-2018/">Transmediale 2018</a></li>
									<li>
										<a href="https://oilab.eu/the-rise-and-fall-of-kekistan-a-story-of-idiomatic-animus-as-told-through-the-youtube-recommender-system/">Kekistan</a>, <a href="https://www.vpro.nl/programmas/tegenlicht/kijk/afleveringen/2017-2018/Trollen--Trump---Thierry.html">Tegenlicht</a> and <a href="https://dezwijger.nl/programma/trollen-trump-en-thierry">Tegenlicht Meetup</a>
									</li>
									<li>
										Vernacular Innovation Sprint
									</li>
									<li>
										Summer School 2018 - Hunting the Bakers
									</li>
									<li>
										Altpedia projects: <a href="https://drive.google.com/open?id=1H_wQL7R3dsIJuZnUpIWIPhvwRzFMHrYx">‘isms’</a> project and alternative facts
									</li>
									<li>Sal's thesis: <a href="salhagen.nl/ma-thesis.pdf">“Here I Am, Praying to an Egyptian Frog”</a></li>
								</ul>
							</p> 
						</div>
					</div>
				</div>
				<div class='submission presentation sticky other' id='post2'>
					<span class="btn_expand"> + </span>
					<span class="span_posttitle">Tips</span> <!--title of post-->
					<span class="span_username"> </span>
					<div class="fullpost" style="display: none;">
						<div class="div_notes">
							<p>
								<ul>
									<li>Use your methods skills to explore data out there and develop your own projects. Coding is a huge plus. </li>
									<li>With that, join the data sprints!</li>
									<li>Approach teachers with research proposals/internships</li>
									<li>Contact people ‘in the field’ - also outside academia, like the arts and journalism. E.g. what we did with Dimitri Tokmetzis & Transmediale</li>
									<li></li>
									<li>Consider picking research topics that’s going to be of interest</li>

								</ul>
							</p> 
						</div>
					</div>
				</div>
				
		</div>
	</div>
	<div class='col-lg-3 submitscreen'>
		<div id='schedule'>
			<div class="sidebartitle"><div class='pagetitle'><span>Dive into the Deep Vernacular Web</span></div></div>
			<div class="sidebarcontent">
			<p><span class='activity needed'>"Taking the time to map—to accurately map—the repeated, fractured, reconfiguring mobilizations emerging from anonymous and pseudo-anonymous spaces online allows us to understand where we are and how we got here." (<a href="https://motherboard.vice.com/en_us/article/z4k549/trolling-scholars-debunk-the-idea-that-the-alt-rights-trolls-have-magic-powers">Philips, Beyer & Coleman</a>)</span></p>
		</div>
		</div>
		<div id='rules'>
			<div class="sidebartitle"><div class='pagetitle'><span>Schedule</span></div></div>
			<div class="sidebarcontent">
			<ul>
				<li>Presentation by Marc</li>
				<li>Our origins</li>
				<li>Our work</li>
				<li>Q/A</li>
				<!-- <li>Each entry is a submission of artefacts from the Deep Vernacular Web</li>
				<li>'Admin posts' shows pre-selected research findings</li>
				<li>To become a meme scientist yourself, click the top-left button and go to the research tool</li>
				<li>Search datasets for images, vernacular keywords, or anything you find relevant/interesting</li>
				<li>Select a theme and meme if your submission matches it. If not, choose 'other'</li>
				<li>Select a username, title, and your deliberations/questions as a note</li>
				<li>Submit to the OILab forum</li>
				<li>You can always return to submit more findings</li> -->
			</ul>
		</div>
		</div>
	</div>
</div>
</div>
<!--Footer-->
<footer class="page-footer">
	<!--Copyright-->
	<div class="footer-copyright">
		<div class="container-fluid">
			© 2018 Copyright: <a href="http://www.oilab.eu" target="_blank">Open Intelligence Lab</a>

		</div>
	</div>
	<!--/.Copyright-->

</footer>
<!--/.Footer-->

</body>

</html>