{% extends "layout.html" %}

{% block title %}Create query{% endblock %}
{% block body_class %}webtool{% endblock %}

{% block body %}
		<div class='container-fluid'>
			<div class='row'>
                <form id="query-form" class='col-lg-9 topdiv'>
                    <fieldset id="whole-form">
                        <div id='panel'>
                            <div id='filterpanel'>
                                <div id='buttonselections'>
                                    <span>
                                        <span> Results are limited to 5 million rows. You can use <a href="/page/query-syntax/">advanced query syntax</a>.</span>
                                    </span>
                                </div>
                                <div id='filterinputs'>
                                    <div class='filter-box'>
                                        <div class='filter-box-label'>
                                            <span>Platform:</span>
                                        </div>
                                        <select name="platform" id='platform-select'>
                                            {% for platform in boards %}
                                                <option value="{{ platform }}">{{ platform }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class='filter-box'>
                                        <div class='filter-box-label'>
                                            <span>Board:</span>
                                        </div>
                                        <input id="board-select" name="board" value="pol" placeholder="pol">
                                    </div>
                                    <div class='filter-box'>
                                        <div class='filter-box-label'>
                                            <span>Post body:</span>
                                            </div>
                                        <input name="body_query" id='body-input' type='text' maxlength='200'>
                                    </div>
                                    <div class='filter-box'>
                                        <div class='filter-box-label'>
                                            <label for='check-full-thread'> Return full threads</label>
                                        </div>
                                        <input name="full_threads" type='checkbox' id='check-full-thread'> (warning: slow!)
                                    </div>
                                    <div class='filter-box'>
                                        <div class='filter-box-label'>
                                            <span>OP subject:</span>
                                        </div>
                                        <input name="subject_query" id='subject-input' type='text' maxlength='200'>
                                    </div>
                                    <div class='filter-box'>
                                        <div class='filter-box-label'>
                                            <input name="dense_threads" type='checkbox' id='check-dense-threads' class='input-dense'>
                                            <label for='check-dense-threads'><span class='density-keyword'>keyword</span>-dense threads:</label>
                                        </div>
                                        <ul>
                                            <li>
                                                <input name="dense_percentage" id='dense-percentage' class='input-dense input-number' type='number' value='15' min='10' max='100'>
                                                <label for='dense-percentage'>% of posts containing <span class='density-keyword'>keyword</span> in thread (min 10%)</label>
                                            </li>
                                            <li>
                                                <input name="dense_length" id='dense-thread-length' class='input-dense input-number' type='number' value='30' min='10'>
                                                <label for='dense-thread-length'>Total posts in thread (min 10)</label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class='filter-box' id='filter_time'>
                                        <div class='filter-box-label'>
                                            <input name="use_date" type='checkbox' id='check-time'>
                                            <label for='check-time'>Date range</label>
                                        </div>
                                        <input name="min_date" id='input-min-time' class='input-time' type='date' placeholder='dd-mm-yyyy' disabled='disabled'> to
                                        <input name="max_date" id='input-max-time' class='input-time' type='date' placeholder='dd-mm-yyyy' disabled='disabled'> <span class='red'></span>
                                    </div>
                                    <button class='btn_filterbutton' id='btn_go'>Go</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
				<div class='col-lg-3 topdiv'>
					<div id='submitpanel'>
						<div id='submitpaneltitle'>
							<div class='pagetitle'>
								<span id='submitheader'>RESULTS</span>
							</div>
						</div>
						<div id='submitform'>
                            <p>Results are listed in this panel. A results <a href="/results/">overview</a> is also available.</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-lg-12' id='resultsdiv'>
					<div id='resultsheader'>
						<div class='pagetitle'>
							<span id='resultsheadertext'>QUERY STATUS</span>
						</div>
					</div>
					<div id='imagenavigationdiv' class='inactive'>
						<span id='imagenavigation'>
							<button id='btn_previmg' class='imgbutton'>Previous image</button>
							<span id='imgnotification'></span>
							<button id='btn_nextimg' class='imgbutton'>Next image</button>
						</span>
					</div>
					<div id='results'>
                        <div id="query_status">
                            <div class="status_message">
                                <span class="message">Waiting for input...</span><span class="dots"></span>
                            </div>
						    <div class='loader'>
							    <span>Working... Large queries may take up to ~20 minutes.<img src='static/img/hourglass.gif'></span>
						    </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}