/* 

See https://github.com/digitalmethodsinitiative/4cat/wiki/Exploring-and-annotating-datasets for information on how to add custom CSS.
 
 */

@import url('colours.css');

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    src: url("../fonts/OpenSans-Italic.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/OpenSans-BoldItalic.ttf")
}


/** --------------------- *
     Posts
  * --------------------- */
.posts {
    list-style: none;
    padding: 0;
}

.posts li.post {
    position: relative;
    background: #d1e2ff;
    padding: 1em;
    min-width: 640px;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 1em;
    overflow-x: hidden;
}

.posts header {
    border-bottom: 1px solid #000;
    display: inline;
    cursor: default;
}

.posts article {
    margin-top: 0.5em;
}

.posts article .post-content {
    display: inline;
    vertical-align: top;
}

.posts header .author {
    font-weight: bold;
}

.posts header span {
    display: inline-block;
}

.posts header span:not(:last-child)::after {
    content: '\2022';
    margin-left: 0.5em;
}

.posts li.post.op {
    border: 2px solid #000;
    background: #485ba6;
    color: #FFF;
}

.posts li.post.op header {
    border-color: #FFF;
}

.posts li.post .post-content a {
    color: #215bc6;
}

.posts .external-url {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.posts .external-url.deactivated {
    color: #cbcbcb;
    cursor: not-allowed;
}

.quote {
    color: #ff5750;
}

.highlight, :target {
    outline: 2px solid #ff5750;
}
li a {
    color: inherit;
    text-decoration: none;
}

.posts li .post-image img {
    width: 100%;
}

.clear {
    clear: both;
}

span.divider {
    font-size: 16px;
    color: var(--gray-darker);
    cursor: default;
}

/** --------------------- *
     Annotation post elements
  * --------------------- */
.post-annotations {
    background-color: #bed4f9;
}

.post-annotation {
    padding-top: 5px;
}

.post-annotation .annotation-label {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
    width: 130px;
    margin-right: 5px;
    line-height: 1.6em;
    overflow-x: hidden;
}

.post-annotation.checkbox > .post-annotation-options {
    display: inline-block;
}

.post-annotation-options {
    display: inline-block;
    vertical-align: top;
}

.post-annotation-options > input {
    display: inline-block;
}

.posts .external-url {
}*/