/* 

See https://github.com/digitalmethodsinitiative/4cat/wiki/Exploring-and-annotating-datasets for information on how to add custom CSS.
 
 */

@import url('colours.css');

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    src: url("../fonts/OpenSans-Italic.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/OpenSans-BoldItalic.ttf")
}

/** --------------------- *
     Posts
  * --------------------- */

.post {
    font-family: "Open Sans";
    list-style: none;
    padding: 0;
}

.posts li.post {
    position: relative;
    background: #d1e2ff;
    padding: 1em;
    min-width: 640px;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 1em;
    overflow-x: hidden;
}

.posts header {
    border-bottom: 1px solid #000;
    display: inline;
    cursor: default;
}

.posts article {
    margin-top: 0.5em;
}

.posts article .post-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts header .author {
    font-weight: bold;
}

.posts header span {
    display: inline-block;
}

.posts header span:not(:last-child)::after {
    content: '\2022';
    margin-left: 0.5em;
}

.tags, .metrics, .external-url {
    color: #3b4f9d;
}

.posts li.post .post-content a {
    color: #215bc6;
}


.posts .external-url {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.posts .external-url.deactivated {
    color: #cbcbcb;
    cursor: not-allowed;
}

.post-media img {
    width: 100%;
    max-width: 300px;
}

span.divider {
    font-size: 16px;
    color: var(--gray-darker);
    cursor: default;
}

/** --------------------- *
     Annotation post elements
  * --------------------- */
.post-annotations {
    background-color: #bed4f9;
}

.post-annotation {
    padding: 15px;
}

.post-annotation > .annotation-label {
    display: inline-block;
    text-align: right;
    width: 150px;
    margin-right: 5px;
    line-height: 1.6em;
    position: relative;
    word-break: break-all;
}

.post-annotation.checkbox > .post-annotation-options {
    display: inline-block;
}

.post-annotation-options {
    display: inline-block;
    vertical-align: top;
}

.post-annotation-options > input {
    display: inline-block;
}

textarea.post-annotation-input {

}