/*

See https://github.com/digitalmethodsinitiative/4cat/wiki/Exploring-and-annotating-datasets for information on how to add custom CSS.

 */

@import url('colours.css');

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    src: url("../fonts/OpenSans-Italic.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/OpenSans-BoldItalic.ttf")
}

/** --------------------- *
     Posts
  * --------------------- */
.post {
    font-family: "Open Sans", sans-serif;
    list-style: none;
    padding: 0;
}

.posts li.post {
    position: relative;
    background: #d1e2ff;
    padding: 1em;
    min-width: 640px;
    max-width: 960px;
    margin: 0 auto 1em auto;
}

.posts header {
    display: inline;
    border-bottom: 1px solid #000;
    cursor: default;
}

.posts article {
    margin-top: 0.5em;
}

.posts article .post-content {
    margin: 10px 0;
}

.posts header .author {
    font-weight: bold;
}

.posts header span {
    display: inline-block;
}

.posts header span:not(:last-child)::after {
    content: '\2022';
    margin-left: 0.5em;
}

.tags,
.metrics,
.external-url {
    color: #3b4f9d;
}

.posts li.post .post-content a {
    color: #215bc6;
}

.posts .external-url {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.posts .external-url.deactivated {
    color: #cbcbcb;
    cursor: not-allowed;
}

.post-media img {
    width: 100%;
    max-width: 300px;
}

span.divider {
    font-size: 16px;
    color: var(--gray-darker);
    cursor: default;
}