/* General stuff */
.explorer-content {
	background-color: #001935;
	padding: 20px
}

.posts li.post {
	position: relative;
	list-style-type: none;
	font-family: Helvetica, sans-serif;
	background-color: white;
	color: black;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0px;
	border-radius: 8px;
	max-width: 540px;
}

.author {
	font-size: 13px;
	font-weight: bold;
}

.author-avatar {
	width: 32px;
	margin-right: 10px;
}

.author-avatar img {
	border-radius: 3px;
	width: 100%;
}

/* Main author info  */
header {
	display: flex;
	align-items: center;
	padding: 19px;
	text-decoration: none;
	color: black;
	overflow: hidden;
}

header a {
	color: black;
}

header .author-avatar {
	display: inline-block;
}

header .author {
	display: inline-block;
}

/* Media */
.media-container {
	position: relative;
	margin: 3px -19px 3px -19px;
	overflow-x: hidden;
}

.media-container img {
	width: 100%;
}

.media-container.video img {
	min-height: 300px;
	width: auto;
	filter: blur(1.5rem);
}

.media-container.audio {
	margin: initial;
}

.media-container.audio audio {
	width: 100%;
}

.play-button {
	position: absolute;
	width: 100%;
	top: 38%;
    left: 45%;
	font-size: 80px;
}

.play-button i {
	color: white;
	opacity: .7;
}

/* Post text content */
.post-content {
	display: block;
	padding: 0px 19px 0px 19px;
}

.post-content .body, .body-reblogged {
	white-space: pre-wrap;
	line-height: 1.5em;
}

.post-content .body {
	padding: 3px 0px 3px 0px;
}

.reblogged-content {
	margin-bottom: 19px;
	display: inline-block;
	max-width: 400px;
	padding: 25px;
	background-color: #ededed;
}

.author-reblogged {
	padding-bottom: 3px;
}

.author-reblogged-avatar {
	display: inline-block;
}

.embedded-link {
	padding: 30px;
	background-color: #001935;
	color: white;
	text-align: center;
	font-size: 18px;
	border-radius: 15px;
	margin-bottom: 19px;
}

.embedded-link a {
	color: white;
}

.embedded-link .link-description {
	margin-top: 3px;
	font-size: 14px;
}

.poll-question {
	font-size: 20px;
	padding: 3px 0px 3px 0px;
}

.poll-answer {
	color: white;
	background-color: #001935;
	margin: 8px;
	padding: 8px;
	border-radius: 15px;
	text-align: center;
}

.tags {
	padding-top: 5px;
	list-style-type: none;
	color: #5e5e5e;
	word-break: break-all;
}

.tags a {
	color: #5e5e5e;
}

.tags li {
	padding: 5px 5px 5px 0px;
	display: inline-block;
	background-color: white;
}

/* Post footer */
footer {
	margin: 19px;
	padding-top: 19px;
	border-top: 1px solid rgba(0,0,0,0.13);
}

.time {
	color: #5e5e5e;
}

.posts .external-url {
	color: #00b4fa;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
}

/* Note metrics  */
.notes {
}

.note-counts {
	padding-top: 19px;	
}

.note-count {
	display: inline-block;
	color: #5a5a5a;
	border-radius: 18px;
	border: 1px solid #ebebeb;
	padding: 9px 18px;
}

.note-count.total {
	font-weight: bold;
}

/* Replies */
.replies {
	margin-top: 12px;
	display: table;
}

.reply {
	background-color: white;
	display: table-row;
}

.reply .author-info {
	display: table-cell;
}

.reply .author-replied-avatar {
	vertical-align: middle;
	display: table-cell;
	padding-right: 10px;
}

.reply-content {
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 18px;
	border: 1px solid #ebebeb;
	padding: 9px 18px;
	font-size: 14px;
	color: #5e5e5e;
}

.reply-content .author {
	color: black;
	margin-bottom: 5px;
}

/* Annotation fields */
.post-annotations {
	background-color: #7c5cff;
	color: white;
	border-radius:  0px 0px 8px 8px;
}

.post-annotation {
	padding: 15px;
}

.post-annotation input {
	border-radius: 5px;
}

.post-annotation > .annotation-label {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	min-width: 150px;
	margin-right: 5px;
	line-height: 1.6em;
	overflow-x: hidden;
}

.post-annotation.checkbox > .post-annotation-options {
	display: inline-block;
}

.post-annotation-options {
	display: inline-block;
	vertical-align: top;
}

.post-annotation-options > input {
	display: inline-block;
}