.explorer-content {
	--text-color-primary: black;
	--text-color-secondary: rgb(66, 87, 108);
	--text-color-tertiary: #8598ae;
	--accent-color: #0085ff;
	--border-color: rgb(228, 232, 236);
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.items .item {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	width: 600px;
	margin: 0 auto;
	background-color: white;
	list-style-type: none;
	border: 1px solid var(--border-color);
	min-height: 50px;
	padding: 20px;
}

.items .item .item-table {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.items .item .item-table-row {
	display: table-row;
}

.items .item .reply-to {
	width: 0;
	height: 12px;
	border: 2px solid var(--text-color-tertiary);
	position: absolute;
	margin-left: 19px;
	margin-top: -20px;
}

.items .item .profile-picture {
	display: table-cell;
	width: 7%;
	vertical-align: top;
	padding-right: 12px;
}

.items .item .profile-picture img {
	border-radius: 100%;
	width: 100%;
}

.items .item .item-content {
	display: table-cell;
	width: 93%;
}

.items .item header {
	color: var(--text-color-primary);
	margin-top: 5px;
	margin-bottom: 5px;
}

.pseudonymous-author {
	width: 100%;
	background: var(--text-color-tertiary);
	height: 42px;
	border-radius: 100%;
}

.items .item header .author strong a {
	color: var(--text-color-primary);
}

.items .item header a {
	color: var(--text-color-secondary);
}

.items .item .item-content {
	display: inline-block;
}

.items .item .media-container {
	margin-top: 10px;
	width: 100%;
}

.items .item .media-container img {
	width: 100%;
	border-radius: 15px;
	border: 1px solid var(--border-color);
}

.metrics {
	margin-top: 20px;
}

.time, .metrics, .external-url a {
	color: var(--text-color-secondary);
}

.body a, .external-url a {
	color: var(--accent-color);
}

.items .item .metrics {
	display: flex;
	justify-content: space-between;
	color: var(--text-color-tertiary);
}

span.hashtag {
	color: var(--accent-color);
}

.item .quote-item {
	padding: 15px 20px 15px 20px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	margin-top: 5px;
}


/** --------------------- *
     Annotation item elements
  * --------------------- */
.item-annotations {
    background: var(--accent-color);
    margin-top: 10px;
    color: white;
    border-radius: 15px;
}

.item-annotation {
    padding: 15px;
}

.item-annotation > .annotation-label {
    display: inline-block;
    text-align: right;
    width: 150px;
    margin-right: 5px;
    line-height: 1.6em;
    position: relative;
    word-break: break-all;
}

.item-annotation > .annotation-label, .item-annotation a {
	color: white;
}

.item-annotation.checkbox > .item-annotation-options {
    display: inline-block;
}

.item-annotation-options {
    display: inline-block;
    vertical-align: top;
}

.item-annotation-options > input {
    display: inline-block;
}

textarea.item-annotation-input {
	width: 60%;
}