<fieldset class="basic-options">
    <p class="form-intro">Posts are scraped in reverse chronological order; the most recent post for a given query will
        be scraped first. In addition to posts, comments are also scraped. Note that this may take a long time
        for popular accounts or hashtags.</p>

    <div class="form-element">
        <label for="search-scope">Search by:</label>
        <div>
            <select name="search_scope" id="search-scope">
                <option value="hashtag">Hashtag</option>
                <option value="username">Username</option>
            </select>
        </div>
    </div>

    <p class="form-intro">You can scrape up to <strong>five</strong> items at a time. Separate the items with commas or
        blank lines.
        Including <code>#</code> in hashtags is optional.</p>

    <div class="form-element">
        <label for="query-input">Items to scrape:</label>
        <div>
            <textarea id="query-input" name="query" placeholder="Separate with commas or new lines."></textarea>
        </div>
    </div>

    <div class="form-element">
        <label for="query-comments">Scrape comments?</label>
        <div>
            <input type="checkbox" name="scrape_comments" id="query-comments">
        </div>
    </div>

    <div class="form-element country-element">
        <label for="country-code">Posts per item:</label>
        <input name="max_posts" id="max-posts" min="0" max="2500" placeholder="Max: 500" value="10" type="number">
    </div>

    {% if __datasources_config.instagram.require_login %}
    <p class="form-intro">Due to recent changes to Instagram's website, it is now necessary to provide login details
        to succesfully scrape the platform. These login details <strong>will be sent to the 4CAT server</strong>
        {% if __has_https %} (using an encrypted connection){% endif %} where they will be deleted immediately after
        logging in to start the scrape. At this time, two-factor authentication is not supported, and it should be
        disabled for your account before you start the scrape.</p>

    <div class="form-element">
        <label for="instagram-username">Username</label>
        <div>
            <input type="text" name="username" id="instagram-username">
        </div>
    </div>

    <div class="form-element">
        <label for="instagram-password">Password</label>
        <div>
            <input type="password" name="password" id="instagram-password">
        </div>
    </div>
    {% endif %}
</fieldset>

{% if __datasources_config.instagram.require_login %}
<fieldset id="instagram-checkpoint" class="optional-form-element hidden">
    <p class="form-intro"><strong>Instagram needs you to verify your account</strong>. Go to <a href="#" id="instagram-checkpoint-link" target="_blank">this page</a> to verify your
        account and resubmit your query here.</p>
</fieldset>
{% endif %}