:root {
    --journey-width: 54px;
}

/** base tree container **/
.analysis-results {
    position: relative;
    padding-left: var(--journey-width);
    box-sizing: border-box;
}

/** very first item connects to the header box **/
.analysis-results > ul > li:first-child {
    padding-top: var(--spacing-xlarge);
}

.analysis-results > ul > li:first-child::before {
    /** funnel **/
    content: '';
    position: absolute;
    top: 0;
    left: calc((var(--journey-width) * 0.5) + (var(--stroke-journey) * 1.25));
    width: calc(var(--journey-width) - (var(--stroke-journey) * 2));
    height: calc(var(--journey-width) / 2);
    background: var(--semidark);
    mask: radial-gradient(#0000 71%, #F09 1%) 10000% 10000%/99.5% 200%;
}


/** very last item of analysis tree root level **/
.analysis-results > ul > li:last-child {
    border-color: transparent;
}

/** any item **/
.analysis-results .tree > li {
    border-left: var(--stroke-journey) solid var(--semidark);
    padding-left: calc(var(--spacing-xlarge) / 2);
}

/** last item of sub-tree **/
.analysis-results .tree .tree > li:last-child {
    border-left-color: transparent;
}

/** any processor card wrapper **/
.analysis-results article {
    border-left: var(--stroke-journey) solid transparent;
    padding-left: calc(var(--spacing-xlarge) / 2);
}

/** processor card wrappers of processors with children **/
.analysis-results li.with-children > article {
    border-left-color: var(--semidark);
}

/** processor datetime **/
.analysis-results .subway-station {
    position: absolute;
    left: 0;
    font-size: var(--font-body);
}

.analysis-results .subway-station .date {
    font-weight: bold;
}

.analysis-results .subway-station .time {
    color: var(--stroke-bright)
}

.analysis-results .subway-station span {
    display: block;
    text-align: right;
    text-transform: uppercase;
}

.analysis-results .subway-station .new-notice {
    position: absolute;
    top: 0;
    left: calc(-3.8rem - var(--spacing-small));
    text-align: right;
    width: 3rem;
    padding-right: calc(var(--font-normal));
}

.analysis-results .subway-station .new-notice::before {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    right: 0;
    background: var(--red);
    width: calc(var(--font-normal) * 0.5);
    height: calc(var(--font-normal) * 0.5);
    border-radius: 50%;
}

.journey-marker {
    /** big circle before each dataset **/
    font-family: 'Font Awesome 6 Free', monospace;
    font-weight: 900;
    background: var(--dark);
    color: var(--bright);
    border: 0;
    border-radius: var(--font-body);
    width: calc(var(--font-body) * 2);
    height: calc(var(--font-body) * 2);
    display: block;
    text-align: center;

    position: absolute;
    top: calc((var(--font-body) * 2.25) + (var(--stroke-journey) / 2) - var(--font-body));
    left: calc((-0.5 * var(--spacing-xlarge)) - (var(--stroke-journey) / 2) - var(--font-body));
    z-index: var(--z-journey-marker);

    /** this is to get the glyph in exactly the center **/
    padding: 0;
    padding-top: 1px;
}

.journey-marker.end::after {
    content: '';
    height: var(--stroke-journey);
    background: var(--dark);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.journey-marker .status-indicator {
    /** coloured dot in middle of journey indicator **/
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    height: calc(var(--font-body) * 0.75);
    width: calc(var(--font-body) * 0.75);
    border-radius: calc(var(--font-body) * 0.375);
    margin-top: calc(var(--font-body) * -0.375);
    margin-left: calc(var(--font-body) * -0.375);
    border: 0;
    text-indent: -10em;
    animation-timing-function: linear;
}

.in-progress > article > div > .journey-marker {
    animation: status-pulse 1.25s infinite alternate;
}

@keyframes status-pulse {
    from {
        height: calc(var(--font-body) * 0.75);
        width: calc(var(--font-body) * 0.75);
        border-radius: calc(var(--font-body) * 0.375);
        margin-top: calc(var(--font-body) * -0.375);
        margin-left: calc(var(--font-body) * -0.375);
    }
    to {
        width: calc((var(--font-body) * 2) - var(--stroke-journey) * 2);
        height: calc((var(--font-body) * 2) - var(--stroke-journey) * 2);
        border-radius: var(--font-body);
        margin-top: calc(((var(--font-body) * 2) - var(--stroke-journey) * 2) * -0.5);
        margin-left: calc(((var(--font-body) * 2) - var(--stroke-journey) * 2) * -0.5);
    }
}

@keyframes status-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/** journey marker of first item in tree, and any item with children **/
:first-child > article > .processor-card > .journey-marker::before, .with-children > article > .processor-card > .journey-marker::before {
    /** block top of border that extends above journey marker **/
    content: '';
    display: block;
    position: absolute;
    top: calc(-1 * (var(--spacing-regular) + 0.5em));
    left: calc(50% - var(--stroke-journey));
    background: var(--bright);
    width: calc((var(--stroke-journey) * 2) + var(--stroke-light));
    height: calc(var(--spacing-regular) + 0.5em);
}

/** any processor card **/
/** standard processor card height **/
:root {
    --card-height: calc(var(--font-h1) * 10);
}
.processor-card {
    position: relative;
    padding: var(--spacing-regular) 0;
}

.processor-card::before {
    /** dotted line connecting card to journey marker **/
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing-regular) + var(--font-body) + (var(--stroke) / 2));
    left: calc(-1 * var(--spacing-regular));
    width: var(--spacing-regular);
    border: var(--stroke) solid var(--semidark);
    border-width: calc(var(--stroke-journey) / 2) 0;
}

.processor-card > .dataset-header::before {
    /** curve towards journey marker **/
    border: var(--stroke-journey) solid var(--semidark);
    border-bottom-left-radius: var(--double-radius);
    border-top-width: 0;
    border-right-width: 0;
    width: calc(var(--font-body) * 1.5);
    height: calc(var(--font-body) * 2.25);
    outline: var(--stroke-journey) solid var(--bright);
    position: absolute;
    top: 0;
    background: transparent;
    display: block;
    content: '';
    left: calc((-1 * var(--spacing-xlarge)) - (2 * var(--stroke-journey)));
}

.processor-card > .dataset-header::after, .big-processor-button::after {
    /** cover for outline on top of curve (break in stroke otherwise) **/
    content: '';
    position: absolute;
    top: calc(var(--stroke-journey) * -1);
    background: transparent;
    display: block;
    left: calc((-1 * var(--spacing-xlarge)) - (2 * var(--stroke-journey)));
    width: var(--stroke-journey);
    height: var(--stroke-journey);
    background: var(--semidark);
}

.processor-card .dataset-header {
    color: inherit;
    border: var(--stroke-light) solid var(--dark);
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: var(--panel-bg-2);
    background: var(--panel-bg-0);
    padding: var(--spacing-regular);
}

/** badge list container **/
.processor-card .status {
    border: var(--stroke-light) solid var(--dark);
    border-top: 0;
    border-radius: var(--radius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-width: var(--stroke-journey);
}

.processor-card .badge-list {
    padding: var(--spacing-small) var(--spacing-regular);
}

/** any badge list in a processor card that is not the last one **/
.processor-card .badge-list.dataset-status:not(:last-child) {
    border-bottom: var(--stroke-light) dashed var(--panel-bg-2);
}

.processor-card .badge-list dd {
    border: var(--stroke) solid var(--button-grey);
    box-sizing: content-box;
}

.processor-card .quick-links {
    flex-grow: 1;
}

.processor-card .quick-links li:hover {
    background: var(--button-bg-regular);
    color: var(--panel-bg-0);
}

.analysis-results .dataset-actions li {
    background: var(--panel-bg-1);
    color: var(--semidark);
    border-bottom-color: var(--semidark);
}

/** colours for dropdown button in processor cards **/
.processor-card .button-like {
    color: var(--button-bg-regular);
    background-color: transparent;
    outline-color: var(--button-bg-regular);
}

.processor-card .dropdown-action-button::before {;
    outline-color: var(--button-bg-regular);
    background-color: var(--button-bg-regular);
}

.processor-card .button-like:hover, .processor-card .with-dropdown ul li:hover, .processor-card .with-dropdown:hover .dropdown-action-button::before {
    color: var(--panel-bg-0);
    background: var(--button-bg-regular);
    outline-color: var(--button-bg-regular);
}

.processor-card .with-dropdown:hover ul {
    outline-color: var(--button-bg-regular);
}

.processor-card .with-dropdown ul li {
    background-color: var(--panel-bg-0);
    border-color: var(--button-bg-regular);
    color: var(--button-bg-regular);
}

/** 'run processor' button/icon **/
.run-processor-button, button.run-processor-button {
    color: var(--fourcat-accent);
    display: inline-block;
    border: var(--stroke-journey) solid var(--fourcat-accent);
    border-radius: 50%;
    width: calc(var(--font-body) * 2);
    height: calc(var(--font-body) * 2);
    font-size: calc(var(--font-body) * 1.1);
    line-height: calc(var(--font-body) * 1.6);
}

button.run-processor-button {
    outline: var(--stroke-journey) solid var(--bright)
}

aside.run-child-processor {
    position: absolute;
    top: calc(var(--font-body) * 3);
    left: calc((-0.5 * var(--spacing-xlarge)) - (var(--stroke-journey) / 2) - var(--font-body));
    /** 1px needed to center on stroke, for some reason **/
    color: var(--fourcat-accent);
    background: var(--bright);
    font-size: calc(var(--font-body) * 2);
    padding-top: var(--spacing-regular);
}

aside.run-child-processor::before {
    position: absolute;
    top: 0;
    left: calc(50% - var(--stroke-journey) + 1px);
    height: var(--spacing-regular);
    border: var(--stroke) dotted var(--stroke-bright);
    content: '';
}

aside.run-child-processor button:hover {
    font-weight: 900;
    cursor: pointer;
    background: var(--fourcat-accent);
    color: var(--bright);
}

/** 'run new processor' button at bottom **/
.big-button-wrap {
    position: relative;
    padding-left: calc(var(--spacing-xlarge) + (2 * var(--stroke-journey)));
    box-sizing: border-box;
    margin-left: calc((var(--spacing-xlarge) / 2 * -1) - var(--stroke-journey));
}

.big-button-wrap em {
    color: var(--fourcat-accent);
    display: block;
    font-style: normal;
}

.big-processor-button, .run-hint p {
    border-radius: var(--radius);
    border: var(--stroke-light) solid var(--dark);
    border-bottom-width: var(--stroke-journey);
    background: transparent;
    padding: var(--spacing-small);
    font-size: var(--font-h1);
    text-align: center;
    width: 100%;
}

.big-processor-button:hover {
    cursor: pointer;
    background: var(--button-bg-regular);
}

.big-processor-button:hover, .big-processor-button:hover em {
    color: var(--bright);
}

.big-processor-button .byline {
    margin: var(--spacing-tiny) 0 0 0;
    font-size: var(--font-normal)
}

.run-processor-button.inline {
    width: calc(var(--font-body) * 1.5);
    height: calc(var(--font-body) * 1.5);
    line-height: calc(var(--font-body) * 1.5);
}

.big-processor-button:hover .run-processor-button {
    border-color: var(--bright);
    color: var(--bright);
}

.big-processor-button::before {
    /** curve towards button **/
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: var(--stroke-journey) dotted var(--semidark);
    border-bottom-left-radius: var(--double-radius);
    border-top-width: 0;
    border-right-width: 0;
    width: calc(var(--spacing-xlarge));
    height: calc((100% - var(--stroke-journey)) / 2);
    outline: var(--stroke-journey) solid var(--bright);
}

.big-processor-button::after {
    left: 0;
}

.run-hint {
    border-left: var(--stroke-journey) solid var(--semidark);
    position: relative;
    display: none;
}

.tree > li:not(.with-children) > .run-hint {
    border-left-color: transparent;
    height: 2rem;
    padding-top: calc(2.5rem + var(--spacing-regular));
    margin-top: calc(-1 * (6rem - var(--spacing-xlarge) - var(--stroke-journey)));
}

.run-hint::before {
    content: '';
    display: block;
    position: absolute;
    left: calc(var(--stroke-journey) * -1);
    top: calc(-100%);
    border: 0 dotted var(--semidark);
    border-bottom-left-radius: var(--double-radius);
    border-left-width: var(--stroke-journey);
    border-bottom-width: var(--stroke-journey);
    width: var(--spacing-xlarge);
    height: calc(var(--spacing-xlarge) + var(--spacing-small));
}

.tree > li:not(.with-children) > .run-hint::before {
    top: 0;
    height: 5.8em;
    z-index: var(--z-run-hint);
    border-left: var(--stroke-journey) dotted var(--semidark);
}

.run-hint p {
    width: max-content;
    font-size: var(--font-body);
    margin: 0;
    margin-left: var(--spacing-xlarge);
    padding: var(--spacing-small) var(--spacing-large);
}