.badge-list {
    display: flex;
    column-gap: var(--spacing-regular);
    font-size: var(--font-body);
    position: relative;
}

.badge-list.no-overflow {
    flex-wrap: wrap;
    row-gap: var(--spacing-small);
}

.badge-list.with-overflow {
    overflow-y: auto;
    white-space: nowrap;
}

.badge-list.with-overflow::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, transparent 80%, var(--bright) 100%);
    border-bottom-right-radius: var(--radius);
}

.dark .badge-list.with-overflow::before {
    background: linear-gradient(90deg, transparent 0%, transparent 80%, var(--panel-bg-3) 100%);
}

.badge-list div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.badge-list dt, .badge-list dd {
    padding: var(--spacing-tiny);
    white-space: nowrap;
}

.badge-list dt {
    background: transparent;
    text-transform: uppercase;
}

.badge-list dd {
    background: var(--brighten-12);
    padding: var(--spacing-tiny) var(--spacing-small);
}

.badge-list.dataset-status dt {
    align-self: start;
}

.badge-list.dataset-status dd {
    white-space: wrap;
}

.status-badge dt {
    display: none;
}

.status-badge dd {
    text-transform: uppercase;
}

.dark .badge-list .status-badge-annotated dd {
    background: transparent;
}

.status-badge.status-good dd {
    background: var(--green);
    color: var(--green-light);
}

.status-badge.status-bad dd {
    background: var(--red);
    color: var(--red-light);
}

.status-badge.status-neutral dd {
    background: var(--blue);
    color: var(--blue-light);
}

.status-badge.status-warning dd {
    background: var(--yellow);
    color: var(--yellow-light);
}

.badge-list .status-badge-annotated.status-good dt, .status-indicator.status-good {
    border: var(--stroke) solid var(--green-light);
    background: var(--green-light);
    color: var(--green);
}

.badge-list .status-badge-annotated.status-good dd {
    border-color: var(--green-light);
    color: var(--green);
}

.dark .badge-list .status-badge-annotated.status-good dd {
    color: var(--green-light);
    border: var(--stroke) solid var(--green-light);
}

.badge-list .status-badge-annotated.status-bad dt, .status-indicator.status-bad {
    border: var(--stroke) solid var(--red-light);
    background: var(--red-light);
    color: var(--red);
}

.badge-list .status-badge-annotated.status-bad dd {
    border-color: var(--red-light);
    color: var(--red);
}

.dark .badge-list .status-badge-annotated.status-bad dd {
    color: var(--red-light);
    border: var(--stroke) solid var(--red-light);
}

.badge-list .status-badge-annotated.status-neutral dt, .status-indicator.status-neutral {
    border: var(--stroke) solid var(--blue-light);
    background: var(--blue-light);
    color: var(--blue);
}

.badge-list .status-badge-annotated.status-neutral dd {
    border-color: var(--blue-light);
    color: var(--blue);
}

.dark .badge-list .status-badge-annotated.status-neutral dd {
    color: var(--blue-light);
    border: var(--stroke) solid var(--blue-light);
}

.badge-list .status-badge-annotated.status-warning dt, .status-indicator.status-warning {
    border: var(--stroke) solid var(--yellow-light);
    background: var(--yellow-light);
    color: var(--yellow);
}

.badge-list .status-badge-annotated.status-warning dd {
    border-color: var(--yellow-light);
    color: var(--yellow);
}

.dark .badge-list .status-badge-annotated.status-warning dd {
    color: var(--yellow-light);
    border: var(--stroke) solid var(--yellow-light);
}

/* Tags for modules */
.module-tag {
    text-transform: uppercase;
    background-color: var(--tag1);
    color: var(--bright);
    cursor: pointer;
}

.module-tag.tag-text-analysis        { background-color: var(--tag1); }
.module-tag.tag-visual,
.module-tag.tag-visualisation         { background-color: var(--tag2); }
.module-tag.tag-networks              { background-color: var(--tag3); }
.module-tag.tag-machine-learning      { background-color: var(--tag4); }
.module-tag.tag-filtering             { background-color: var(--tag5); }
.module-tag.tag-metrics,
.module-tag.tag-thread-metrics        { background-color: var(--tag6); }
.module-tag.tag-conversion            { background-color: var(--tag7); }
.module-tag.tag-twitter-analysis,
.module-tag.tag-username              { background-color: var(--tag8); }
.module-tag.tag-statistics            { background-color: var(--tag9); }
.module-tag.tag-audio                 { background-color: var(--tag10); }
.module-tag.tag-cross-platform        { background-color: var(--tag3); }
.module-tag.tag-combined-processors   { background-color: var(--tag9); }
