button.no-style {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

.button-like, input[type=submit], .plain-page button {
    text-transform: uppercase;

    color: var(--button-bg-regular);
    background: transparent;

    border-width: var(--stroke);
    border-radius: var(--radius);
    border-color: var(--button-bg-regular);
    border-style: solid;
}

.dark .button-like {
    border-color: var(--button-grey);
}

a.button-like, button {
    display: block;
}

.button-like button {
    border: 0;
    margin: 0;
    width: 100%;
    text-align: inherit;
    color: var(--button-grey);
    font: inherit;
    cursor: pointer;
    text-transform: uppercase;
}

a.button-like, .button-like button, button.button-like, .plain-page button, input[type=submit] {
    padding: 8px 18px;
}

.action-button-wrap {
    display: flex;
    column-gap: 1em;
}

.with-dropdown a.button-like {
    height: 1.25em;
}

.button-like:hover, .with-dropdown ul li:hover, .with-dropdown:hover .dropdown-action-button::before, input[type=submit]:hover, .plain-page button:hover, .with-dropdown:hover .button-like {
    background: var(--button-bg-regular);
    color: var(--button-grey);
    cursor: pointer;
}

.with-dropdown {
    position: relative;
}

.with-dropdown .button-like {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 2.5em;
}

.dropdown-action-button::before {
    content: '\f078';  /* downwards caret */
    font-family: 'Font Awesome 7 Free', monospace;
    font-weight: 900;

    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border: var(--stroke) solid var(--button-grey);

    padding: 8px 8px;
    position: absolute;
    right: 0;
    top: calc(-3em + var(--stroke) - 0.01px); /** 0.01px because of a potential subpixel rounding error */
    height: 1.25em;
    z-index: var(--z-button);
}

.with-dropdown:hover ul {
    z-index: var(--z-button-dropdown);
}

.with-dropdown ul {
    position: absolute;
    right: 0;
    display: block;
    margin-top: calc(2.5em + (var(--stroke) * 3));
    border-radius: var(--radius);
    border-top-right-radius: 0;
    width: fit-content;
    min-width: calc(100% + var(--radius));
    top: calc(var(--stroke) * -1);
}

.with-dropdown ul li {
    display: none;
    background: var(--button-bg-regular);
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 18px;
    border: var(--stroke) solid var(--button-grey);
}

.with-dropdown ul li:not(:last-child) {
    border-bottom: var(--stroke) solid var(--button-grey);
}

.with-dropdown ul li:first-child {
    border-top-left-radius: var(--radius);
}

.with-dropdown ul li:last-child {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.with-dropdown:hover .button-like {
    border-bottom-left-radius: 0;
}

.with-dropdown ul li a {
    padding: 0;
}

.with-dropdown:hover .dropdown-action-button::before {
    border-bottom-right-radius: 0;
    background: var(--button-grey);
    color: var(--button-bg-regular);
}

.with-dropdown:hover ul li {
    display: block;
}