.plain-page #main-content {
    max-width: var(--max-width);
    margin: 0 auto;
    border-bottom: 1px solid var(--button-grey);
    padding: var(--spacing-regular);
    font-size: var(--font-normal);
}

.plain-page.narrow #main-content {
    max-width: calc(var(--max-width) * 0.5);
}

.plain-page h2, .plain-page h3, .plain-page h4, .plain-page h5 {
    font-family: Chivo, sans-serif;
    font-size: var(--font-h0);
}

.plain-page #main-content p a {
    color: var(--fourcat-accent);
    text-decoration: none;
    border-bottom: 2px solid;
}

.plain-page #main-content p a:hover,
.plain-page #main-content p a:active {
    border-bottom: 3px solid;
}