#processor-options {
    padding: var(--spacing-large);
    max-width: var(--max-width);
    margin: 0 auto;
}

#processor-options .processor-description {
    font-size: 1rem;
    margin-top: 0;
}

.processor-header .quick-links {
    flex-grow: 0;
}

.processor-header .actions {
    margin-left: auto;
}

fieldset {
    border: none;
}

#processor-options .processor-queue-button {
    margin-top: var(--spacing-regular);
}

.notice {
    background-color: var(--yellow-light);
    color: var(--orange);
    padding: var(--spacing-regular);
}