<!DOCTYPE html>
<head>
    <title>4CAT &bull; Network visualisation &bull; {{ dataset.get_label() }}
        ({{ dataset.get_results_path().name }})</title>
    <script type="text/javascript" src="{{ url_for("static", filename="js/sigma/sigma.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/sigma/graphology.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="js/sigma/graphology-library.min.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/sigma_network.css") }}">
    <link href="{{ url_for("static", filename="fontawesome/css/fontawesome.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="fontawesome/css/regular.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="fontawesome/css/solid.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="fontawesome/css/brands.css") }}" rel="stylesheet">
    <script type="module" src="{{ url_for("static", filename="js/sigma_network.js") }}"></script>
</head>
<body>
<!-- Control panel -->
<div id='control-panel'>

    <div id="network-name-box" class="control-panel-notice">
        <i class="fa fa-project-diagram"></i> {{ dataset.top_parent().get_label() }} &raquo; {{ dataset.get_own_processor().title }}
    </div>

    <div id="graph-manipulation">

        <!-- Settings ForceAtlas2 / gravity -->
        <div class="graph-manipulation-box" id="network-settings">
            <h2 class="graph-manipulation-box-header">Layout</h2>

            <!-- Start / stop ForceAtlas2 -->
            <div class="graph-manipulation-subbox" id="start-layout-container">
                <select name="graph-layout" id="graph-layout">
                    <option value="fa2">ForceAtlas2</option>
                    <option value="circlepack">Circle Pack</option>
                </select>
                <button id="start-layout" class="standalone-button">
                    <i id="hourglass" class='fa fa-spin fa-sync-alt invisible'></i>
                    <span class="button-text"><i class="fa fa-play"></i> Start ForceAtlas2</span>
                </button>
                <a href="https://graphology.github.io/standard-library" rel="external" target="_blank"
                   class="button-byline">Reference</a>
            </div>
            <!-- Other network settings -->
            <div class="graph-manipulation-subbox layout-parameters" data-layout="fa2">
                <p><label for="gravity">Gravity: </label>
                    <input class="parameter-input" id="gravity" name="gravity" type="number" min="1" value="1">
                </p>
                <p><label for="strong-gravity">Strong gravity: </label>
                    <input class="parameter-input" id="strong-gravity" name="strong-gravity" type="checkbox">
                </p>
                <p><label for="edge-weight-influence">Edge weight influence: </label>
                    <input class="parameter-input" id="edge-weight-influence" name="edge-weight-influence" type="number"
                           min="0" value="0">
                </p>
                <p><label for="scaling-ratio">Scaling ratio: </label>
                    <input class="parameter-input" id="scaling-ratio" name="scaling-ratio" type="number" min="1"
                           value="1">
                </p>
                <p><label for="linlog-mode">LinLog mode: </label>
                    <input class="parameter-input" id="linlog-mode" name="linlog-mode" type="checkbox">
                </p>
                <p><label for="outbound-attraction-distribution">Outbound Attraction Distribution: </label>
                    <input class="parameter-input" id="outbound-attraction-distribution"
                           name="outbound-attraction-distribution" type="checkbox">
                </p>
                <p><label for="adjust-sizes">Adjust sizes: </label>
                    <input class="parameter-input" id="adjust-sizes" name="adjust-sizes" type="checkbox" value="">
                </p>
                <p><label for="barnes-hut-optimise">Barnes-Hut optimise: </label>
                    <input class="parameter-input" id="barnes-hut-optimise" name="barnes-hut-optimise" type="checkbox"
                           checked>
                </p>
                <p><label for="barnes-hut-theta">Barnes-Hut theta: </label>
                    <input class="parameter-input" id="barnes-hut-theta" name="barnes-hut-theta" type="number" min="0"
                           value="0.5">
                </p>
                <p><label for="slow-down">Slow down: </label>
                    <input class="parameter-input" id="slow-down" name="slow-down" type="number" value="1">
                </p>
            </div>

        </div>


        <!-- Visual settings -->
        <div class="graph-manipulation-box" id="visual-settings">
            <h2 class="graph-manipulation-box-header">Visual</h2>
            <h3 class="graph-manipulation-box-header">Nodes and edges</h3>
            <div class="graph-manipulation-subbox">
                <p><label for="show-nodes">Show nodes: </label>
                    <input class="parameter-input" id="show-nodes" name="show-nodes" type="checkbox" checked>
                </p>
                <p><label for="show-edges">Show edges: </label>
                    <input class="parameter-input" id="show-edges" name="show-edges" type="checkbox" checked>
                </p>
                <p><label for="min-degree">Minimum degree: </label>
                    <input class="parameter-input" id="min-degree" name="min-degree" type="range" min="0" max="1"
                           value="0" step="0.1">
                </p>
                <p><label for="min-node-size">Minimum node size: </label>
                    <input class="parameter-input" id="min-node-size" name="min-node-size" type="number" min="1"
                           value="1">
                </p>
                <p><label for="max-node-size">Maximum node size: </label>
                    <input class="parameter-input" id="max-node-size" name="max-node-size" type="number" min="1"
                           value="10">
                </p>
            </div>
            <h3 class="graph-manipulation-box-header">Colours</h3>
            <div class="graph-manipulation-subbox">
                <p>
                    <label for="node-colouring">Colour nodes by:</label>
                    <select id="node-colouring" name="node-colouring">
                        <option value="static" selected>Single colour (set below)</option>
                        <option value="degree">Degree</option>
                        <option value="attribute-community">Community (Louvain)</option>
                    </select>
                </p>
                <p><label for="node-colour">Node colour: </label>
                    <input class="parameter-input" id="node-colour" name="node-colour" type="color" value="#CE1B28">
                </p>
                <p><label for="edge-colour">Edge colour: </label>
                    <input class="parameter-input" id="edge-colour" name="edge-colour" type="color" value="#FFA5AC">
                </p>
                <p><label for="label-colour">Label colour: </label>
                    <input class="parameter-input" id="label-colour" name="label-colour" type="color" value="#00000">
                </p>
            </div>
            <h3 class="graph-manipulation-box-header">Labels</h3>
            <div class="graph-manipulation-subbox">
                <p><label for="label-threshold">Labeling threshold: </label>
                    <input class="parameter-input" id="label-threshold" name="label-threshold" type="range" min="0" max="15" step="0.5">
                </p>
                <p><label for="label-size">Label density: </label>
                    <input class="parameter-input" id="label-size" name="label-size" type="number" min="1" value="14">
                </p>
                <p><label for="label-size-type">Size labels by node size: </label>
                    <input class="parameter-input" id="label-size-type" name="label-size-type" type="checkbox">
                </p>
            </div>
        </div>
    </div>

</div>

<!-- Where the network graph will be -->
<div id="graph-container" data-source="{{ url_for('get_result', query_file=dataset.result_file)[:-1] }}">
</div>


</body>