{% set tooltips = {} %}
<div class="datasource-toggle-form">
    <table>
        <thead>
            <tr>
                <th>Enabled data sources</th>
                {% for column_id, column in settings.columns.items() %}
                    <th>{{ column.help }}
                    {% if column.tooltip %}
                    <button class="tooltip-trigger" aria-controls="tooltip-setting-{{ column_id }}" aria-label="Extended help for option">?</button>
                    {% set x = tooltips.__setitem__(column_id, column.tooltip) %}
                    {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for datasource, datasource_config in datasources_config.items() %}
            {% if datasource_config.enabled %}
            <tr>
                <td>{{ datasource_config.name }}</td>
                {% for column_id, column in settings.columns.items() %}
                <td>
                    {% set column_value = "" %}
                    {% if datasource in settings.default and settings.default[datasource][column_id] %}
                        {% set column_value = settings.default[datasource][column_id] %}
                    {% endif %}
                    {% if column.type == "string" %}
                        <input type="text" name="option-{{ option }}-{{ datasource }}-{{ column_id }}" value="{{ column_value }}">
                    {% elif column.type == "toggle" %}
                        <input type="checkbox" name="option-{{ option }}-{{ datasource }}-{{ column_id }}" {% if column_value == true %}checked{% endif %}>
                    {% elif column.type == "choice" %}
                        <select name="option-{{ option }}-{{ datasource }}-{{ column_id }}">
                        {% for value, label in column.options.items() %}
                            <option value="{{ value }}" {% if column_value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% for tooltip, tooltip_text in tooltips.items() %}
    <p role="tooltip" class="multiple" id="tooltip-setting-{{ tooltip }}" aria-hidden="true">{{ tooltip_text }}</p>
    {% endfor %}
</div>
