<div class="extension-toggle-form broad-toggle-form">
    <input name="option-{{ option }}" type="hidden" value="{{ extensions_config|list|join(",") }}">
    <table>
        <thead>
        <tr>
            <th colspan="2">Extension</th>
        </tr>
        <tr class="table-controls">
            <td><input type="checkbox" class="copy-from d-e-enabled"></td>
            <td class="italic">(change all)</td>
        </tr>
        </thead>
        <tbody>
{% for extension, extension_config in extensions_config.items() %}
        <tr>
            <td><input class="copy-to d-e-enabled" type="checkbox" name="option-{{ option }}-enable-{{ extension }}" id="forminput-{{ option }}-{{ extension }}"{% if extension_config.enabled %} checked{% endif %}></td>
            <td>{{ extension_config.name }}</td>
        </tr>
{% endfor %}
        </tbody>
    </table>
</div>
