<input name="{{ field_name }}" id="forminput-{{ option }}"
       {%- if settings.min is defined and settings.min is not none %} min="{{ settings.min }}"{% endif %}
       {%- if settings.max is defined and settings.max is not none %} max="{{ settings.max }}"{% endif %}
       {%- if settings.min is defined and settings.min is not none and settings.min|float > 0 %} step="{{ settings.min }}"{% elif settings.min is defined and settings.min is not none and settings.min|float == 0 %} step="any"{% endif %}
       type="{% if (settings.min is defined and settings.min is not none) or (settings.max is defined and settings.max is not none) %}number{% elif settings.password %}password{% else %}text{% endif %}"
       value="{{ settings.default }}" data-default="{{ settings.original_default }}">
