{% extends "layout.html" %}

{% block title %}Log in{% endblock %}
{% block body_class %}login_page{% endblock %}

{% block body %}
    <div class="middle-wrapper">
        <div class="login-form">
            <h2><span>Log in</span></h2>
            <article>
                <p>Please log in to access 4CAT. Alternatively, you may connect from the University of Amsterdam
                through its local network or a VPN; this will log you in automatically.</p>
                {% for notice in flashes %}
                <p class="form-notice">{{notice}}</p>
                {%  endfor %}
                <form action="" method="POST">
                    <div class="form-element">
                        <label for="form-username">Name</label>
                        <input type="text" name="username" id="form-username">
                    </div>
                    <div class="form-element">
                        <label for="form-password">Password</label>
                        <input type="password" name="password" id="form-password">
                    </div>
                    <div class="form-footer">
                        <button>Log in</button>
                    </div>
                </form>
            </article>
            <footer class="form-footer">
                <nav>
                    <ul class="flat">
                        <li><a href="/request-account/">Request account</a></li>
                        <li><a href="/request-password">Recover password</a></li>
                        <li><a href="/page/data-policy">Data policy</a></li>
                    </ul>
                </nav>
            </footer>
        </div>
    </div>
{% endblock %}