{% extends "layout.html" %}

{% block title %}Request password{% endblock %}
{% block body_class %}plain-page markdown-page {{ body_class }}{% endblock %}

{% block body %}
    <article class="small">
    <section>
        <h2><span>Request password</span></h2>
        <p>If you have lost your {{ __tool_name }} password you can request a reset. Please enter your username below and we will
            send you a link through which your password can be reset.</p>
        <p>Note that your username is typically your e-mail address.</p>

        <form action="{{ url_for('request_password') }}" method="POST" class="wide">
            {% for notice in flashes %}
                <p class="form-notice">{{ notice }}</p>
            {% endfor %}
            <div class="form-element{% if "username" in incomplete %} missing{% endif %}">
                <label for="request-username">Username</label>
                <input type="text" name="username" id="request-username" value="{{ form.username }}">
            </div>
            <div class="submit-container">
                <button>Request password</button>
            </div>
        </form>
            <footer class="form-footer">
                <nav>
                    <ul class="flat">
                        <li><a href="{{ url_for('request_access') }}">Request access</a></li>
                        <li><a href="{{ url_for('request_password') }}">Recover password</a></li>
                        <li><a href="{{ url_for('show_page', page='data-policy') }}">Data policy</a></li>
                    </ul>
                </nav>
            </footer>
    </section>
    </article>
{% endblock %}
