{% extends "layout.html" %}

{% block title %}Reset password{% endblock %}
{% block body_class %}plain-page markdown-page {{ body_class }}{% endblock %}

{% block body %}
    <article>
        <h2><span>Reset password</span></h2>
        <p>Hello {{ username }}! Please enter your new password below. Note that passwords should be at least 8 characters.</p>

        <form action="{{ url_for('reset_password') }}" method="POST" class="wide">
            {% for notice in flashes %}
                <p class="form-notice">{{ notice }}</p>
            {% endfor %}
            <div class="form-element{% if "password" in incomplete %} missing{% endif %}">
                <label for="request-password">Password</label>
                <input type="password" name="password" id="request-password" value="{{ form.username }}">
            </div>
            <div class="form-element form-footer">
                <input type="hidden" name="token" value="{{ token }}">
                <button>Reset password</button>
            </div>
        </form>
    </article>
{% endblock %}
