<header>
    {%- if not pseudonymised %}
       <a href="{{ item.url }}" target="_blank"><span class="external-url" title="Go to original item"><i class="fas fa-external-link-alt"></i></span></a>
       <span class="author"><strong><a href="https://instagram.com/{{ item.get('author') }}">{{ item.get("author") }}</a></strong>
       {%- if item.get("is_verified") -%} <i class="fa-solid fa-circle-check verified"></i>{% endif %}</span>
       {%- if item.get("coauthors") %}
            {%- set coauthors = item["coauthors"].split(",") -%}
            {%- for coauthor in coauthors %}{%- if loop.index == coauthors | length %}<span> and </span>{%- else %}<span>, </span>{% endif %}
                <span class="author"><strong><a href="https://instagram.com/{{ coauthor }}">{{ coauthor }}</a></strong></span>
           {%- endfor -%}
        {%- endif -%}
       <span class="time"> {{ item.get("timestamp") }}</span>
    {% else %}
       <span title="Pseudonymous author" class="author">
            <i class="fa fa-user-secret tooltip-trigger"></i>
        </span>
    {% endif %}
    {% if item.get("location_name") %}
    <div class="location">
       <a href="https://instagram.com/explore/locations/{{ item.get('location_id') }}/{{ item.get('location_name')}}" target="_blank">{{ item.location_name }}</a>
    </div>
    {% endif %}
</header>

<div class="carousel-wrapper" id="carousel-{{ item.id }}">
    <div class="media-wrapper">

        {% if item.id in media_files %}
            {% set total_media = media_files[item.id]|length %}

            {% for media_file in media_files[item.id] %}
                {% set filename = media_file[1] %}
                {% set file_ext = filename.split(".")[-1].lower() %}
                {% set dataset_key = media_file[0] %}
                <div class="carousel-slide {% if loop.first %}active{% endif %}">
                    {% include 'explorer/media.html' %}
                </div>
            {% endfor %}

            {% if total_media > 1 %}
                <button class="carousel-btn prev" data-item-id="{{ item.id }}" data-step="-1">&#10094;</button>
                <button class="carousel-btn next" data-item-id="{{ item.id }}" data-step="1">&#10095;</button>

                <div class="media-bullets">
                   {% for i in range(total_media) %}
                      <span class="dot {% if loop.first %}active{% endif %}"></span>
                   {% endfor %}
                </div>
            {% endif %}

        {% else %}
            <div class="no-media">
                <i class="fa-solid fa-video-slash"></i> Use the <a href="/results/{{ dataset.key }}/#processor-list-item-image-downloader">Download images</a> and <a href="/results/{{ dataset.key }}/#processor-list-item-image-downloader">Download videos</a> processors to display Instagram media here.
            </div>
        {% endif %}
    </div>
</div>

<article class="item-content">
    {% if item.num_likes %}
    <div class="likes"><strong>{{ item.get("num_likes") | commafy }} likes</strong></div>
    {% endif %}
    <div class="body">{{ item.get("body") | social_mediafy(datasource='instagram') | safe }}</div>
    {% if item.num_comments %}
       {% if pseudonymised %}
       <div class="comments">{{ item.get("num_comments") | commafy }} comments</div>
       {% else %}
       <div class="comments"><a href="{{ item.url }}/comments" target="_blank">View all {{ item.get("num_comments") | commafy }} comments</a></div>
       {% endif %}
    {% endif %}
</article>