.slide-enter {
    transition: transform 0.2s linear;
    will-change: transform;
    backface-visibility: hidden;
}

.slide-from {
    transform: translateY(100vh);
}

.slide-to {
    transform: translateY(0);
}