.worker-list li > * {
    display: inline-block
}

.worker-list li {
    padding: 0.75em 1em 0.5em 1em;
}

.user-panel {
    padding: 1em;
}

table.fullwidth.cp-table {
    width: 100%;
}

.cp-table p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.cp-table .button-like {
    padding: 0 0.5em;
}

table.cp-table td {
    padding: 0.25em;
}

table.cp-table .actions {
    width: 8em;
}

table td[colspan] {
    text-align: center;
}

.user-table td:nth-child(2), .notification-table td:nth-child(3) {
    text-align: center;
}

.user-panel .view-controls form {
    width: 100%;
}

.user-panel .view-controls ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
}

.user-panel .view-controls ul li:first-child {
    text-align: left;
}

.settings fieldset {
    border: 0;
}

.settings article {
    max-width: 50%;
}

.settings .form-element label {
    min-width: 15em;
}

.settings input[type=text] {
    width: 25em;
    max-width: 25em;
}