.admin-nav .button-container {
    padding-top: 0;
    padding-bottom: 2em;
}

.admin-nav .button-container li {
    margin: 0;
}

.worker-list li > * {
    display: inline-block
}

.worker-list li {
    padding: 0.75em 1em 0.5em 1em;
}

.user-panel {
    padding: 1em;
}

table.fullwidth.cp-table {
    width: 100%;
}

.cp-table p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.cp-table .button-like, .cp-table button {
    padding: 0 0.5em;
}

table.cp-table td {
    padding: 0.25em;
}

table.cp-table .actions {
    width: 12em;
    vertical-align: middle;
}

table td[colspan] {
    text-align: center;
}

.user-table td:nth-child(2), .notification-table td:nth-child(3) {
    text-align: center;
}

.user-panel .view-controls form {
    width: 100%;
}

.user-panel .view-controls ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
}

.user-panel .view-controls ul li:first-child {
    text-align: left;
}

.user-byline {
    font-size: 0.8em;
}

.settings fieldset {
    border: 0;
}

.settings article:not(.fullsize) {
    max-width: 50%;
}

.settings .form-element label {
    min-width: 15em;
}

.settings .tab-container input[type=text] {
    width: 25em;
    max-width: 25em;
}

.datasource-toggle-form .form-element {
    min-height: auto;
}

.datasource-toggle-form fieldset {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.user-controls > div, .user-controls > form > * {
    margin: 1em auto;
}

.user-controls > form > * {
    display: block;
}

.user-controls > div {
    text-align: center;
}

.tab-container > div {
    padding-top: 1em;
}

.tab-controls .matching {
    border-right: 5px solid var(--accent-alternate);
}

.config-tag-info {
    text-align: center;
    border-bottom: 2px solid var(--contrast-dark);
    padding: 1em;
}

.is-changed input, .is-changed select, .is-changed textarea {
    border-color: var(--accent);
}

.is-changed label {
    color: var(--accent);
}

#tag-order i {
    border: 2px solid var(--contrast-dark);
    background: var(--contrast-bright);
    color: var(--text);
    display: inline-block;
    border-radius: 0.2em;
    padding: 0.1em 0;
}

#tag-order i.handle {
    cursor: ns-resize;
}

ol#tag-order li:nth-child(2n) {
    background: inherit;
}

#tag-order li:not(:last-child) {
    border-bottom: 1px dotted var(--contrast-dark)
}

#tag-order li:first-child {
    border-top: 1px dotted var(--contrast-dark)
}