/*

See https://github.com/digitalmethodsinitiative/4cat/wiki/Exploring-and-annotating-datasets for information on how to add custom CSS.

 */

@import url('colours.css');

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    src: url("../fonts/OpenSans-Italic.ttf")
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/OpenSans-BoldItalic.ttf")
}

/** --------------------- *
     items
  * --------------------- */
.item {
    font-family: "Open Sans", sans-serif;
    list-style: none;
    padding: 0;
}

.items li.item {
    position: relative;
    background: var(--gray-light);
    padding: 1em;
    min-width: 640px;
    max-width: 860px;
    margin: 0 auto 1em auto;
}

.items header {
    display: inline;
    border-bottom: 1px solid #000;
    cursor: default;
}

.items article {
    margin-top: 0.5em;
}

.items article .item-content {
    margin: 10px 0;
}

.items header .author {
    font-weight: bold;
}

.items header span {
    display: inline-block;
}

.items header span:not(:last-child)::after {
    content: '\2022';
    margin-left: 0.5em;
}

.tags,
.metrics,
.external-url {

}

.items li.item .item-content a {

}

.items .external-url {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.items .external-url.deactivated {
    color: #cbcbcb;
    cursor: not-allowed;
}


span.divider {
    font-size: 16px;
    color: var(--gray-darker);
    cursor: default;
}


/* Media carousel */
.carousel-wrapper {
    margin-top: 15px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--gray);
}

.carousel-slide {
    display: none;
    width: 100%;
}

.carousel-slide.active {
    display: block;
}

.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    z-index: 10;
}

.carousel-btn.prev {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.carousel-btn.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.items .media-wrapper .media-bullets {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
    z-index: 10;
}

.items .media-wrapper .media-bullets .dot {
    height: 6px;
    width: 6px;
    margin: 0 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.items .media-wrapper .media-bullets .dot.active {
    background-color: rgba(255, 255, 255, 1);
}

.items .media-wrapper video, .items .media-wrapper img, .items .media-wrapper audio {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

.items .media-wrapper audio {
    width: 100%;
}
