*, code, select, input, textarea {
	font-family: 'Trebuchet MS';
	color: #0f0f16;
}

select, input, textarea {
	background: #EFEFEF;
}

a {
	color: #ce1b28;
}

a:hover {
	color: #ff2231;
}

.permalink::before {
	border-color: #ce1b28;
}

.permalink:hover::before {
	border-color: #ff2231;
}

h1, h2, h3.blocktitle, #submitpaneltitle, #resultsheader {
	background: #ce1b28;
	font-weight: bold;
}

h1 span, h2 span, h3 span, h3.blocktitle span, #submitpaneltitle div, #resultsheader div {
	background: transparent;
	text-transform: none;
	padding: 0.5em 0;
}

h1 a:hover, h2 a:hover, h3.blocktitle a:hover {
	color: #EFEFEF;
}

.main-nav {
	background: #21202e;
}

.main-nav li a, .main-nav li:not(:last-child):after {
	color: #FFF;
}

.fixed-footer {
	background: #21202e;
	color: #FFF;
}

.fixed-footer,.fixed-footer a {
	color: #FFF;
}

nav > ul.flat > li {
	color: #FFF;
}

.zebra, .result-list > li:nth-child(even), .postprocessor-wrap .postprocessor-list > li:nth-child(even), .frontpage ol li:nth-child(even) {
	background: #EEE;
}

.col-lg-3.topdiv, #buttonselections {
	background: #EEE;
}