@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	src: url("../fonts/OpenSans-Italic.ttf")
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/OpenSans-BoldItalic.ttf")
}

*, code, select, input, textarea {
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
}

body {
	background: #F5F5F5;
	color: #37373c;
}

section, article, aside, #filterinput, #results {
	background: #FFF;
}

.frontpage aside, .plain-page article, .frontpage section, .pagination li.page a, .pagination li.page .current, input, select, textarea, .login-form h2, .login-form article {
	border: 1px solid #E9E9E9;
}

.frontpage > article, section.result-tree {
	background: transparent;
	border: 0;
}

select, input, textarea {
	background: #E9E9E9;
}

a {
	color: #ce1b28;
}

a:hover {
	color: #ff2231;
}

code {
	color: #19b0a3;
}

.permalink::before {
	border-color: #ce1b28;
}

.permalink:hover::before {
	border-color: #ff2231;
}

h1, h2, h3.blocktitle, #submitpaneltitle, #resultsheader {
	background: #21202E;
	font-weight: bold;
}

h1 {
	background: #ce1b28;
}

h2, h3.blocktitle, #submitpaneltitle, #resultsheader, .login-form h2 {
	border-left: 0.5em solid #ce1b28;
}

h1 span, h2 span, h3 span, h3.blocktitle span, #submitpaneltitle div, #resultsheader div {
	background: transparent;
	text-transform: none;
	padding: 0.5em 0;
}

h4.section-subheader {
    color: #FFF;
}

h1 a:hover, h2 a:hover, h3.blocktitle a:hover {
	color: #E9E9E9;
}

.main-nav {
	background: #21202e;
	box-shadow: 0 5px 10px #888;
}

.main-nav li a, .main-nav li:not(:last-child):after {
	color: #FFF;
}

.login-form h2 {
	border-bottom: 0;
}

.login-form article {
	border-top: 0;
}

.fixed-footer {
	background: #21202e;
	color: #FFF;
	background-image: url('/static/img/LogoOdycceus.svg');
	background-repeat: no-repeat;
	background-position: -1.75em 0.35em;
	background-size: 12.5%;
}

.fixed-footer,.fixed-footer a {
	color: #FFF;
}

nav > ul.flat > li {
	color: #FFF;
}

.zebra, .result-list > li:nth-child(even), .postprocessor-wrap .postprocessor-list > li:nth-child(even), .frontpage ol li:nth-child(even) {
	background: #EEE;
}

.col-lg-3.topdiv, #buttonselections {
	background: #EEE;
}

.postprocessor-tree > ul > li::before {
	height: 0.55em;
}

.result-warning {
	background: #eee;
}