@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	src: url("../fonts/OpenSans-Italic.ttf")
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/OpenSans-BoldItalic.ttf")
}

:root {
    --penelope-red: #CE1B28;
    --penelope-highlight: #FF2231;
    --penelope-alternate: #19B0A3;
    --penelope-gray: #E9E9E9;
    --penelope-gray-alternate: #EEE;
    --penelope-white: #F5F5F5;
    --penelope-black: #21202E;
    --white: #FFF;
    --text: #37373C;
}

*, code, select, input, textarea {
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
}

body {
	background: var(--penelope-white);
	color: var(--text);
}

section, article, aside, #filterpanel, #results {
	background: var(--white);
}

.frontpage aside, .plain-page article, .frontpage section, .pagination li.page a, .pagination li.page .current, input, select, textarea, .login-form h2, .login-form article {
	border: 1px solid var(--penelope-gray);
}

.frontpage > article, section.result-tree {
	background: transparent;
	border: 0;
}

select, input, textarea {
	background: var(--penelope-gray);
}

a {
	color: var(--penelope-red);
}

a:hover {
	color: var(--penelope-highlight);
}

code {
	color: var(--penelope-alternate);
}

.permalink::before {
	border-color: var(--penelope-red);
}

.permalink:hover::before {
	border-color: var(--penelope-highlight);
}

h1, h2, h3.blocktitle, #submitpaneltitle, #resultsheader {
	background: var(--penelope-black);
	font-weight: bold;
}

h1 {
	background: var(--penelope-red);
}

h2, h3.blocktitle, #submitpaneltitle, #resultsheader, .login-form h2 {
	border-left: 0.5em solid var(--penelope-red);
}

h1 span, h2 span, h3 span, h3.blocktitle span, #submitpaneltitle div, #resultsheader div {
	background: transparent;
	text-transform: none;
	padding: 0.5em 0;
}

h4.section-subheader {
    color: var(--white);
}

h1 a:hover, h2 a:hover, h3.blocktitle a:hover {
	color: var(--penelope-gray);
}

.main-nav {
	background: var(--penelope-black);
	box-shadow: 0 5px 10px #888;
}

.main-nav li a, .main-nav li:not(:last-child):after {
	color: #FFF;
}

.login-form h2 {
	border-bottom: 0;
}

.login-form article {
	border-top: 0;
}

.fixed-footer {
	background: var(--penelope-black);
	color: var(--white);
	background-image: url('/static/img/LogoOdycceus.svg');
	background-repeat: no-repeat;
	background-position: -1.75em 0.35em;
	background-size: 12.5%;
}

.fixed-footer,.fixed-footer a {
	color: var(--white);
}

nav > ul.flat > li {
	color: var(--white);
}

.zebra, .result-list > li:nth-child(even), .processor-wrap .processor-list > li:nth-child(even), .frontpage ol li:nth-child(even) {
	background: var(--penelope-gray-alternate);
}

.col-lg-3.topdiv, #buttonselections {
	background: var(--penelope-gray-alternate);
}

.processor-tree > ul > li::before {
	height: 0.55em;
}

.result-warning {
	background: var(--penelope-gray-alternate);
}

.pagination li.page a:hover, .pagination li.page a:focus {
    background: var(--penelope-black);
}

.flashing, .flashing .query-core, .flashing .query-core p, .flashing .query-core .property-badge { animation: flash 0.5s 3 normal forwards; }
@keyframes flash {
	from { border-color: var(--penelope-black); color: var(--penelope-red); }
	50% { border-color: var(--penelope-red); color: var(--penelope-red); }
	to { border-color: var(--penelope-black); color: var(--penelope-black); }
}