@font-face {
    font-family: 'fixedsys';
    src: url("../fonts/fsex300-webfont.woff")
}

html, body {
    width: 100%;
    height: 100%;
}

* {
    font-family: 'fixedsys', 'Courier';
}

#chart {
    height: 100%;
    width: 100%;
    overflow: visible;
    clear: left;
    margin: 25px;
    margin-top: 40px;
}

svg {
    overflow: scroll !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}