body {
	color: black;
}

.items li.item {
	border-radius: 10px;
	padding: 20px;
	max-width: 200px;
	background-color: white;
	border-bottom: 1px grey;
}


.items li.item .preview {
	display: block;
	margin: 0 auto;
	max-width: 300px;
}

