<div class="post-content">
	<header>
		{% if post.inclusion_context %}
			<div class="inclusion-context">{{ post.inclusion_context }}</div>
		{% endif %}

		<div class="metadata">
		{% if not pseudonymised %}
			<!-- Possible external link, if not pseudonymised -->
			<a href="{{ post.post_url }}" target="_blank"><span class="external-url" title="Go to original post"><i class="fas fa-external-link-alt"></i></span></a>
			
			<!-- Profile pic -->
			{% if post["author_avatar_url"] %}
				<div class="author-avatar">
					<a href="https://linkedin.com/{{ post.get('author') }}" target="_blank">
						<img src="{{ post.get('author_avatar_url') }}">
					</a>
				</div>
			{% endif %}
			
			<!-- Author info and time -->
			<div class="author">
				<div class="author-name"><a href="https://linkedin.com/{{ post.get('author') }}" target="_blank"><strong>{{ post.get("author_name") }}</strong></a></div>
				<div class="author-description">{{ post.get("author_description") }}</div>
				<div class="time">{{ post.get("timestamp") }}</div>
			</div>

		{% else %}
			<div class="author">
				<div class="author-name"><span title="Pseudonymous author" class="author"><i class="fa fa-user-secret tooltip-trigger"></i></span></div>
				<div class="time">{{ post.get("timestamp") }}</div>
			</div>
		{% endif %}
		</div>
	</header>

	<!-- Post text content -->
	<div class="body">{{ post.get("body") | social_mediafy(datasource='linkedin') | safe }}</div>

	<!-- Media item -->
	{% if post["image_urls"] or post["video_thumb_url"] %}
		<div class="media-container">
		{% if post["image_urls"] %}
			{% for image_url in post["image_urls"].split(",") %}
				<img src="{{ image_url }}">
			{% endfor %}
		{% elif post["video_thumb_url"] %}
			<div class="video-thumb"><img src="{{ post.video_thumb_url }}"></div>
			<div class="play-button"><i class="fa-solid fa-play"></i></div>
		{% endif %}
		</div>
	{% endif %}
	

	<!-- Post metrics -->	
	<div class="metrics">
		{% for reaction_type in ["reaction_like","reaction_empathy","reaction_praise","reaction_entertainment","reaction_appreciation","reaction_interest"] %}
			{% if reaction_type in post and post[reaction_type] > 0 %}
				<span><img src="{{ url_for('static', filename='explorer-assets/linkedin_' + reaction_type + '.svg') }}"></img> {{ post[reaction_type] }}</span>
			{% endif %}
		{% endfor %}
		<span class="shares-and-comments">
			{% if post.get("shares") and post["shares"] > 0 %}
				<span class="shares">{{ post.get("shares") | numberify }} reposts</span>
			{% endif %}
			{% if (post.get("shares") and post["shares"] > 0) and (post.get("comments") and post["comments"] > 0) %} • {% endif %}
			{% if post.get("comments") and post["comments"] > 0 %}
				<span class="comments">{{ post.get("comments") | numberify }} comments</span>
			{% endif %}
		</span>
	</div>

</div>