<div class="post-table">
	<div class="post-table-row">
		<div class="profile-picture">
			{% if not pseudonymised %}
			<img src="{{ post.get('author_avatar_url') }}">
			{% else %}
			<span title="Pseudonymous author" class="author"><i class="fa fa-user-secret tooltip-trigger"></i></span>
			{% endif %}
		</div>
		<div class="post-content">
			<header>
				{% if not pseudonymised %}
					<span class="author"><strong><a href="https://twitter.com/{{ post.get('author') }}">{{ post.get("author_fullname")}}</strong> {% if post.get("verified") %} <i class="fa-solid fa-circle-check verified"></i> {% endif %}<span class="atname">@{{ post.get("author") }}</span></a>
						</span>
				{% else %}
					<span title="Pseudonymous author" class="author"><i class="fa fa-user-secret tooltip-trigger"></i></span>
				{% endif %}
					<span class="time">{{ post.get("timestamp") }}</span>

			</header>

			<div class="body">{{ post.body | social_mediafy(datasource='twitter') | safe }}</div>
			
			<!-- Media item -->
			{% if post.get("images") %}
				{% set media_url = post.get("images") %}
			{% elif post.get("videos") %}
				{% set media_url = post.get("videos") %}
			{% endif %}
			{% if media_url %}
			<div class="media-container">
				{% for url in media_url.split(",") %}
					<a href="{{ url }}" target="_blank"><img src="{{ url }}"></a>
				{% endfor %}
			</div>
			{% endif %}

			<!-- Quote tweet -->
			{% if post.get("quote_author") %}
			<div class="quote-post">
				<header>
					
				{% if not pseudonymised %}
					<a href="https://twitter.com/{{ post.get('quote_author') }}"><span class="quote-author atname">@{{ post.get("quote_author") }}</span></a>
				{% else %}
					<span title="Pseudonymous author" class="quote-author"><i class="fa fa-user-secret tooltip-trigger"></i></span>
				{% endif %}
				</header>

				{% if post.quote_body %}
				<div class="body">
					{{ post.quote_body | social_mediafy(datasource='twitter') | safe }}
				</div>
				{% endif %}
				<!-- Quote tweet media item -->
				{% if post.get("quote_images") %}
					{% set media_url = post.get("quote_images") %}
				{% elif post.get("quote_videos") %}
					{% set media_url = post.get("quote_videos") %}
				{% endif %}
				{% if media_url %}
				<div class="media-container">
					{% for url in media_url.split(",") %}
						<a href="{{ url }}" target="_blank"><img src="{{ url }}"></a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% endif %}
			<div class="metrics">
				<span class="comments"><i class="fa-solid fa-comment"></i> {{ post.get("reply_count") | numberify }}</span>
				<span class="retweets"><i class="fa-solid fa-retweet"></i> {{ post.get("retweet_count") }}</span>
				<span class="likes"><i class="fa-solid fa-heart"></i> {{ post.get("like_count") | numberify }}</span>
				{% if post.get("impression_count") %}<span class="impressions"><i class="fa-solid fa-chart-simple"></i> {{ post.get("impression_count") | numberify }}</span>{% endif %}
				<!-- Possible external link, if not pseudonymised -->
				{% if not pseudonymised %}
				<span class="external-url" title="Go to original post"><a href="https://twitter.com/{{ post.author }}/status/{{ post.id }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></span>
				{% endif %}
			</div>
		</div>
	</div>
</div>