<fieldset class="basic-options">
    <p class="form-intro">Note that TikTok is a predominantly video-based platform, and videos cannot currently be
        downloaded via 4CAT. As such 4CAT will be of limited use processing and analysing the data; nevertheless you can
        use this scraper to get a quick list of URLs and metadata for posts for a given username or hashtag. The dataset
        will contain links to all videos scraped.</p>
    <p class="form-intro">Posts are scraped in reverse chronological order; the most recent post for a given query will
        be scraped first. Unfortunately comments cannot be scraped at this time.</p>

{% if current_user.is_admin() or current_user.get_value("tiktok.allow_more_posts", False) %}
<p class="warning form-intro">Your account has been granted an increased upper limit to the amount of posts that can be
    scraped. Scraping TikTok is slow, so be considerate and only query higher amounts of posts when this is really
    needed.</p>
{% endif %}

    <div class="form-element">
        <label for="search-scope">Search by:</label>
        <div>
            <select name="search_scope" id="search-scope">
                <option value="hashtag">Hashtag</option>
                <option value="username">Username</option>
            </select>
        </div>
    </div>

    <p class="form-intro">You can scrape up to <strong>five</strong> items at a time. Separate the items with commas or
        blank lines.
        Including <code>#</code> in hashtags is optional.</p>

    <div class="form-element">
        <label for="query-input">Items to scrape:</label>
        <div>
            <textarea id="query-input" name="query" placeholder="Separate with commas or new lines."></textarea>
        </div>
    </div>

    <div class="form-element country-element">
        <label for="country-code">Posts per item:</label>
        {% if current_user.is_admin() or current_user.get_value("tiktok.allow_more_posts", False) %}
            {% set maxp = 1000 %}
        {% else %}
            {% set maxp = 100 %}
        {% endif %}
        <input name="max_posts" id="max-posts" min="0" max="{{ maxp }}" placeholder="Max: {{ maxp }}" value="10" type="number">
    </div>
</fieldset>