# This will keep the tag:latest up-to-date with all commits and pull requests

name: Test PR for Docker build and run

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events but only for the "master" branch
  pull_request:
    branches: [ "master" ]
jobs:
  test_docker_build:
    name: Test docker-compose up with build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run docker compose up
        run: docker compose -f docker-compose_build.yml up -d
      - name: Check backend container is running
        run: |
          sleep 30
          if [ "$(docker ps | grep 4cat_backend)" ]; then 
              echo "Docker 4cat_backend container is running..."
          else 
              echo -e "Docker 4cat_backend container is not running...\nPrinting 4cat_backend logs:\n\n$(docker container logs 4cat_backend)"
              exit 1
          fi
      - name: Check frontend container is running
        run: |
          sleep 10
          if [ "$(docker ps | grep 4cat_frontend)" ]; then 
              echo "Docker 4cat_frontend container is running..."
          else 
              echo -e "Docker 4cat_frontend container is not running...\nPrinting 4cat_frontend logs:\n\n$(docker container logs 4cat_frontend)"
              exit 1
          fi
      - name: Run modules tests
        run: |
          sleep 30
          echo "::group::Running module tests"
          docker exec -e PYTHONPATH=/usr/src/app 4cat_backend pytest -v tests/test_modules.py
          echo "::endgroup::"
      - name: Print log on failure
        if: failure()
        run: |
          if [ "$(docker ps | grep 4cat)" ]; then 
              docker cp 4cat_backend:/usr/src/app/data/logs/backend_4cat.log ./backend_4cat.log
              echo "::group::Backend logs"
              cat backend_4cat.log
              echo "4cat.stderr logs"
              docker cp 4cat_backend:/usr/src/app/data/logs/4cat.stderr ./4cat.stderr
              cat 4cat.stderr
              echo "::endgroup::"
          else 
              echo "Docker containers not running; check logs in previous steps"
          fi
